[2014-11-30 00:04] Hellowlol opened #4 "Ideas / todo"
- [ ] add more api stuff to sr.  edit show, backlog, change episode search modal. (when ever the api is fixed)
- [ ] ipcamera 3
- [ ] add a trakt module with send to sr, sb, sonarr and cp.
- [ ] add mb3?
- [x] Improve the dash?
- [ ] xbmc module improvements, use ws to send key, sources, add episode modal and season.
- [ ] make a stat process modal
- [ ] Make about tab with sys info etc
- [ ] Uplo

[2014-12-19 06:39] Hellowlol opened #5 "Issue"
From unraid forum.

3. Computer stats doesnt report the Filesystem specified in the docker (/data that point to /mnt/user) even if specified in gui.

[2014-12-20 17:28] olavimmanuel opened #6 "CouchPotato ssl with self signed certificate not working"
HTPC-Manager gives little information on this in its log:

[code]

In couchpotato I get this:

[code]

When using the same settings but without ssl it works. When using the same settings with ssl and styxit/HTPC-Manager it works.

[2014-12-20 21:41] sparklyballs opened #7 "Deluge tab not working"
as per your request on unraid forum

Trying to access the deluge tab results in this screen

![screen shot 2014-12-20 at 21 36 10](https://cloud.githubusercontent.com/assets/4343808/5516361/b2e4352a-8890-11e4-9c5d-06c2747a3d30.png)
and log.

2014-12-20 21:35:14 :: root :: INFO :: Welcome to HTPC-Manager!
2014-12-20 21:35:14 :: root :: INFO :: Loglevel set to info
2014-12-20 21:35:14 :: htpc.update

[2014-12-20 21:52] #7 closed, assigned to nobody

[2014-12-20 21:53] #6 closed, assigned to nobody

[2014-12-22 22:52] blindpet opened #8 "SSL Error Windows"
Cloned today and ran python htpc.py and get this error

c:\HTPCManager>python Htpc.py
2014-12-22 23:50:21 :: root :: INFO :: Welcome to HTPC-Manager!
2014-12-22 23:50:21 :: root :: INFO :: Loglevel set to info
2014-12-22 23:50:21 :: htpc.updater :: INFO :: Using GitUpdater engine
2014-12-22 23:50:21 :: modules.kodi :: WARNING :: No configured kodi-Servers.
2014-12-22 23:50:21 :: modules.stats :: E

[2014-12-23 09:02] #8 closed, assigned to nobody

[2014-12-23 12:35] Hellowlol opened #9 "Feature request VNSTAT in dashboard"
I use VNSTAT on PFSense to track my usage. Anyway to make a simple interface that would pull in Daily/Monthly/Yearly totals of Usage? Something like this implementation - https://github.com/lienma/UpsBoard

[2014-12-24 07:44] Hellowlol opened #10 "Feature request: Mylar"
blindpet commented a day ago

Gotcha, just needed to do a refresh and it works now. Any plans for Mylar or Headphones support?

[2015-01-01 08:07] needo37 opened #11 "[Feature Request] Adding torrent clients to Dashboard"
Would it be difficult to add the torrent clients to the dashboard?

[2015-01-01 09:23] Hellowlol commented on #11
What do you think of? List a list of torrents or all features like stop/add and so on? I think I'll add a a client status where you see download upload speed of the different clients.

[2015-01-01 19:35] needo37 commented on #11
I think it would be cool to have a list of torrents currently being downloaded and maybe just a count of the torrents that are seeding. I like the download/upload speed idea!

[2015-01-01 20:16] Hellowlol commented on #11
I wont be coding this feature myself, if any wants to chip it ill happily merge it. :)

[2015-01-01 20:18] needo37 commented on #11
I'd be happy to help.
On Jan 1, 2015 2:16 PM, "Hellowlol" <notifications@github.com> wrote:

[2015-01-01 20:22] Hellowlol commented on #11
Nice! Im doing some work on the dash now. I want the position of the "modules" to be drag and droppable. But i cant seem save the damn order or disable the soring.

[2015-01-03 16:22] Snipees commented on #4
Since I started using this product, I imagined what could be the perfect interface and I think that a simplified interface, smoother, better organized and more interactive would be 'user-friendly' to my family members and will make more sense for them.

Instead of the current sections, the user interface could be organized around sections: Dashboard, OnDesk, Wanted, InProgess, AddContent, Monitor

[2015-01-03 18:54] Hellowlol opened #12 "Feature requests."

[2015-01-03 18:57] #12 closed

[2015-01-03 19:26] Hellowlol commented on #4
@Snipees Thanks for your requests, its obvious that you have used alot of time and effort on it!

A [Dashboard], similar to the current one, with display of current downloads.
**There will be some sort of current clients, like sab idle speed 0, nzbget idle speed 0, transmission seeding 100 kbs etc, i havnt decided if it gonna take the torrents aswell, it would be alot work.**

Section [AddContent]

[2015-01-04 05:49] ohbarnes opened #13 "CP Link Error"
I am seeing an issue with the below link:

/usr/local/htpcmanager/share/HTPC-Manager/interfaces/default/html/couchpotato.html

In HTPC clicking opens new tab "**about:blank**"

If I change it to the following it works fine:

Great job on this fork by the way - loving it...

[2015-01-04 10:54] Hellowlol commented on #13
Thanks. What browser are you using?

[2015-01-04 11:00] Hellowlol commented on #13
Nvm, found the error. It's two :: in webinteface. I'll fix it later today. I don't have access to my computer now

[2015-01-04 20:35] Hellowlol commented on #13
Fixed

[2015-01-04 20:35] #13 closed

[2015-01-08 11:44] elRadix opened #14 "Plex not working"
It scans the plex servers and populates the data automatically but when I test it, it gives an error
I also entered the correct username/password

modules.plex	ERROR	Unable to fetch currently playing information! Exception: HTTP Error 401: Unauthorized

[2015-01-08 11:46] elRadix commented on #9
+1 like this one

[2015-01-08 11:54] Hellowlol commented on #14
This is when you click the test button?

[2015-01-08 11:58] elRadix commented on #14
yes, the test button is red

[2015-01-08 12:03] Hellowlol commented on #14
Oki. I forgot to check that after plex home support was added. Thanks for reporting the issue. I'll fix it.

[2015-01-08 12:07] elRadix commented on #14
great, let me know when its done ;-)

[2015-01-08 12:09] Hellowlol commented on #14
But to be clear everything else works? You can find the shows, see what playing and so on?

[2015-01-08 12:13] elRadix commented on #14
no, there is no connection with plex so no tv/movies in the dashboard, adding the server is possible but it cant retrieve anything

I have 2 plex servers (Synology and Mac) both are reported in the admin interface but there is no connection possible
[code]

[2015-01-08 12:35] Hellowlol commented on #14
Do you use plex home? It works fine here, both with and without u/p

[2015-01-08 12:37] elRadix commented on #14
no, I am using plex media server, why Home ? does it not work plex media server

[2015-01-08 12:41] Hellowlol commented on #14
Plex home is a new feature in plex media server. You wrote it happen in the dashboard does the module it self work?

[2015-01-08 12:47] elRadix commented on #14
I have home actived in the plex media server, but no no connection, test button remains red, see error logs above

2015-01-08 13:02:56	modules.plex	ERROR	Unable to contact Plex via http://192.168.1.16:32400

[2015-01-08 13:25] Hellowlol commented on #14
I have a hard time finding out why this doesn't work for you since it works here. Can you test styxits version and see if plex works there?

[2015-01-08 13:35] elRadix commented on #14
Just tested with the styxits version, plex worked immediately was able to see movies/tvshows, yours seems broken somehow strange.

[2015-01-08 13:45] Hellowlol commented on #14
Can you update and try again?

[2015-01-08 13:48] elRadix commented on #14
it works now, thank you for your quick support !!!!!!

[2015-01-08 13:50] Hellowlol commented on #14
iPhone debugging few!

[2015-01-08 14:02] #14 closed

[2015-01-08 23:14] Hellowlol commented on #4
I locked this since its intended to be a place where I write down ideas, thing that I consider to add to HTPC manager. Please made a new issue for each future request/issue

[2015-01-09 22:09] Hellowlol commented on #9
@smdion @elRadix Im working on this request. I couldnt find a link to a demo page or a picture to upsboard. How do you want it?

[2015-01-09 22:14] smdion commented on #9
This is how UpStatsBoard Implemented it

Config Items
			"maxSpeed": [60, 4],
			"interface": "em0",
			"vnstatDBDirectory": "/home/vnstat",

Detail Pane:
http://imgur.com/SB9CvjO

Overview:
http://imgur.com/WDkrFvr
Left bar is download, right bar is upload. And it shows the percentage of use based on the defined max-speed

[2015-01-09 22:15] smdion commented on #9
oh.. and thank you!

[2015-01-09 23:13] cirkator opened #15 "Cant add movies in Couchpotato"
Hi, i have a problem adding movies with the CouchPotato module. I have set everything up right, when i enter CPs IP, Port, Username and Password, HTPCManager can fetch the API-Key.
I can view my CP Library and Wanted List. When i want to add a movie and i search for e.g. Spiderman, i can see all available spiderman movies, i click on one and get the detailed view, there i select my desired quality

[2015-01-10 00:22] Hellowlol commented on #15
Can you update to the latest version and test again?

[2015-01-10 00:53] Hellowlol commented on #9
This will not use a db, but pipe it from ssh.

[2015-01-10 01:17] smdion commented on #9
I guess it makes sense not to have a local VN stat running.
On Fri, Jan 9, 2015 at 6:53 PM Hellowlol <notifications@github.com> wrote:

[2015-01-10 06:43] Hellowlol commented on #9
@smdion any chance you can vnstat -dumpdb --xml and paste the content here. It would be great to have some data for the chart(s)

[2015-01-10 08:29] elRadix commented on #9
I have vnstat running om my linux machine
http://www.thegeekstuff.com/2011/11/vnstat-network-traffic-monitor/

this is the frontend
http://www.sqweek.com/sqweek/?p=1

[2015-01-10 08:50] Hellowlol commented on #9
is that the same computer as HTPC manager runs on? If not I'll add option so we don't use ssh

[2015-01-10 09:35] elRadix commented on #9
yes indeed on the same machine, in fact I have it running on a synology nas, no need to ssh in this case.

[2015-01-10 09:52] cirkator commented on #15
Hello, thanks for looking into it.
I just updated but unfortunately nothing has changed. I still cant click on either "add" nor "close" and i am getting the same errormessage :(

[2015-01-10 09:54] Hellowlol commented on #15
Delete browser cache :)

[2015-01-10 10:17] cirkator commented on #15
Haha, what a noob move of mine.
Good News!!!
I deleted my browser cache and have now successfully added a movie. It immediately got downloaded as well, so all is good!

Thanks for this quick fix, i know why i love opensource developers so much. Your dedication is highly appreciated!

[2015-01-10 11:48] #15 closed

[2015-01-10 13:25] Hellowlol commented on #15
It's a common mistake! Your not the first and wount be the last :D thanks for reporting the issue.

[2015-01-10 15:33] smdion commented on #9
I ran this command

vnstat --dbdir /home/vnstat -i em0 --xml

directly on my box that has VNSTAT going (PFSense) and got this output: http://pastebin.com/gDEQxkh7

Your requested command errored out

[2015-01-10 15:37] smdion commented on #9
UpStats board also runs this command to get current data

vnstat --dbdir /home/vnstat -i em0 -tr

Output: http://pastebin.com/p9rFUGbQ

You may want to make the "/home/vnstat" and "em0" a variable so the user can tell sshd where the location of the database is on the remote server and what the name of the interface is.

[2015-01-10 15:39] smdion commented on #9
Don't know if this would be of any help

https://github.com/lienma/UpsBoard/blob/master/core/stats/bandwidth.js

[2015-01-10 15:43] Hellowlol commented on #9
The command I gave works fine on my rpi. But I can always allow the user to choose command to run.

[2015-01-10 15:59] Hellowlol commented on #9
I think it will I'm awful at js

[2015-01-10 16:18] elRadix opened #16 "Multiple Samsung TV remote on main menu"
I would like to ask feature to show multiple tv remove on the main menu so I could manage multiple TVs in my home.

[2015-01-10 16:37] elRadix commented on #9
would that help to call vnstat through php, i am not a dev :-)
https://github.com/bjd/vnstat-php-frontend

[2015-01-10 17:55] Hellowlol commented on #9
No worries, I'll manage thanks for the link.

[2015-01-10 17:58] Hellowlol commented on #16
I'm not gonna add more remotes on the same screen but I could have a dropdown like the xbmc modules have. Would that work for you?

[2015-01-10 18:37] elRadix commented on #16
yes sure, happy with a dropdown approach - more cleaner

[2015-01-10 19:26] Hellowlol commented on #16
Great, I have no eta tho.

[2015-01-10 19:28] cirkator commented on #15
Thanks for fixing it! :)

[2015-01-10 19:33] elRadix commented on #16
sure, no rush ;-) enjoy yr day!

[2015-01-11 23:10] Hellowlol commented on #9
@smdion, @elRadix What about something like this? ![image](https://cloud.githubusercontent.com/assets/1214134/5697392/3970a3d4-99ef-11e4-84db-093e6d1357b8.png)
Still need some work but you get the idea

[2015-01-12 02:24] smdion commented on #9
Looks really nice.  Like the direction you are going.  Maybe a quick summary of "today", "this month" "this year"?

[2015-01-12 07:08] Hellowlol commented on #9
Yeah, the pic above is last 12 months, 30 days, 24 hours. A summary would be be nice! On the dash i was thinking about adding current speed, usage so far this month and vs data cap.

[2015-01-12 08:11] elRadix commented on #9
and also by interface eth0/1 or bond0 or wlan0 if that is possible or at least an option to select the interface you want to get summarized

[2015-01-12 09:08] Hellowlol commented on #9
@elRadix  I would like to get stats for all if possible. Any chance you have several interfaces? Can you dump the db as xml and put in on pastebin so i can test?

[2015-01-12 09:19] Hellowlol commented on #9
Sorry for bugging your guy so much with this, but since i dont use vnstat is need to have some data to test with :P

[2015-01-12 09:21] elRadix commented on #9
happy to support you!!
here is it http://pastebin.com/b1CpGc99

[2015-01-12 09:36] Hellowlol commented on #9
Awesome! Ill see if i cant loop each interface and make a charts and a summary based on that.

[2015-01-13 20:57] camjac251 opened #17 "Users have more permissions than wanted"
I'd like to give users access to viewing Sonarr, Couchpotato, Sabnzbd, etc, but not actually altering anything. Or atleast not being able to restart/shutdown the service, delete movies/episodes, etc.

I'd like to give them access to add their own stuff but thats about it

[2015-01-13 21:45] Hellowlol commented on #17
Thanks for your interest in my fork. I think i can add that type of feature, but i have to check. However it  will not be a priority. I what about a user like guest/kid or something?

[2015-01-13 22:44] CamJGaming commented on #17
Requiring login though. Like they can view things but cannot change or add anything

[2015-01-13 22:55] Hellowlol commented on #17
Ok. Let me see what i can do.

[2015-01-14 19:35] Hellowlol commented on #17
Request accepted. Just to be clear you want a user where they can't to shit, like add movies, search for missing episodes, pause torrents/ nzb, change speed, restart stuff and so on? This require a change to every single function in every module (trivial change) do I wanna make sure i get this right as I ain't doing this twice :p

[2015-01-15 21:54] Hellowlol commented on #9
@elRadix @smdion Any chance you can test the vnstat branch and see how it goes?

[2015-01-15 22:18] smdion commented on #9
I need to install Paramiko on my docker... let me update and re-test

[2015-01-15 22:20] Hellowlol commented on #9
it shouldnt be needed if the docker has access to a shell. i just push a fix for that.

[2015-01-15 22:22] smdion commented on #9
2015-01-15 16:21:29 :: cherrypy.error.47049172349136 :: ERROR :: [15/Jan/2015:16:21:29] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cprequest.py", line 656, in respond
    response.body = self.handler()
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/lib/encoding.py", line 188, in __call__
    self.body = self.oldhandler(*args, **kwargs)
  File "/opt/HTPC

[2015-01-15 22:23] smdion commented on #9
I'm pushing paramiko install on my docker.. so we'll see what that does.  Small config change.  Maybe add option for non-default SSH port?  I don't need it, but someone may.

[2015-01-15 22:26] Hellowlol commented on #9
Does any change there ssh port ? :o, np ill add that

[2015-01-15 22:27] Hellowlol commented on #9
I think the error is becase the ssh is checked of. can you uncheck it?

[2015-01-15 22:32] smdion commented on #9
Its unchecked, but with my vnstat database on a different IP its not pulling anything. No more error though ;)

[2015-01-15 22:35] Hellowlol commented on #9
Ah, i get it.. i need to check that aswell can you try the ssh option?

[2015-01-15 22:38] smdion commented on #9
I installed paramiko and now I have this... with the box checked

2015-01-15 16:37:52 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 16:37:53 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 16:37:53 :: modules.vnstat :: ERROR :: ssh failed
2015-01-15 16:37:53 :: modules.vnstat :: ERROR ::

[2015-01-15 22:39] smdion commented on #9
2015-01-15 16:37:52 :: cherrypy.error.47174697660624 :: ERROR :: [15/Jan/2015:16:37:52] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cprequest.py", line 656, in respond
    response.body = self.handler()
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/lib/encoding.py", line 188, in __call__
    self.body = self.oldhandler(*args, **kwargs)
  File "/opt/HTPC

[2015-01-15 22:45] Hellowlol commented on #9
crap, i just noticed that --dumpdb was renamed to --exportdb

[2015-01-15 22:59] Hellowlol commented on #9
Okei, can you test again, now with ssh enabled? it will now require paramiko (for now)

[2015-01-15 23:01] smdion commented on #9
Its on my docker, so no issue.  Getting this now:

2015-01-15 17:00:34 :: cherrypy.error.47057794818256 :: ERROR :: [15/Jan/2015:17:00:34] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cprequest.py", line 656, in respond
    response.body = self.handler()
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/lib/encoding.py", line 188, in __call__
    self.body =

[2015-01-15 23:04] Hellowlol commented on #9
bah, try again?

[2015-01-15 23:05] smdion commented on #9
Its so much better debugging other peoples code when I don't ahve to fix it ;)

2015-01-15 17:05:04 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 17:05:04 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 17:05:04 :: modules.vnstat :: ERROR :: ssh failed
2015-01-15 17:05:04 :: modules.vnstat :: ERROR ::
2015-01-15

[2015-01-15 23:08] Hellowlol commented on #9
Well it works fine here :( can you run --exportdb --xml from the command line? and if it work paste it on pastebin?

[2015-01-15 23:11] smdion commented on #9
ah crap.  I'm on version 1.11 which is still -dumpdb.  Let me figure out how to update my PFSense box.

[2015-01-15 23:12] Hellowlol commented on #9
nvm ill just change it, sec

[2015-01-15 23:12] smdion commented on #9
What if others are on 1.12?

[2015-01-15 23:13] Hellowlol commented on #9
dunno, i had trouble with --exportdb as well and dumpdb works fine so lets stick with that for now.

[2015-01-15 23:14] Hellowlol commented on #9
again?

[2015-01-15 23:15] Hellowlol commented on #9
Ill find a solution for that later, like asking for the version then choose what command to run. Or something

[2015-01-15 23:17] smdion commented on #9
2015-01-15 17:15:18 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 17:15:18 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 17:15:18 :: modules.vnstat :: ERROR :: ssh failed
2015-01-15 17:15:18 :: modules.vnstat :: ERROR ::
2015-01-15 17:15:18 :: cherrypy.error.47568223989968 :: ERROR :: [15/Jan/2015:17:15:18] HT

[2015-01-15 23:19] Hellowlol commented on #9
again? :P

[2015-01-15 23:20] smdion commented on #9
2015-01-15 17:20:04 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 17:20:04 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 17:20:04 :: cherrypy.error.47227981144272 :: ERROR :: [15/Jan/2015:17:20:04] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cprequest.py", line 656,

[2015-01-15 23:22] Hellowlol commented on #9
Im gonna kill something.. Well i guess i need a library that can handle errors in the xml.

[2015-01-15 23:22] smdion commented on #9
Paypal address I can send beer money too ;)

[2015-01-15 23:24] smdion commented on #9
Also... live bandwidth is working.

http://i.imgur.com/STBOQph.png

[2015-01-15 23:26] Hellowlol commented on #9
Atleast something is working

[2015-01-15 23:30] Hellowlol commented on #9
Okei, can you try one last time (for now.. :D )

[2015-01-15 23:36] smdion commented on #9
Don't hurt me...

2015-01-15 17:34:40 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 17:34:40 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 17:34:40 :: cherrypy.error.47884522496208 :: ERROR :: [15/Jan/2015:17:34:40] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cpreque

[2015-01-15 23:37] Hellowlol commented on #9
Can you check if that was the last update?

[2015-01-15 23:39] smdion commented on #9
Up to date and fresh restart, same error.

[2015-01-15 23:40] smdion commented on #9
wait.. had other window open.  I have graphs.

[2015-01-15 23:44] Hellowlol commented on #9
zomg! well i have manually pasted the data in.. can you update one last time and try again (i mean it this time lol..)

[2015-01-15 23:46] smdion commented on #9
....
2015-01-15 17:46:30 :: paramiko.transport :: INFO :: Connected (version 2.0, client OpenSSH_5.4p1_hpn13v11)
2015-01-15 17:46:30 :: paramiko.transport :: INFO :: Authentication (password) successful!
2015-01-15 17:46:30 :: cherrypy.error.47873907871952 :: ERROR :: [15/Jan/2015:17:46:30] HTTP Traceback (most recent call last):
  File "/opt/HTPC-Manager-0.11.0/libs/cherrypy/_cprequest.py", line

[2015-01-15 23:55] Hellowlol commented on #9
Thanks for trying atleast!

[2015-01-16 01:04] Hellowlol commented on #9
@smdion when you have the change can you update and find xml stout_data in the log paste that somewhere. I really wish i could update unraid now...

[2015-01-16 01:06] smdion commented on #9
Can you point me in the right direction?

[2015-01-16 01:12] Hellowlol commented on #9
Can do, update htpc manger, delete log. visit the vnstat page, change the drown to debug, ctrl f in your browser. you should see a list like this.
'''
['<vnstat version="1.11" xmlversion="1">\n <interface id="eth0">\n <id>eth0</id>\n <nick>eth0</nick>\n <created><date><year>2015</year><month>01</month><day>09</day></date></created>\n <updated><date><year>2015</year><month>01</month><day>16</day></

[2015-01-16 14:04] elRadix commented on #9
does not work, running both vnstat and htpc on local machine i get no outpout / no error log

when trying the ssh option i get the following error
[code]

I am running vnStat 1.12, thus running the command "vnstat --exportdb --xml" on the loca lmachine works as you can see on this output
http://pastebin.com/EpiA5bgg

[2015-01-16 14:11] Hellowlol commented on #9
@elRadix you need to use the ssh option and install paramiko for now, I have disabled the rest to make debugging easier.

[2015-01-16 14:35] elRadix commented on #9
installed paramiko as suggested and it works, just needs to tweaks regarding the presentation of the graphic/titles

![Image of vnstat running on htpc]
(http://i60.tinypic.com/5n7w2r.png)

[2015-01-16 15:35] Hellowlol commented on #9
Nice! I think there are some issues drawing the graphics, if you only have one interface is looks nice.

[2015-01-16 15:47] smdion commented on #9
I'm still having issues. I'll update to 1.12 and see if that fixes it.

[2015-01-16 15:50] smdion commented on #9
I ran went to http://myip:8085/manager/vnstat/dumpdb and the first two times I loaded the page I got a Internal Server Error, 3rd time I got this

http://pastebin.com/3UMS7Srh

[2015-01-16 15:56] Hellowlol commented on #9
Oki could you find xml stout_data in the log? I should be a list. It contains the stout before its parsed by xmltodict. I needed that to figure out why it fails.

[2015-01-17 23:53] smdion commented on #9
unless i'm just being daft.. which is possible. I can't get it to show debug logs

[2015-01-18 00:09] smdion commented on #9
TIL I have to start HTPC-Manager in debug mode  /facepalm

http://pastebin.com/TC7CrP7F

[2015-01-18 00:20] Hellowlol commented on #9
Yeah, sorry about that.. I just forgot to mention it as mine always run in --debug :P

[2015-01-18 00:35] Hellowlol commented on #9
@smdion are you running the latest version? i thought i disabled the paramiko log.

[2015-01-18 00:35] Hellowlol commented on #16
@elRadix Can you test this branch? https://github.com/Hellowlol/HTPC-Manager/tree/sremote
I only have one tv to test with.

[2015-01-18 00:38] smdion commented on #9
Nope... now I am.

http://pastebin.com/ZBvcrSQE

[2015-01-18 01:02] Hellowlol commented on #9
Lets try to read the entire files instead of streaming it. Can you update and try again?

[2015-01-18 01:08] smdion commented on #9
that did it.

[2015-01-18 01:10] Hellowlol commented on #9
Wow, thanks for your patience.

[2015-01-18 01:11] smdion commented on #9
Thanks for your hard work!

http://i.imgur.com/UDJHpfs.png

Just to make sure its as you expect.

[2015-01-18 01:12] Hellowlol commented on #9
It isnt, can you force browser cache?

[2015-01-18 01:14] smdion commented on #9
http://i.imgur.com/4UZrM7Z.png

[2015-01-18 01:16] Hellowlol commented on #9
The graphs seems very high, are they correct? :o

[2015-01-18 01:17] smdion commented on #9
No.. they seem wrong to me too.  Other bandwidth monitor

4.65 GB today
315 GB this month
942 GB last month

[2015-01-18 01:22] Hellowlol commented on #9
Alright, can you --dumpdb --xml i need to manually check your xml to see what i fucked up. My first thought was zomg I want your internet speed. I knew is was to good to be true.. :P

[2015-01-18 01:24] smdion commented on #9
http://pastebin.com/LhmK6pzL

[2015-01-18 02:11] Hellowlol commented on #9
I think they are correct, i just forgot to change the label from tb to gibi

[2015-01-18 02:13] smdion commented on #9
I was going to say... they look 2 decimal places off.  Really nice work.  Any way you could do a "Today", "This Month" "Last Month" summary in text?  kinda like this?

http://imgur.com/SB9CvjO

[2015-01-18 02:18] Hellowlol commented on #9
Can do

[2015-01-18 02:28] smdion commented on #9
You are incredibly awesome.

[2015-01-18 02:44] smdion commented on #9
Also... is the bandwidth suppose to auto update (at top of page) or only on page refresh?

[2015-01-18 11:20] Hellowlol commented on #9
That current bandwith will auto update, but not the graphs/tables.

[2015-01-20 14:39] Hellowlol commented on #9
The good news is that the table is done, bad news is that everything is fucked up. I can't belive I forgot that json is unordered..

[2015-01-20 21:53] Hellowlol commented on #9
@elRadix @smdion Can you update take it for a spin? its only minor codecleanup left..

[2015-01-21 16:33] smdion commented on #9
Looks good to me. https://imgur.com/VlRlFbx  And bandwidth now auto updates.

[2015-01-21 16:39] Hellowlol commented on #9
Awesome. Do you want something on the dash aswell? Only thing left is add what interface your looking on and remove the x and cleanup.

[2015-01-21 16:53] smdion commented on #9
I can't think of anything on the dashboard..... maybe the current bandwidth usage?  Not anything I really really want.  This is so awesome, I can turn off my UpStatsBoard now.  Thank you!

[2015-01-21 17:14] Hellowlol commented on #9
Okei, I think in gonna leave it as it is. Down the road I want to add a quick system overview on the dashbord with current speed, vs bandwidth cap, memory and cpu. Thank you for assisting me debugging. This module wouldn't exist without your help! I'll clean up and merge it with master2 later today.

[2015-01-21 17:34] smdion commented on #9
I did notice one thing. The word period Is misspelled on the text part of
the summary
On Wed, Jan 21, 2015 at 11:14 AM Hellowlol <notifications@github.com> wrote:

[2015-01-21 19:01] Hellowlol commented on #9
Thanks! Is spelled correct, but in the wrong language.

[2015-01-21 19:15] smdion commented on #9
What do you mean... English is the only language ;)

[2015-01-21 20:41] Hellowlol commented on #9
merged

[2015-01-21 20:41] #9 closed

[2015-01-23 23:58] Hellowlol commented on #17
@CamJGaming Since this is your request i would like to have some assistance with testing this feature.
Can you test every button in every module that you use in this branch? https://github.com/Hellowlol/HTPC-Manager/tree/addnewuser

[2015-01-24 03:42] sparklyballs opened #18 "A multitude of sins, lol"
Running commit a52df7a077, in docker from smdion over on unraid forum because i was toying with the idea of moving from sickbeard over to sonarr and styxit doesn't support it yet.

anyways, this is what i've found so far, kodi test fails, save kodi settings say save failed, yet latest movies, music, shows etc in kodi show on dashboard.
![screen shot 2015-01-24 at 03 32 16](https://cloud.githubuser

[2015-01-24 11:15] Hellowlol commented on #18
Thanks! I'll look into it.

[2015-01-24 11:28] Hellowlol commented on #18
Are you using the latest kodi? Grabbing labels for (Mac address) is kinda buggy so that might be the reason.

[2015-01-24 12:49] sparklyballs commented on #18
using 14.0 final. (helix)

[2015-01-24 12:57] Hellowlol commented on #18
I think i have fixed your issues now, can you test?

[2015-01-24 12:58] sparklyballs commented on #18
little later, have 4 year old mini typhoon to cater to, lol

[2015-01-25 18:51] Hellowlol commented on #10
@blindpet I'm gonna finish the open pr regarding headphones. I have no eta.

[2015-01-26 00:07] Hellowlol commented on #18
@sparklyballs Can I close this issue?

[2015-01-27 07:18] Hellowlol commented on #18
Assumed fixed, let me know if this issue should persist

[2015-01-27 07:18] #18 closed

[2015-01-27 17:22] coach0742 opened #19 "[Feature Request] Add more options to Deluge (add torrent from link, etc.)"
I wanted to start an issue here for adding torrents to deluge. I will be starting work on it today, it should be fairly easy but I wanted a place to track it and ask for advice/help :) I was going to do it on styxit's repo, but he's not much for adding other people's work anymore.

I will work on adding torrents from a link first and if I have any success, I'll try to figure out how to upload a .t

[2015-01-27 17:42] Hellowlol commented on #19
Thats awesome, let me know if you need any help. Check out https://github.com/Hellowlol/HTPC-Manager/blob/master2/modules/deluge.py#L110 that is what is used to send a link to deluge for torrent search

[2015-01-27 18:03] coach0742 commented on #19
Thanks for the pointer. I'll definitely look at that. I'm sure I'll need help, it's just a matter of time. Sometimes I have to just sit at stare at it for a few hours before I decide what I need to do haha.

[2015-01-27 18:06] Hellowlol commented on #19
Regarding the add a local torrent take a look on how I did that for transmission and use add_torrent_file(filename, filedump, options)

[2015-01-27 21:02] Hellowlol commented on #16
@elRadix Have you had a change to test the mention branch?

[2015-01-29 04:41] kooimens opened #20 "Sickbeard/sickrage issues"
I'm using sickrage for my tv downloads. When using styxit/HTPC-Manager I can use the sickbeard module to make use of my sickrage setup. This works perfect. You have got a seperate sickrage module which works, but with one downside. I have added The Blacklist. Next Aired is 2015-02-01. Which is showed in the 'tv shows' tab as 'next ep'. However, the 'Next Aired' tab says 'No future/missing episodes

[2015-01-29 04:49] kooimens commented on #20
The Next Aired on dash is showing the next episode, so that's great!

One other question. Is it right that your branche is more stable than the one of styxit? It's loading much faster when i'm using it as reverse proxy through apache2.

[2015-01-29 04:51] kooimens opened #21 "Couchpotato History date"
The couchpotato module shows a weird Histroy date for every event: NaN-NaN-NaN NaN:NaN

[2015-01-29 05:59] Hellowlol commented on #20
I wouldnt call it that. But there are some improvementents in mine

[2015-01-29 06:10] Hellowlol commented on #20
Regarding the differance, add with tv rage id in addition to tvdbid, manual postprocess and some more that I don't remeber.. I'll look into the black list thing

[2015-01-29 14:57] Hellowlol commented on #21
Thanks for reporting the issue. I have no idea why that happens. It it still like that?

[2015-01-29 16:18] kooimens commented on #21
Yes it is.

[2015-01-29 16:21] Hellowlol commented on #21
Is cp installed on a windows computer?

[2015-01-29 16:27] kooimens commented on #21
No, i'm running Ubuntu Server 14.04. With the latest version of CP

[2015-01-29 17:19] kooimens opened #22 "Newznab search is showing nzbget icon although it is not enabled"
The newznab module should not show a 'send nzb to nzbget' if nzbget is not enabled.

[2015-01-29 18:04] Hellowlol commented on #22
It intended for it to be like that but I agree, it should be like torrent search

[2015-01-29 18:06] Hellowlol commented on #22
Thanks for testing it, I don't notice everything.

[2015-01-29 18:22] kooimens commented on #22
I will, no problem! To be honest, I like your branch more than that from styxit. Your branch don't hang on refreshes for some seconds if I hit F5 for example or if I am behind a reverse proxy. I think I should test the headphones commits with your branch.

[2015-01-29 19:19] Hellowlol commented on #22
Well your welcome to contribute. :), The developments seems to have stopped and merges was way to  slow, that why i stopped after 72 prs

[2015-01-29 21:48] Hellowlol commented on #22
Fixed in the last commit

[2015-01-29 21:48] #22 closed

[2015-01-29 21:49] Hellowlol commented on #21
Fixed in the last commit

[2015-01-29 21:56] Hellowlol commented on #20
Well The Blacklist works fine here, its listed as it should,  both on the next aired tab in the module and in the dash. If you go to http://yourip:port/sickrage/GetNextAired is something returned there?

[2015-01-29 22:49] kooimens commented on #20
That's weird. If I try http://yourip:port/sickrage/GetNextAired or even http://yourip:port/sickrage/home/GetNextAired it returns me to the home screen of sickrage

[2015-01-29 22:55] kooimens commented on #22
Pulled the last commit, can confirm it's fixed. Thanks a lot! And yeah, you're delivering a lot of great work so the merges should be a lot faster. Most of the time just a one click on the button;) I will stick to your branch now, definitely!

[2015-01-29 22:55] Hellowlol commented on #20
Just to be clear its the ip and port to htpc-manager not sickrage!

[2015-01-29 22:59] kooimens commented on #20
I'm sorry, I was thinking of a sickrage api call. If I try ip:8085/htpc/sickrage/GetNextAired (htpc is my webroot) it asks to open or save GetNextAired.json

[2015-01-29 23:07] kooimens commented on #21
Tried you commit. It's not yet totally fixed. I get "2015-00-24 14:47" for a snatched movie. 00 should be 01 (month). At least much better than the weird shit before:D

[2015-01-29 23:19] Hellowlol commented on #20
Is this via your reverse proxy? Can you try directly against Htpc manager? What briwser are you using?

[2015-01-29 23:26] Hellowlol commented on #20
Can you start htpc manager with --loglevel debug and upload the log to pastebin?

[2015-01-29 23:28] Hellowlol commented on #21
thanks!

[2015-01-29 23:31] kooimens commented on #20
I'm on IE 11. Initially, but switching to Firefox gives the same problem. I'm trying it directly to HTPC manager (not through the proxy), but with the webroot enabled.

With the webroot disabled, I got the same. IE ask me to open or save the GetNetAired.json.
Firefox returns:
`{"message": "", "data": {"later": [], "missed": [], "today": [], "soon": [{"paused": 0, "episode": 9, "network": "NBC", "a

[2015-01-29 23:42] Hellowlol commented on #20
Okei if you check the same page if firefox does the the blacklist show up in the in all the tabs/dash?

[2015-01-29 23:48] kooimens commented on #20
No, same thing as in IE. Two next aired on my dash (the second appeared tonight). The Sickrage module shows the next epsiode under the 'Next ep' (maybe this should be Next Episode, btw? Space enough) header within the "TV Shows" tab. But under showname (Next Aired tab) it says No future/missing episodes found

[2015-01-29 23:50] kooimens commented on #20
The same on my mobile device (Safari browser)

[2015-01-29 23:52] #21 closed

[2015-01-29 23:58] Hellowlol commented on #20
![image](https://cloud.githubusercontent.com/assets/1214134/5968672/93636e06-a81a-11e4-92b3-df6c7262be74.png)

![image](https://cloud.githubusercontent.com/assets/1214134/5968679/a885a5c4-a81a-11e4-8ed6-055aa7bb0d0e.png)

Works fine here. As you can see the info is retured from the server. Can you try directly against htpc manager and delete the cache? I have no idea why this doesnt work.

[2015-01-29 23:59] kooimens commented on #21
That last commit did it;) Tested, and working like it should!

[2015-01-30 00:01] Hellowlol commented on #20
I choose the Next ep since thats the one that its listed in show list inside sickrage. I wanted something familiar to the user

[2015-01-30 00:29] kooimens commented on #20
Sickrage is using a 'Coming Episodes' tab. Maybe, that's better?

I added 2 Broke girls. No next episodes show up, nor in tv shows tab, nor in next aired tab. However, on my dash I can see them all? (three of them, 2 blacklist, 1 '2 broke girls'). I removed the blacklist and added it again and the result is even worse. Even no 'next ep' under the tv shows tab anymore.

I will try with a clean clon

[2015-01-30 00:35] kooimens commented on #20
Done, no change. I can't see what's going wrong here.

[2015-01-30 00:45] kooimens commented on #20
I enabled the sickbeard module to work with my sickrage setup and that is working fine.

[2015-01-30 05:54] Hellowlol commented on #20
Is there any errors in the console log in the browser? Wtf is going on...

[2015-01-30 07:07] Hellowlol commented on #20
Can you try this branch? https://github.com/Hellowlol/HTPC-Manager/pull/23 i think im a retard..

[2015-01-30 14:38] kooimens commented on #20
Same result, unfortunately... :(

[2015-01-30 14:40] Hellowlol commented on #20
Sure your cleared your cache?

[2015-01-30 14:56] kooimens commented on #20
I cloned that branch in a new folder and ran it on a different port. HTPC-Manager created a new folder userdata in it. Of course, I removed cookies as well.

[2015-01-30 15:02] Hellowlol commented on #20
Ctrl f5 would be enough. Mate I don't how to fix this..

[2015-01-30 15:03] Hellowlol commented on #20
I know this would be a pita but I need a list off all your shows to I can add them to try to recreate the problem

[2015-01-30 15:08] kooimens commented on #20
![shows](https://cloud.githubusercontent.com/assets/3150962/5977669/37612140-a89a-11e4-9c45-7020fd3f7097.jpg)

Is this enough? Btw, thanks for taking so much time to dig into this weird shit!

[2015-01-30 15:49] Hellowlol commented on #20
Yeah, that would do.

[2015-01-30 18:57] Hellowlol commented on #20
Can you update and try again?

[2015-01-30 19:29] kooimens commented on #20
Yeah! It's fixed. Great job!

[2015-01-30 20:42] #20 closed

[2015-01-31 18:19] #16 closed

[2015-01-31 18:42] Hellowlol commented on #16
Feel free to reopen the issue once the feature is tested:)

[2015-01-31 18:43] Hellowlol commented on #17
Feel free to reopen once the feature is tested.

[2015-01-31 23:20] Hellowlol opened #24 "Headphones"
@kooimens Can you try this https://github.com/Hellowlol/HTPC-Manager/tree/headphones and report all errors and kinks? If you feel anything is missing let me know.

https://github.com/styxit/HTPC-Manager/pull/133

[2015-02-02 03:13] kooimens commented on #24
Nice! Thanks for getting into this. The history tab is now working! The next things could be better or can be added:

1. Having the ability to search for albums as well, next to the ability to search for artists, would be great. This is especially useful when performing a search for albums with album artist = various artists.

2. The history tab - status can have 3 values: Snatched, unprocessed an

[2015-02-02 06:50] Hellowlol commented on #24
Thanks for the feedback. Ill add/fix your comments. What was the url so headphones was faster again?

[2015-02-02 11:49] kooimens commented on #24
musicbrainz-mirror.eu:5000

[2015-02-02 12:04] Hellowlol commented on #24
Thanks

[2015-02-02 13:58] Hellowlol commented on #24
@kooimens I was looking at the api, do you want something on the dash aswell? If thats the case what? Do you want a own tab where you get suggestions about artists that you might like?

[2015-02-02 18:50] kooimens commented on #24
I think a list of the wanted albums on dash would be great! Just like sickbeard and couchpotato. I personally don't use the suggestions of headphones, it really sucks. To be honest, a suggestions tab with the imdb top 10 / movies you might like would be worth the work much more, especially for other users. But maybe you can ping some of the others who requested the headphones module to ask how the

[2015-02-02 20:26] Hellowlol commented on #24
Fuck em, I'm making this for you, if your not interested I'll pass. I got other shit to do

[2015-02-02 22:28] kooimens commented on #24
Haha ok:D! Thanks!

[2015-02-03 19:21] kooimens commented on #24
And I really like to help you where I can to help the project alive!;) Here are my first test results:

1. I'm on a 1680x1050 resolution right now and the headphones module is only using about 60% of the HTPC-Manager with, where the couchpotato and sickrage modules are the using the full width.

2. The album/artist searcher is throwing back a lot of errors. And the button 'Add Artist' doesn't appl

[2015-02-03 23:16] Hellowlol commented on #24
@kooimens Regarding: The artist thumbs are not showed and I think it's better to use the album front cover instead of 'fan-art' size, because that will look better.

Im not sure i like any of the solutions like they are today, im thinking dropping the entire banner. Im thinking about using a poster with album cover. Any thoughts? and btw, i have added some more stuff, let me know if you find any e

[2015-02-03 23:18] edru commented on #24
Cool. Im at work for another hour, but will sync it up when I get home and let you know. If I'm to late, then oh well! Thanks for the heads up.

[2015-02-03 23:23] Hellowlol commented on #24
No worries, you won't be to late it's not like it's getting merges today anyways. I'd still like to hear your thoughts whenever you get some spare time.

[2015-02-04 01:31] kooimens commented on #24
Damn! Going fast:D

1. Adding an artist is no problem. HP picks it up immediately. However, it refuses to add an album. This is the logging from HP:
![1](https://cloud.githubusercontent.com/assets/3150962/6033195/0345ea18-ac13-11e4-83b3-ab69f76d85ee.jpg)

2. When doing an album search, the name and release date of the album is returned. Since there are many albums with the same name it would be us

[2015-02-04 01:42] kooimens commented on #24
Hmm, I think I changed my mind regarding the view of the wanted-tab. I think for the wanted-tab a list with the release date, artist name, album name and a button to remove it from the wanted list together with a album thumb is the way to go, because the user want to know the exact release in one view for a wanted album

[2015-02-04 08:05] unixjeff opened #25 "Request: PreDB intergration"
Is it possible to integrate http://pre.corrupt-net.org/

[2015-02-04 08:25] Hellowlol commented on #25
Im not sure what that is, i have to check it when i get home from work. The link was blocked websense...

[2015-02-04 08:36] Hellowlol commented on #25
@unixjeff I checked on my phone. what is this site used for? Can you download stuff from there or is it only a list of releases?

[2015-02-04 09:38] Hellowlol commented on #24
@blindpet pinging as you have requested hp

[2015-02-04 09:40] blindpet commented on #24
Awesome, hopefully I will have time to test, SickRage and Sonarr were up too?

[2015-02-04 09:50] Hellowlol commented on #24
Sickrage and sonar are already included in my fork.

[2015-02-04 09:51] blindpet commented on #24
Sweet, any limitations I should be aware of when I test it?

[2015-02-04 10:05] Hellowlol commented on #24
Not really. In hp there are some bugs like cant add a release but ill get to that.

[2015-02-04 18:12] unixjeff commented on #25
it keeps track of when release are released so if you wanted to check and see if a ep of a show is out there or a movie you can search "Scene" and see if its out

[2015-02-04 18:19] kooimens commented on #24
@Hellowlol The problem with adding an album is indeed related to the fact that you're using artistID instead of albumID. I checked by doing a search on MusicBrainz with the ID from the error HP log. It returns an artist.

[2015-02-04 18:20] Hellowlol commented on #25
Honestly I don't see the point of there isn't a api or atleast you can download torrent s from there. I'll rather add more torrent providers. If any takes the time to make this in decent way I'll still merge it. But I won't be coding this myself :)

[2015-02-04 18:22] Hellowlol commented on #24
Great, that's a easy fix. All the ids look the same (compared to tvdbid vs imdbid)

[2015-02-05 00:04] Hellowlol commented on #24
What left to do now is:
- fix thumb img
- fix status in artist view
- finish reboot, restart upgrade
- secure the module
- remove print and console.log

After its merges and if I'm bored I might add manual download, choose release

[2015-02-06 16:33] Hellowlol commented on #19
@coach0742 is this something your still working on?

[2015-02-06 20:56] blindpet commented on #24
I just got time to test this and don't see Headphones anywhere, do I need to switch branch?

[2015-02-06 21:02] Hellowlol commented on #24
Yeah, its not merged yet. Use the headphones branch

[2015-02-06 21:03] blindpet commented on #24
Ok cool, when do you plan to merge? I will be making an installation guide for this when it goes live :)

[2015-02-06 21:04] Hellowlol commented on #24
This weekend, think i get some spares time tomorrow.

[2015-02-06 22:03] Hellowlol commented on #24
@blindpet let me know if you have any questions regarding the setup.

[2015-02-06 22:04] blindpet commented on #24
Will do, just wrote the guide for Windows and all seems to be working. I am ready to post it over the weekend when your changes are merged. Thanks for your work on this, HTPC Manager is finally updated for 2015 :)

[2015-02-06 22:11] Hellowlol commented on #24
Does that include the vnstat module aswell?

[2015-02-06 22:16] blindpet commented on #24
Just a basic install, trying to get psutil to work, vnstat is for Windows too?

[2015-02-06 22:26] blindpet commented on #24
psutil all working, vnstat seems to be for Linux too though there are other cross-platform alternatives like munin and ntop.

[2015-02-06 22:29] Hellowlol commented on #24
I don't think so, but the idea is to install vnstat on your router so your can measure all your bandwidth usage. I don't think many will use the module. I made it cus it was requested. I just think it pretty. Lol

[2015-02-06 22:48] blindpet commented on #24
I wish I could see it :P do only openwrt/ddwrt routers support vnstat?

[2015-02-06 22:57] Hellowlol commented on #24
You can see a wip image here. http://forum.kodi.tv/showthread.php?tid=126297&page=60. Thinks so :(

[2015-02-08 22:25] Hellowlol commented on #24
@kooimens @edru @blindpet Any chance you can test it again? Is it ok, working as it should, any visual changes you want done? This is gonna be the last time i ask before clean up and merge :)

[2015-02-08 22:34] blindpet commented on #24
My test environment is all fucked up atm so can't really do any tests and my friend I had test the guide doesn't run Headphones. Sorry I can't be of more help

[2015-02-08 22:41] Hellowlol commented on #24
Thats fine. Neader do i lol. Thanks anyway

[2015-02-08 23:42] kooimens commented on #24
1. The images on the album and artist detail page looks a bit stretched. If I take a look at the headphones pictures itself they seem to have an equal width and length (250x250). To make it look better, maybe you should go for the square-format instead of the poster-look.

2. On the artist-tab, the images don't have the same size.
![1](https://cloud.githubusercontent.com/assets/3150962/6099120/ce2

[2015-02-09 18:33] kooimens commented on #24
Weird shit. Didn't receive a notification. I cleared the cache on the general settings tab, nothing changed. I will have a look at #17 and do some tests.

[2015-02-09 18:45] kooimens commented on #17
I can't re-open the issue. Don't know what happened to the dash, but it's really fucked up atm:D.
![1](https://cloud.githubusercontent.com/assets/3150962/6112987/3c671814-b094-11e4-8102-7cadc7f35b75.jpg)

[2015-02-09 18:59] Hellowlol commented on #17
fuck dash. i dont think i have done anything related to that. Does the other stuff work?

[2015-02-09 19:06] Hellowlol commented on #24
I think thats because i edited your post. The images in artist list is ok on my screen.

![image](https://cloud.githubusercontent.com/assets/1214134/6113379/2b18d4be-b097-11e4-8977-70b2cab897a8.png)

[2015-02-09 19:31] kooimens commented on #24
The delete button didn't work out. Same for deleting browser cookies and restart, disable/enable module and in the end even a hard remove of all the userdata. Nothing changed...

[2015-02-09 20:07] Hellowlol commented on #24
@kooimens Have you installed pil?

[2015-02-09 20:43] kooimens commented on #24
Now I have;) and it's fixed! thanks

[2015-02-09 22:12] Hellowlol commented on #24
@kooimens @edru @blindpet Its merged :)

[2015-02-09 22:12] #24 closed

[2015-02-09 22:14] blindpet commented on #24
Awesome, will post guide tomorrow :)

[2015-02-10 03:08] lisim opened #26 "[Suggestion/Feature Request]"
I would love a way to tell the vnstat module to check either all interfaces or to tell it what interfaces to monitor

this is just a way of life improvement as it only seems to monitor the speed of eth0 which is an almost unused interface on our HTPC

the feature would just be showing the results of wither vnstat -tr -i "interface" or better yet vnstat -l -i "interface"

[2015-02-10 04:16] Hellowlol commented on #26
Hi! By default vnstat should monitor all interfaces everything except from bandwidth.

[2015-02-10 04:34] Hellowlol commented on #26
Let me know if you still want a option regarding that, it's a easy request :p

[2015-02-10 09:04] lisim commented on #26
I mean it would still be nice but maybe the issue might be our end as it seems the vnstat page isnt updating at all anymore Oo ill look into it

[2015-02-10 09:07] lisim commented on #26
for instance what we see when runnign vnstat
http://puu.sh/fIWJp/d35aaed6ef.png

what htpc shows
http://puu.sh/fIWLB/1f9f2d9cd5.png

[2015-02-10 15:33] Hellowlol commented on #26
Yeah until there is a option regarding interface you need to set the correct default interface in vnstat

[2015-02-10 15:45] edru commented on #24
Thanks man. Is there a special branch I need to sync to for the push, or should the master be fine? Only asking because I'm currently on master and dont see any of the options.

[2015-02-10 15:46] Hellowlol commented on #24
yeah, master is just synced with styxit version. If you want all features use the default branch master2

[2015-02-10 15:50] Hellowlol commented on #24
@edru Make sure you clone/fork my repo
@kooimens I just noticed i forgot to add headphones to the dash... Its coming, i promise.

[2015-02-10 16:09] edru commented on #24
random question, do you have a default username/password set on this? Either than or a previous config is conflicting. I deleted my previous HTPCManager folder, then cloned your branch, but cant sign in. Using what I had previously as my U/P, but doesnt seem to take it.

[2015-02-10 16:11] Hellowlol commented on #24
Nope, might be the db, start HTPC manager with --resetauth

[2015-02-10 16:15] edru commented on #24
Worked like a charm, thanks.

[2015-02-10 17:09] edru commented on #24
Not sure if here is the correct place for this, but my dashboard has some empty spot. I have:

latest movies, shows, music,
downloads, movies, empty spot
Next Aired

Not sure as to why there is a blank spot unless its torrents and there is no label or indication that the queue is empty.

[2015-02-10 17:26] Hellowlol commented on #24
Please make a new issue with a list of enabled modules and I image. Yes they are preset.

[2015-02-10 17:41] edru opened #27 "Empty Columns on Dashboard"
Modules Loaded: Show recent from Kodi: movies, Shows, Music, CouchPotato, Sabnzbd, Sickrage
![capture](https://cloud.githubusercontent.com/assets/1192974/6132661/ab793fae-b119-11e4-82cf-62b2e20a6bc0.PNG)

Ignore the empty Kodi spots as I need to configure Kodi. Just wondering why Next Aired wouldnt be in column 3 of the 2nd row as it appears empty.

[2015-02-10 17:44] Hellowlol commented on #27
Ah, it doesn't work as your db referes to xbmc while the code uses kodi. Please add a new server

[2015-02-10 17:46] edru commented on #27
This is all set up from scratch with a brand new install. So all this is
brand new. Is there a config file hiding somewhere else I should have
deleted?

On Tue, Feb 10, 2015 at 11:44 AM, Hellowlol <notifications@github.com>
wrote:

[2015-02-10 17:48] Hellowlol commented on #27
Nope, but a assumed you copied your old db?

[2015-02-10 17:50] edru commented on #27
Nah. I just fully deleted the entire HTPC Manger folder from the previous
repo. I then synced yours to a brand new folder. The only thing that didnt
get changed from the old to the new is the init script. Figured that didnt
change.

On Tue, Feb 10, 2015 at 11:48 AM, Hellowlol <notifications@github.com>
wrote:

[2015-02-10 17:51] edru commented on #27
To clarify, im not concerned about why the kodi stuff is empty, I know why
its empty. Im more wondering why there is an empty spot on the 2nd row on
the right.

On Tue, Feb 10, 2015 at 11:50 AM, Edward Rubio <edwardarubio@gmail.com>
wrote:

[2015-02-10 18:00] Hellowlol commented on #27
That nothing to worry about, it's suppose to be like that if you haven't activated that module.

[2015-02-10 18:31] edru commented on #27
A little confused then. If i disable something else, the columns move

![capture1](https://cloud.githubusercontent.com/assets/1192974/6133571/78fbc7e8-b120-11e4-8181-02701ba49227.PNG)

Another example of columns moving.

![capture2](https://cloud.githubusercontent.com/assets/1192974/6133616/b3a88390-b120-11e4-8481-7a99968cc3ad.PNG)

[2015-02-10 19:22] kooimens opened #28 "Headphones issues"
Working great! I've found some little bugs in de master version.

1. When on an artist or album tab the links to Home / Headphones Module / Artist are without the webroot.
![1](https://cloud.githubusercontent.com/assets/3150962/6134496/2f6edd76-b162-11e4-8f8c-74db7e7e5548.jpg)

2. I think an album on the wanted page shouldn't have an icon to set it as wanted;)

3. Don't know if you are aware of th

[2015-02-10 19:45] Hellowlol commented on #27
tl;dr Its suppose to be like this. Like i have said before, the dash should be rewritten

Longer version:

There are no columns, but rows.

In each row there are 3 modules, each of this float left and are the 1/3 of the rows width

So say you have a row with:
Latest Movies, Latest Shows, Latest Music

If you disable Latest Movies the row will then be.
Latest Shows, Latest Music, BLANK

Styxit vers

[2015-02-10 19:58] edru commented on #27
Ahh got yah. Thanks man.

[2015-02-10 19:58] #27 closed

[2015-02-10 19:59] Hellowlol commented on #28
Thanks for reporting our issues.
Regarding:
1. What webroot? Htpc managers or hp basepath?
2. Its so you can enable and disable it on the same page.
3. The entire thing with images are a pain, the api is dog shit. Ill see if i cant get the correct ratio
4. Agreed

[2015-02-10 20:22] kooimens commented on #28
1. htpc webroot
2. If I disable it (set skipped), I'm not able to set it as wanted again. And I think that's not weird, because when skipping it, the album will disappear instantly from the wanted list.

[2015-02-10 21:40] kwiksilver opened #29 "Does not start properly on windows 8.1"
System:
Windows 8.1 x64
Python 2.7.5

The styxit version launches without any issues on windows. It gives the same psutil error, and then starts up fine. Whereas this one gives the psutil error and then has the traceback with all of the issues.

----

C:\Users\kwiksilver\Desktop\htpc\HTPC-Manager>python Htpc.py
2015-02-10 16:31:54 :: root :: INFO :: Welcome to HTPC-Manager!
2015-02-10 16:31:54 ::

[2015-02-10 22:15] Hellowlol commented on #29
@kwiksilver Hi! Can you grab a fresh install and try again?

[2015-02-10 22:22] Hellowlol commented on #28
1. Fixed
2. Gonna leave it for now, i do see your point. Prob gonna remove this in a later commit
3. The images return from the api is different size, its hard to get this right. Does the last update help?
4. Fixed

[2015-02-10 22:44] #26 closed

[2015-02-11 07:34] Hellowlol commented on #26
@lisim With the last update you should be able to choose what interface you want to monitor the speed on.

[2015-02-11 08:46] Hellowlol commented on #28
Note to self: Possible bug in https://github.com/Hellowlol/HTPC-Manager/commit/0693df9cd9bc04ef9226aaba0312e0d6db09ad1b#diff-0947407744ffbad910292a422539babbR12 and https://github.com/Hellowlol/HTPC-Manager/commit/0693df9cd9bc04ef9226aaba0312e0d6db09ad1b#diff-0947407744ffbad910292a422539babbR13
Check if this still works if not add a ?

[2015-02-11 12:32] kooimens commented on #28
That helped! Looking great now.

[2015-02-11 12:37] kooimens opened #30 "Newznab search feature request NZB button (and little bug)"
The newznab search is still showing an NZBget button when I click an NZB, even if i haven't enabled NZBget.
![1](https://cloud.githubusercontent.com/assets/3150962/6146986/009e885c-b1f3-11e4-8b57-7603bc7b049b.jpg)

Furthermore, I have some users who only want the to download the NZB. Is that possible?

[2015-02-11 13:24] Hellowlol commented on #30
Ah, crap i forgot that one... :P

[2015-02-11 13:42] #28 closed

[2015-02-11 14:06] kwiksilver commented on #29
I did a fresh git clone and it worked like a charm. I also installed psutil, and I must say that it is a very useful module. Thanks.

[2015-02-11 14:06] #29 closed

[2015-02-11 14:17] Hellowlol commented on #17
@kooimens have you had the chance to test the modules?

[2015-02-11 17:57] edru commented on #10
Commenting because I would like Mylar support added.

Posted this on reddit.com/r/usenet and a couple people upvoted wanting Mylar as well.

http://www.reddit.com/r/usenet/comments/2vgtta/htpcmanager_w_sonarr_sickrage_and_headphones/

[2015-02-11 18:45] Hellowlol commented on #10
So that might be the reason why unique visitors/clones have sky rocketed.. Thanks, kinda forcing my hand here.. :p

[2015-02-11 18:54] edru commented on #10
Wasnt trying that all. Only 4 people actually upvoted Mylar, so not too many of us.

[2015-02-11 19:14] Hellowlol commented on #10
I was just kidding. I'll keep it in mind.

[2015-02-11 21:43] kooimens commented on #17
I will give it a try tomorrow!

[2015-02-11 23:20] #30 closed

[2015-02-12 10:07] seqastian commented on #25
you can see what 'officially' got released and can make the usenet searches more pointed. but torrent sites usually have moderation anyways on what gets in so i dont see much need as well.

[2015-02-12 12:51] kooimens opened #31 "Sickrage dash issues"
The dash module of sickrage isn't showing Next Aired episodes if the airdate is today. Like today:
![1](https://cloud.githubusercontent.com/assets/3150962/6167671/1449794a-b2be-11e4-96a5-2b5a34ed0be3.jpg)
![2](https://cloud.githubusercontent.com/assets/3150962/6167673/17997366-b2be-11e4-8e2b-2c4f60839332.jpg)
Left one is sickbeard, right is sickrage.
Furthermore, maybe it should show the same as s

[2015-02-12 12:54] kooimens opened #32 "Headphones dash LOOKING AWESOME, but a little bug;)"
The headphones dash is looking really slick:D. Thanks for that.

One issue found, I have got four wanted albums, but the dash only shows two of them (the first two of the albums wanted list).

[2015-02-12 13:05] Hellowlol commented on #32
Im not sure its a bug, if ArtworkURL is missing from the api response, it doesnt show. I made like the intentionally, but i can replace it with the "missing image image" if you prefer that.

[2015-02-12 13:09] Hellowlol commented on #31
Yeah, i remember i did some hacky go get that part right, and as usual i forgot to update the damn dash.

[2015-02-12 13:10] Hellowlol commented on #31
When ever i got some time to do some real work ill redesign the entire dash. I would love to have no extra space and the ability to choose the placement of the "modules", it sucks atm

[2015-02-12 13:17] kooimens commented on #32
Ok! Replacing with the missing image would be better, I think. At least, it shows the whole 'picture' in that case.

[2015-02-12 13:24] Hellowlol commented on #32
Allright, ill change it :)

[2015-02-12 13:26] kooimens commented on #31
You're right! Was on my mind as well. Especially, determining the sequence of view on dash would be great.

[2015-02-12 13:57] kooimens commented on #17
Modules tested: sabnzbd, sickrage, couch, plex, newznab search. All tests done with restricted user.

Dash plex: movies = empty? rest is ok
dash couch, sickrage, sab = ok.

Sabnzbd, deleting from history not possible = ok.
user can add nzb's.

Sickrage, user can search/add shows.
user can not delete shows.
user can search for episodes.

Couchpotato, can search/add movies.
Not able to delete movie.

[2015-02-12 14:00] kooimens opened #33 "Newznab search, NZB manual download: not working and mouseover text is missing"
The manual download button doesn't do anything if I hit it.
Some mouseover text is missing as well. Like: 'Manual download NZB' or something

[2015-02-12 16:29] Hellowlol commented on #33
Looks fine and works here. What browser are you using? Can your try with chrome?

[2015-02-12 16:40] Hellowlol commented on #17
Then I made the login system/ user control the idea was to protect Htpc managers settings aswell as the app it self. This pr is for a even more restricted user where only basic commands are allowed. Like search, add etc but not delete, restart shutdown change speed etc

[2015-02-12 16:51] mraneri opened #34 "Sonarr not pulling info"
Sonarr test comes back green, but does not pull any information.

2015-02-12 11:46:50	cherrypy.error.24964064	ERROR	[12/Feb/2015:11:46:50] HTTP Traceback (most recent call last):
2015-02-12 11:46:50	modules.sonarr	ERROR	Failed to fetch path=Calendar?end=2015-02-19 error No JSON object could be decoded
2015-02-12 11:41:07	cherrypy.error.24964064	ERROR	[12/Feb/2015:11:41:07] HTTP Traceback (most rec

[2015-02-12 17:09] Hellowlol commented on #34
Thanks for reporting this. Dunno why it doesn't  work. I'll see if I can't fix it.

[2015-02-12 19:48] Hellowlol commented on #34
This seem to work here:

![image](https://cloud.githubusercontent.com/assets/1214134/6175509/a5f064a6-b2f7-11e4-900f-18bc220929bc.png)

What info do you get back when you call the api command manually?

[2015-02-12 20:45] Hellowlol commented on #24
@blindpet Thanks you so much for make all your guides. I didn't know about nssm, great tip!

[2015-02-12 22:56] Hellowlol commented on #33
@kooimens Can you update and try again?

[2015-02-12 23:34] Hellowlol commented on #31
Should be fixed in the last commit

[2015-02-12 23:34] #31 closed

[2015-02-13 00:01] Hellowlol commented on #32
I have changed so the image is now added. Regarding the option, that wont happen anytime soon. Ill do that as the same time as redesign of the dash

[2015-02-13 00:01] #32 closed

[2015-02-13 07:08] Hellowlol commented on #32
@kooimens Unfortunately the reason why the images have been looking really good is that its a bug when the image is supposed to be resized thus the original image is returned. That isnt a viable option as the thumbs are 300 kb from kodi/plex etc. It works great on the same computer running htpc-manager but access outside your network will be very slow. This needs to get fixed. Ill try to get the i

[2015-02-13 13:04] kooimens commented on #33
Tried with IE, chrome and FF. All working after the latest commit. Except for the blue big button (after hitting the NZB). That one isn't working in any browser.

[2015-02-13 13:08] kooimens commented on #32
Can confirm that the dash is showing all my wanted albums now. Great!

Make sense. Give it a low prio anyway. All is working fine now, regarding the HP module.

[2015-02-13 13:09] kooimens commented on #33
@Hellowlol You noticed my comment about the mouseover?

[2015-02-13 13:09] kooimens commented on #17
I get it!

[2015-02-13 13:11] kooimens commented on #31
Ok. My Next aired ep is 02-19. Will be able to confirm on that date

[2015-02-13 13:17] Hellowlol commented on #33
Not really :P Did you want a mouse over on the icon? The big blue button do you mean the modal? I forgot to test that one..

[2015-02-13 14:34] Hellowlol commented on #31
Oki, i also included missing tvshows in next aired (just like it is i sr)

[2015-02-13 14:45] mraneri commented on #34
What command should I use to call it manually?
I ended up deleting everything and starting over this morning. Still the same error.

[2015-02-13 17:38] kooimens commented on #31
Nice!

[2015-02-13 17:45] kooimens commented on #33
It's not really a matter of 'wanting' it, but more a way to stay consistent, because the sabnzbd button does show a mouseover.

I mean this one:
![1](https://cloud.githubusercontent.com/assets/3150962/6192275/86b54dd6-b3b0-11e4-8098-0fbf6dac0a3f.jpg)

[2015-02-13 18:12] Hellowlol commented on #34
Call http://ip:port/api/Calendar?end=2015-02-20 with a X-Api-Key header. There are some chome addons that can do this for you. If you cant to it ill make a simple script you can run when the kids are in bed

[2015-02-13 19:47] Hellowlol commented on #34
Try this script:
https://gist.github.com/Hellowlol/49ac918aace8f31f617b

In cmd: python test_calendar.py > calendar.txt
Copy the content inside calendar txt and upload it to pastebin. Give me the link ;)

[2015-02-13 20:27] mraneri commented on #34
http://pastebin.com/Wj8SxLrz

hope this helps

[2015-02-14 00:22] Hellowlol commented on #34
Do you have a show with the letter é (0xe9) in? If thats the case what is the name?

[2015-02-14 00:34] mraneri commented on #34
No, the only non-letter characters are @midnight, Key & Peele, M.A.S.K., Bob's Burgers, and a few with years like Archer (2009) or Conan (2010)

[2015-02-14 00:35] edru opened #35 "Updates are wiping my settings"
Everytime I check for updates, then update, all my settings go back to default.

[2015-02-14 00:47] Hellowlol commented on #35
Is this when installed from source?

[2015-02-14 00:49] edru commented on #35
yeah. Today i had 5 updates available, and after restart it was all
default. I just reconfiged everything and did 2 more updates and it stayed.

On Fri, Feb 13, 2015 at 6:47 PM, Hellowlol <notifications@github.com> wrote:

[2015-02-14 00:51] Hellowlol commented on #35
Is it the sourceupdater of git updater your using? And if its git. Are the git clean checked in settings?

[2015-02-14 00:53] edru commented on #35
i synced it from source via git. Yean git clean was checked. I guess that
would do it huh? Damnit, facepalm. Figured that wouldnt have purged
settings.

On Fri, Feb 13, 2015 at 6:51 PM, Hellowlol <notifications@github.com> wrote:

[2015-02-14 00:54] #33 closed

[2015-02-14 01:06] Hellowlol commented on #35
Well the idea was to keep it save.
  # Note to self rtfm before you run git commands, just wiped the data dir...
 # This command removes all untracked files and files and the files in .gitignore
# except from the content of htpc.DATADIR and VERSION.txt
 self.git_exec(self.git, 'clean -d -fx -e %s -e VERSION.txt' % htpc.DATADIR)

[2015-02-14 01:11] Hellowlol commented on #34
Honestly have i no idea how to fix it. Do the other parts of the module or is it only the calendar?

[2015-02-14 01:15] Hellowlol commented on #35
Can you make a backup of your db and try  git clean -d -fx -e VERSION.txt - e userdata/ and see it the db is still here after the command i runned

[2015-02-14 01:19] mraneri commented on #34
I don't see anything from Sonarr
On Feb 13, 2015 8:11 PM, "Hellowlol" <notifications@github.com> wrote:

[2015-02-14 01:21] edru commented on #35
edru@HK-Drone:~/ServerApps/HTPCManager/userdata$ ls
database1.db  database.db  htpcmanager.log  images
edru@HK-Drone:~/ServerApps/HTPCManager/userdata$ cd ..
edru@HK-Drone:~/ServerApps/HTPCManager$ git clean -d -fx -e VERSION.txt - e
userdata/
Removing userdata/
edru@HK-Drone:~/ServerApps/HTPCManager$ ls
Dockerfile        htpcmanager.pid  initd.fedora  LICENSE    requirements.txt
htpc

[2015-02-14 01:26] mraneri commented on #34
OK, by pure accident I figured it out.
For basepath I had it set to the default of '/sonarr'. I accidentally
clicked the Sonarr title taking me to localhost:8989/sonarr which returned
a 404.
Setting the basepath to just '/' made everything work.

All of the other modules worked fine with the default basepaths, Sonarr was
the oddball.
On Feb 13, 2015 8:11 PM, "Hellowlol" <notifications@github.com>

[2015-02-14 01:28] Hellowlol commented on #35
Ok, leave it unchecked for now.

[2015-02-14 01:37] Hellowlol commented on #34
The code should be exactly the same. So that's strange, I'm happy you got it sorted!

[2015-02-14 01:37] #34 closed

[2015-02-14 19:41] #35 closed

[2015-02-14 22:39] Hellowlol opened #36 "Couch potato"
Loading seems to be random, sometime it takes like forever. Not sure if it's a htpc manager issue. Check if this happens on others platforms aswell

Check vs https://github.com/RuudBurger/CouchPotatoServer/issues/4337

[2015-02-16 23:07] Hellowlol commented on #10
Accecpted @edru @blindpet no ETA tho

[2015-02-17 23:00] edru commented on #10
nice! thanks!

[2015-02-20 11:26] Hellowlol commented on #36
I have checked 6 days in a row, its always working. Gonna keep checking for errors.

[2015-02-21 18:37] robertward opened #38 "HTPC Manager stops working with hostname instead of IP"
HTPC manager works fine until I update the IP/Host section to use a hostname instead of 0.0.0.0

After I update the field and attempt to restart HTPC manager, it crashes.

[2015-02-21 19:00] Hellowlol commented on #38
Any log or traceback?

This is from cherrypy doc:

The hostname or IP address on which to listen for connections.

Host values may be any IPv4 or IPv6 address, or any valid hostname. The string ‘localhost’ is a synonym for ‘127.0.0.1’ (or ‘::1’, if your hosts file prefers IPv6). The string ‘0.0.0.0’ is a special IPv4 entry meaning “any active interface” (INADDR_ANY), and ‘::’ is the similar IN6ADD

[2015-02-21 20:21] Hellowlol commented on #38
Seems like cherrypy has problem resolving your host name.

[2015-02-21 20:21] #38 closed

[2015-02-22 13:15] Hellowlol commented on #10
https://github.com/Hellowlol/HTPC-Manager/tree/mylar It's just a initial commit, not working at all :p

[2015-02-22 20:57] Morphy99 opened #39 "Disk Space overview on Dashboard"
Would be great to have some form of disk space view for all drives on a system, viewable from dashboard.
Additionally a file manager as well but might be a bit more complicated.

[2015-02-22 21:57] Hellowlol commented on #39
I agree :)

[2015-02-22 22:55] Hellowlol opened #40 "Updater broken on some windows machines."
Im not sure why it isnt working yet as its fine here.

If your affected by this bug. Check the git path on the settings page. What ever it says there set something like zomg. Then change to git again. Restart HTPC Manager. Still not working? Edit the git_path in the db manually or delete the db.
You can update manually via git console or sourceupdater (delete git folder)

[2015-02-23 00:02] Hellowlol commented on #40
@everbit Can you fill out
SO YOU FOUND A BUG? GREAT!

INCLUDE THIS IN YOUR ISSUE:

Branch
Commit hash
Your operating system and python version
What you did
What happened
What you expected
If its a visual bug, screenshot or it didnt happen
What browser including version
Link to a copy/paste of your logfile with clear debug info of the error on PASTEBIN
ENABLING DETAILED DEBUGGING FOR LOGS

Shutdown

[2015-02-23 07:01] Hat3Mondays opened #41 "Computer Stats on multiple systems"
Would be great to see the Computer Stats on a separate system as well as the one HTPC-Manager runs on.

For example I run HTPC-Manager on a VPS alongside Sonarr and Couchpotato but host Plex on a seperate server.

Would be nice to be able to see the plex servers stats on the same page

[2015-02-23 09:22] Hellowlol commented on #41
That isnt possible atm. Psutil is used for grabbing info about your system and it can only check what its installed on.

For this to be doable it need to be something you can grap from a webapi. I dont know if webmin or similar have something you can use.

This isnt something i will add as everything is install on a windows 7 except from nginx reverse proxy. I will however accept a pr regarding if

[2015-02-23 16:08] coach0742 commented on #19
I've decided I'm terrible at python, and more importantly, I'm not patient enough to troubleshoot my issues. I don't think I'll be working on this anymore.

[2015-02-23 16:14] Hellowlol commented on #19
Ok, need a hand?

[2015-02-23 20:37] #39 closed

[2015-02-23 20:37] Hellowlol commented on #39
@Morphy99 Added it now :)

[2015-02-23 20:56] Morphy99 commented on #39
Cool thanks! Can only see HDD in dashboard no info or bar? Works if I go into system info

[2015-02-23 21:03] Hellowlol commented on #39
Clear browser cache, make sure that you have enabled it as well

[2015-02-23 21:10] Morphy99 commented on #39
Yep clearing cache did it! Thanks :)

[2015-02-23 21:15] Morphy99 opened #42 "Next Aired show link on dashboard goes to sickbeard not sickrage"
As title suggests have sickbeard disabled but link goes to it and not sickrage

[2015-02-23 21:19] Morphy99 opened #43 "Remote File Manager"
A file manager would be a nice tool, lot of work maybe but it would make a handy tool to have integrated.

[2015-02-23 22:27] #42 closed

[2015-02-23 22:28] Hellowlol commented on #43
I dont think i will add this, i will accept a pr tho.

[2015-02-23 22:52] Morphy99 opened #44 "kickass.to torrent search"
Any way to add public torrent sites to search? I dont have access to the two provided.

[2015-02-23 23:01] Hellowlol commented on #44
Yeah, but i want to use some site with api. I dont like scraping web pages. I probably gonna add kat, ptp and maybe yifi

[2015-02-23 23:08] Morphy99 commented on #44
That will do for me :)

[2015-02-24 22:41] Hellowlol commented on #10
This is gonna take some longer time as there are bugs in mylar api

[2015-02-26 00:58] kooimens opened #45 "Sickrage module seems not to work with shows from TVRage"
It can find and add shows from TVRage, but when opening the show from the tv shows tab, it returns this:
![5](https://cloud.githubusercontent.com/assets/3150962/6384284/ed88dc18-bd5a-11e4-9af8-8567f9dddf28.jpg)

[2015-02-26 01:01] kooimens opened #46 "Headphones bugs"
First, If there are no wanted albums, it's better to use the same as couchpotato/sickrage does for the wanted albums on dash.
Secondly, the 'no wanted albums found' is on full width. I think that's correct. Same should be in place for no artists found and history is empty.

![1](https://cloud.githubusercontent.com/assets/3150962/6384288/023791cc-bd5b-11e4-9e7b-1c1d56f9fe83.jpg)
![2](https://cloud.

[2015-02-26 02:06] edru commented on #10
Thanks for giving it a go!

On Tue, Feb 24, 2015 at 4:41 PM, Hellowlol <notifications@github.com> wrote:

[2015-02-26 02:16] kooimens opened #47 "Sabnzbd empty history tab"
![1](https://cloud.githubusercontent.com/assets/3150962/6385086/b3beac0a-bd65-11e4-8590-f3b473a258f9.jpg)

Don't know what's happening here. It worked perfectly last days, but now it's just empy. I'v got a pretty large history at the moment, around 70 items.

[2015-02-26 07:27] Hellowlol commented on #45
Hi, Thanks for reporting this. What show was this and I want htpc manager log :)

[2015-02-26 07:29] Hellowlol commented on #46
Thanks!

[2015-02-26 09:34] Hellowlol commented on #47
Hi! thanks for reporting this issue. Would you provide me with htpc-manager log. And can you go to http://ip:port/sabnzbd/GetHistory. Does anything turn up there?

[2015-02-26 09:37] Hellowlol commented on #45
I think the error is in https://github.com/Hellowlol/HTPC-Manager/blob/master2/modules/sickrage.py#L123 should be a easy fix :)

[2015-02-26 13:03] kooimens commented on #47
http://ip:port/sabnzbd/GetHistory returns "null".

The log is showing two errors regarding sabnzbd:
`modules.sabnzbd ERROR Cannot contact sabnzbd Invalid control character at: line 1 column 380 (char 379)  `
`modules.sabnzbd ERROR Cannot contact sabnzbd Invalid control character at: line 1 column 409 (char 408)  `

[2015-02-26 13:04] kooimens commented on #45
I tried with a lot of shows, but for example you can try House from the TVRage db.

[2015-02-26 13:17] Hellowlol commented on #47
Okei, is history the only thing that isnt working? can you grab the history data manually from sabnzbd webui and paste that to pastebin?

[2015-02-26 14:25] Hellowlol commented on #45
@kooimens Can you try this branch https://github.com/Hellowlol/HTPC-Manager/tree/sr2 ? Im at work so i havnt tested it, but in theory it should work :P

[2015-02-26 21:12] Hellowlol commented on #45
Can you update and try again?

[2015-02-26 21:16] Hellowlol opened #49 "Cosmo improvements"
- [ ]  .label need to be overridden

If you find a visual bug please make a screenshot and include brower and version

[2015-02-26 21:57] Hellowlol commented on #46
So if i get your right image placeholder should be replaced with a table like sr and cp?

[2015-02-26 22:03] #49 closed

[2015-02-26 22:39] Hellowlol commented on #46
Im gonna leave the wanted albums carousel as it is atm, as i like the consistency with the other carousels. The other stuff you mention should be fixed

[2015-02-26 22:39] #46 closed

[2015-02-26 23:50] Hellowlol opened #51 "cherrypy hangs on auto update"
Waiting for child threads to terminate... on windows. I need to test if this happens on other platforms

[2015-02-27 01:34] madclicker commented on #41
All you have to do is mount an NFS share. Of course this means you have to use real operating systems.

[2015-02-27 14:05] kooimens commented on #45
Fixed! Thanks again

[2015-02-27 14:10] kooimens commented on #46
Yeah, that's right. Seems to be fixed now!

I mean the view on dash if there are no wanted albums is just not that pretty. Maybe, remove the wanted albums dash completely if wanted albums equal zero?

[2015-02-27 14:25] #45 closed

[2015-02-27 14:32] kooimens commented on #47
Indeed, history is the only thing that's not working.

You've got mail (gmail)

[2015-02-27 14:32] Hellowlol commented on #46
I could but i think the user would expect something to be there when its actived in the settings.

[2015-02-27 14:48] Hellowlol commented on #47
what mail was that? i think the one hithub shows is just a fake one, not even sure it exists.. :p

[2015-02-27 14:54] kooimens commented on #47
hellowlol1@gmail.com ?

[2015-02-27 14:55] Hellowlol commented on #47
ah, thats just a dummy. Do you have a user account on kodi forum or something where i can pm you the real one?

[2015-02-27 14:57] Hellowlol commented on #47
nvm... i acctually made that one.... just need to reset it.

[2015-02-27 15:52] kooimens commented on #47
A new error in sabnzbd came up. I think the '@' isn't the problem:
`2015-02-27 16:50:31 modules.sabnzbd ERROR Cannot contact sabnzbd Invalid control character at: line 1 column 7536 (char 7535)  `

[2015-02-27 16:45] Hellowlol commented on #47
Ok, is a probably invalid characters in the json returned from sabnzbd. I'll try to fix it later tonight.

[2015-02-27 20:53] Hellowlol commented on #47
@kooimens Can you update and try again?

[2015-02-27 21:00] kooimens commented on #47
Fixed! Many thanks!

[2015-02-27 21:06] #47 closed

[2015-02-27 23:17] kooimens opened #53 "Dash: bugs / improvements / discussion"
Right now, on the top row of my dash I have got plex latest movies, tv and music. These three are correctly shown in one row, like this: (1680x1050)
![3](https://cloud.githubusercontent.com/assets/3150962/6422843/ca3189b6-bedd-11e4-90b0-85d1490c2848.jpg)

However, my next aired (sickrage), wanted movies, latest downloads (sab) and wanted albums are shown in this way: (1680x1050)
![1](https://cloud

[2015-02-27 23:23] Hellowlol commented on #53
I agree. It doesnt feel unified at all. My goal if to have a drop and drag where the user chooses the location and it gets saved to the db.

[2015-02-28 00:25] kooimens opened #54 "Multiple newznab server support"
Would be great to have an option to add multiple newznab servers for searching NZB's. (Better to have it here, instead of in the dead repo;)

[2015-02-28 00:35] kooimens opened #55 "Couchpotato improvements"
One of the things I'm really missing atm is the option to manually downloads nzb's found by couch before ETA. See here, 2 available releases for Samba:
![2](https://cloud.githubusercontent.com/assets/3150962/6423641/5e5fcb1a-bee9-11e4-85dd-d265f04e21a0.jpg)
![1](https://cloud.githubusercontent.com/assets/3150962/6423693/2b0993a8-beea-11e4-9c24-8b9e304adb9e.jpg)

A tab with `Snatched & Available` w

[2015-02-28 00:45] Hellowlol commented on #55
There is a option to manually select what release to pick in the modal, but im not sure if movies before eta shows up there. Have you checked?

[2015-02-28 00:56] kooimens commented on #55
You mean within the couchpotato module in HTPC? I can't find a manual nzb option at all there...

[2015-02-28 01:07] Hellowlol commented on #55
![image](https://cloud.githubusercontent.com/assets/1214134/6423929/8fcb6344-beee-11e4-8cfd-d734ec04d476.png)

[2015-02-28 01:09] Hellowlol commented on #55
press the release button in the modal and you get that list up

[2015-02-28 01:12] Hellowlol commented on #55
There was a or for a suggestion tab to htpc manager from another person but it didn't get merged, then the api broke

[2015-02-28 08:42] Hellowlol commented on #54
I like the idea, but i already have a lot of stuff on my plate. So if anybody is up for the task i id welcome  a pr.

[2015-02-28 20:35] #40 closed

[2015-03-01 22:55] #51 closed

[2015-03-01 23:38] Hellowlol opened #56 "Themes bugs"
Flatly

- [ ] --

[2015-03-02 18:04] thejrose1984 opened #57 "FreeNAS plugin?"
Is this available as a FreeNAS plugin or does it have to done from source?

[2015-03-02 18:09] Hellowlol commented on #57
It has to run as source until someone makes a plugin.

[2015-03-02 18:11] thejrose1984 commented on #57
Okay, are there any known limitations for running from FreeNAS?

[2015-03-02 18:20] Hellowlol commented on #57
it should be rather easy to make a plugin as all the work is already done, my version does have some external library's in order to use every feature. Non of them are required tho.

Not that I know off but I know nothing about free nas ;)

[2015-03-02 22:48] Hellowlol commented on #5
@Hat3Mondays I noticed your tried to add a second plex
Server. Is this a feature your interessed in (just asking as you deleted the repo)? Or wasn't htpc manager a good fit for you?

[2015-03-03 18:43] 2devnull commented on #25
nZedb uses this and ZNC to keep an IRC connection. I use it there.

[2015-03-03 20:14] Hellowlol commented on #25
Ok

[2015-03-05 04:25] needo37 opened #58 "Sonarr module and reverse proxy"
When HTPC-Manager and Sonarr are configured behind a reverse proxy the Sonarr link on the top of the  HTPC-Manager page does nothing but pull back up the HTPC-Manager homepage.

Next Aired also pulls up the HTPC-Manager homepage.

However clicking on a specific episode under Next Aired does pull up the Sonarr module, but that is the only Sonarr page I can access.

[2015-03-05 04:42] needo37 commented on #58
Nevermind. I fixed it. It seems you need to set the webdir setting in the app itself not only on the command line.

[2015-03-05 04:42] #58 closed

[2015-03-05 07:01] Hellowlol commented on #58
Nice to know! I only tested setting the webdir directly in sonarr webui

[2015-03-05 09:22] Hellowlol commented on #55
@kooimens did you find any releases?

[2015-03-05 23:29] Hellowlol commented on #44
@Morphy99 I just added kickasstorrents and yts

[2015-03-05 23:29] #44 closed

[2015-03-06 20:08] kooimens commented on #55
Yes, I can also download movies before ETA on my wanted list! Thanks.

[2015-03-06 20:11] kooimens opened #59 "Sickrage improvement: show subtitle language"
I'm using dutch (primary) and english (secondary) as subtitles languages. Right now, you can only see if subtitles are available. It does not show the actual language(s).

[2015-03-06 20:34] Hellowlol commented on #59
I can't remember if the api returns the language but it should be easy to add if it does

[2015-03-06 23:53] kooimens commented on #59
Ok! Any idea where I can find the api docs for sickrage? I can't find it...

[2015-03-07 06:40] Hellowlol commented on #59
There isnt any other then /apibuilder or source code.

[2015-03-07 10:34] Hellowlol commented on #59
https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/js/sickrage_view.js#L162

[2015-03-07 21:50] Hellowlol commented on #59
Added a popover to the icon :)

[2015-03-07 21:50] #59 closed

[2015-03-08 15:48] kooimens commented on #59
Nice!

[2015-03-08 15:55] kooimens opened #60 "Sabnzbd improvement: add date to history tab"
The sabnzbd module is missing a history field. Will be better if the module shows the date and time of each download, just like all other modules do.

[2015-03-08 16:20] Hellowlol commented on #60
What are you talking about? There is a history tab and it's awesome imo. Do you want a timestamp on each history item?

[2015-03-08 17:40] kooimens commented on #60
Oeps. Got the first sentence wrong. It should be, the history tab is missing a date field.
![1](https://cloud.githubusercontent.com/assets/3150962/6546805/61aac254-c5c2-11e4-870b-6532001f2de5.jpg)

All of the modules I use (couch, sickrage, headphones) start with the date of each history item. For consistency and completeness, the same information should be in place for the sab module.

[2015-03-08 18:22] Hellowlol commented on #60
I agree, I have never thought about that.. I'll add it

[2015-03-08 19:34] kooimens opened #61 "couchpotato: auto fill quality profile if only one profile is available"
I make use of only one quality profile in couchpotato. It's called `Best`. When I add a movie through the couchpotato module within HTPC-Manager, it doesn't select this quality profile by default, instead the field is left blank.

![1](https://cloud.githubusercontent.com/assets/3150962/6547228/72798fd8-c5d2-11e4-89f9-3ce560a0f70b.jpg)
![2](https://cloud.githubusercontent.com/assets/3150962/6547229

[2015-03-08 20:38] Hellowlol commented on #61
Works fine here.. Let me guess IE?

[2015-03-08 20:54] #60 closed

[2015-03-08 20:54] Hellowlol commented on #60
Fixed

[2015-03-08 20:55] kooimens commented on #61
That's weird. It's working fine on chrome and safari. Tests with IE and Firefox fail, field is left blank.

[2015-03-08 20:58] Hellowlol commented on #61
Okei, i just tested with IE and it works with 11.09600

[2015-03-08 20:59] kooimens commented on #60
That's quick, again... Thank you.

[2015-03-08 21:00] kooimens commented on #61
Damn, I'm using same version here: 11.0.9600.17633

[2015-03-08 23:04] Hellowlol commented on #61
I cant seems to get this right, i have been trying for over 3 hours... i just dont care, ff and ie sucks anyway. lol

[2015-03-08 23:04] #61 closed

[2015-03-09 00:08] Hellowlol commented on #61
fixed

[2015-03-10 00:29] Hellowlol commented on #55
added suggestions and charts

[2015-03-10 00:41] Hellowlol commented on #55
Ah crap, i noticed you asked for dashboard soon aswell. Oh well some other time.

[2015-03-10 01:44] Hellowlol opened #62 "Todo 2"
1. Finish Mylar
2. Add edit show to sr

[2015-03-10 20:06] kooimens commented on #55
Wow! This is really awesome, many thanks.

I have found two small bugs after some testing:
1. I can remove `ignore` movies from the suggestions/charts tab, but it returns an error. When I refresh the page, it actually removed it from the list.
![1](https://cloud.githubusercontent.com/assets/3150962/6584106/321148d0-c769-11e4-9dc2-4c97c6855ee2.jpg)

2. The button `seen it` isn't doing anything.

[2015-03-10 20:22] Hellowlol commented on #55
Yeah, i noticed... it got a little late last night :P fix inc

[2015-03-10 20:27] kooimens opened #66 "sab history tab 12h time instead of 24h"
Sabnzbd history within HTPC-Manager shows this:
![1](https://cloud.githubusercontent.com/assets/3150962/6584511/3adad85c-c76c-11e4-9177-e9b051202660.jpg)

In sab it's like:
![2](https://cloud.githubusercontent.com/assets/3150962/6584524/4a510efa-c76c-11e4-9f76-fba08ff04fa2.jpg)

[2015-03-10 21:09] Hellowlol commented on #66
Changed to 24 hours format.

[2015-03-10 21:09] #66 closed

[2015-03-10 21:13] #55 closed

[2015-03-10 21:13] Hellowlol commented on #55
Should be fixed

[2015-03-10 21:50] kooimens commented on #66
Hmm. The time is now completely different from what sab is showing:
![1](https://cloud.githubusercontent.com/assets/3150962/6586174/cb31469c-c777-11e4-89c9-a4d4f1162325.jpg)
![2](https://cloud.githubusercontent.com/assets/3150962/6586176/cdf3a730-c777-11e4-8ccf-3aceb19af60f.jpg)

[2015-03-10 22:49] kooimens commented on #55
Nice! One more thing. Is it possible to show on the wanted movies on dashboard (for example with an orange exclamation mark in combination with a mouseover text) that a movie is wanted and snatched (not auto download). This happens many times if a movie is found before ETA. When doing it this way a can easily notify a movie that's snatched and available, but need some further investigation.

[2015-03-10 23:04] Hellowlol commented on #55
Please make a separate issue regarding that, but not gonna touch the dash rewritten. And i have forgotten long before that :P

[2015-03-12 01:46] kooimens commented on #66
It seems to be fixed.

[2015-03-12 05:42] wmariz opened #69 "S.M.A.R.T and Temperatures"
What about retrieving HD's and System temperatures and SMART data?

I'm not a python programer, but I've done some research and found this pages that looks useful.

http://www.stavros.io/posts/monitoring-your-systems-temperatures-python/
https://pypi.python.org/pypi/pySMART/0.2
http://louwrentius.com/tag/smartctl.html

Hope some one could implement this on the stats page.

Thanks and congratulatio

[2015-03-12 06:11] Hellowlol commented on #69
Hi. I'm mainly developing for windows (and making sure that's working on other platforms) it isn't likely a mix only feature. I do love your idea!

[2015-03-12 15:23] wmariz commented on #69
I would like to help testing on other platforms, but unfortunately I am using windows as well.

I believe that these links may also be useful, especially the last one:

https://pypi.python.org/pypi/PySensors/
https://pypi.python.org/pypi/Glances/
https://github.com/artsalliancemedia/system-monitor (The system temps are also read (Windows: using WMI from Open Hardware Monitor, Linux: using pysensor

[2015-03-12 15:40] Hellowlol commented on #69
Thanks for the links, ill check it out.

[2015-03-12 17:46] kooimens opened #70 "Newznab search: add age of NZB"
This can be useful. Space enough to add a column between category and size:D

[2015-03-12 18:04] Hellowlol commented on #70
Fine by me. Sure you dont want to fix this yourself?

[2015-03-12 18:34] kooimens commented on #70
I will give it a try tonight. Shouldn't be that hard

[2015-03-12 19:38] Hellowlol opened #72 "Sonar view show"
- Add icons to the menu

[2015-03-12 19:57] Hellowlol commented on #69
Wow, there is a webserver in that openhardwareinfo. So you you go to http://ip:port/data.json you get all the good stuff there :D

[2015-03-12 20:50] wmariz commented on #69
Great! And it works on linux and windows, so could be one unique implementation for both.

Also, smartmontools runs on both platforms, so you can grab SMART data from it.

[2015-03-13 08:12] Hellowlol opened #73 "Stats page"
Combine all info in nwtable to one call
Move vnstat in stats?

[2015-03-13 13:50] kooimens opened #74 "newznab password -1 or none?"
What does the -1 mean? It's prob a password protected nzb, but it should not be shown this way?
![10](https://cloud.githubusercontent.com/assets/3150962/6639467/43afb65c-c990-11e4-9cd4-477b20db2d6a.jpg)
![11](https://cloud.githubusercontent.com/assets/3150962/6639468/43b25c0e-c990-11e4-937e-8899480333c7.jpg)

[2015-03-13 13:55] Hellowlol commented on #74
I have no idea, i have only seen noen before.

[2015-03-13 14:01] kooimens commented on #74
Ok, I will try to fix it in my newznab age branch

[2015-03-13 22:28] Hellowlol commented on #69
@wmariz Just a little preview. http://i.imgur.com/hw0sV6F.png?1

[2015-03-13 22:30] Hellowlol commented on #69
![image](https://cloud.githubusercontent.com/assets/1214134/6648339/dc5b11c4-c9d8-11e4-88a3-5496d2b0a10f.png)

[2015-03-13 23:10] wmariz commented on #69
As I said before, I'm not a python program, but this made me try to learn. (i'm actually a lawyer, with some php experience).

I was trying to implement it but, looks like you are way ahead. So, I will start to try something on the S.M.A.R.T side.

Take a look at my pull request, was my first python code.

Best Regards

![hwmon](https://cloud.githubusercontent.com/assets/11435639/6648712/f23ebcc4-

[2015-03-13 23:25] Hellowlol commented on #69
Yeah, just browsing your code it looks good. I just broke the damn thing so I'm gonna have to fix that first.

[2015-03-14 17:23] Hellowlol commented on #69
@Snipees just pinging you as you had a request regarding monitor

[2015-03-15 13:03] Hellowlol opened #78 "IMPORTANT please read: Bug in updater"
There was a bug in the updater, so pressing check for update would fail no matter what. This issue has now been resolved.

To update to the last commit use one of the following options.
1. Use force update from the settings page
2. Update manually via git
3. Download source manually

[2015-03-15 13:06] Hellowlol commented on #78
Has anyone else experienced this?

[2015-03-15 16:15] Morphy99 opened #79 "Torrent Search no results gives no feedback"
When searching for a torrent and no results can be found there is just a "working" symbol. It would be much more helpful to display "no results" to the user. Also I get this error in log:
cherrypy.error.55007944	ERROR	[15/Mar/2015:15:59:20] HTTP Traceback (most recent call last):

[2015-03-15 18:22] Hellowlol commented on #79
Was that after your searched? Cus it always like that on startup. What provider was this and what did you search for?

[2015-03-15 18:30] Morphy99 commented on #79
I have KAT and YTS enabled

[2015-03-15 18:32] Hellowlol commented on #79
Ok, thanks

[2015-03-15 19:24] Morphy99 commented on #79
And yes its after a search. I did "this is a test s03e01" for example and waited ten seconds then clicked log

[2015-03-15 20:58] Hellowlol commented on #79
Thanks, should be fixed in the last commit

[2015-03-15 20:58] #79 closed

[2015-03-16 03:06] ohbarnes commented on #78
I am seeing the same issue.  Always returns an "Already running the latest version" message despite updates in the master2 branch.  It was working fine a week or 2 back (sorry can't remember exactly when at changed for me).

[2015-03-16 06:53] Hellowlol commented on #78
@ohbarnes thanks for confirming this issue.

[2015-03-16 09:26] Hellowlol commented on #78
@ohbarnes This issue should now be resolved.

[2015-03-17 23:47] ohbarnes commented on #78
Confirmed that latest changes in master2 branch prompted an update via "Check for updates".  Thanks for fixing so quickly.

[2015-03-18 11:25] #70 closed

[2015-03-18 11:29] #74 closed

[2015-03-19 10:07] Hellowlol opened #82 "Mylar"
- [ ] resize images
- [ ] rename html

[2015-03-19 10:12] Hellowlol opened #83 "Improve link to webinterface in modules"
Add a new field in the settings, if that exist return that from webinterface, remember escape.

This field can be used for subdomains. https://sickrage.domain.com

[2015-03-19 12:46] Hellowlol commented on #73
Closing this as the flickering is gone after the table in in the html.

[2015-03-19 12:46] #73 closed

[2015-03-19 16:03] kooimens opened #85 "Option to disable deletion of sabnzbd history"
I thought it shouldn't be too hard to do. Tried it, but wasn't succesful. I would like to have an option within the sabnzbd module to hide/disable the ability to remove a sab history item.
![1](https://cloud.githubusercontent.com/assets/3150962/6734670/cb72ff7c-ce59-11e4-8134-19f1ee9e6489.jpg)

[2015-03-19 16:11] henkjanvries opened #86 "notifications based on user input"
Id like to be notifcated if a user adds movies, deletes episodes, requests full wanted liste search in CP.

i use a lot with pushover for plexwatchweb, sonar, sabnzbd, CP

it gives a state of mind when you let people in to these parts of your media.

[2015-03-19 16:23] henkjanvries opened #87 "custom module user levels"
Id like to have users add movies, but i would not like to have them delete them.
same goes for episodes, if they want to look for better version ok, but don't let them mistakenly delete the entire series.

same goes for logging, like with CP, that is not info i want to share with users

i hope i make sense.

[2015-03-19 16:25] Hellowlol commented on #85
I dont know if im gonna add this, if im gonna do that it would be so many options... One possible option is tp add a more restrict user.

[2015-03-19 16:46] henkjanvries commented on #87
ok i see you also made some adjustments with this tree:
https://github.com/Hellowlol/HTPC-Manager/tree/addnewuser

ill check to see i this fills my needs. if you need feedback ill get back to you

[2015-03-19 17:01] henkjanvries commented on #17
ive tried this branch, but i don't have restrictions in couch potato. I can still remove movies etc.

am i doing something wrong?

[2015-03-19 17:03] Hellowlol commented on #17
Have you added a restrictwd user and logged in?

[2015-03-19 17:05] henkjanvries commented on #87
the adducer branch didn't work for me, do you have a helping hand?

[2015-03-19 18:05] Hellowlol commented on #87
There isn't much to it. But first you need to enable auth, to do that enter a username and password in the general tab. After that you add a restricted user. Then you reboot, login with restricted user. Do the stuff you want to test

[2015-03-19 18:10] Hellowlol commented on #86
This isn't something I will add, however if any wants this feel free to send a pr.

[2015-03-19 20:51] henkjanvries commented on #17
its working now, this branch is only behind. anyway to get it up to latest branch?

[2015-03-19 20:59] Hellowlol commented on #17
Yeah, you have to merge master2 branch into this one.

Im not gonna do it until the feature is done and that gonna take some time, unless @CamJGaming or someone else test every link as i have asked.

Im not gonna do anything until its done as it just loads of work and i personally dont have use for this.

[2015-03-19 21:59] Hellowlol commented on #17
@henkjanvries try this one https://github.com/Hellowlol/HTPC-Manager/tree/tempaddnewusr

[2015-03-19 22:23] #69 closed

[2015-03-20 00:45] Madseason41 opened #88 "Computer Stats"
I can't enable computer stats. I have psutil installed, but the web ui does not allow me to select the enable tic box, it just shows a red circle with line through it. Any idea on how to troubleshoot this?

Running ubuntu 14.10.

Thanks

[2015-03-20 03:28] wmariz commented on #88
Try to update to last commit. This was fixed.

[2015-03-20 06:55] Hellowlol commented on #88
@Madseason41 does it work after update?

[2015-03-20 09:26] henkjanvries commented on #17
ive got this running in your master2 branch. i changed the setting yesterday for the user role.
Thanks!
This works for me, and my users.

[2015-03-20 09:43] Hellowlol commented on #17
Please report any issue so this get merged with master2

[2015-03-20 11:36] Madseason41 commented on #88
Latest update seemed to do the trick. Thanks

[2015-03-20 11:43] #88 closed

[2015-03-20 12:57] kooimens opened #90 "Load "other apps" in same tab or within htpc"
As I'm having a lot of other apps (owncloud, subsonic, mail etc.) I would like to have the ability to load these apps in the same tab as my htpc is running at that time or, even better, load the app within htpc. I mean load the base with the custom app underneath it.

If you like the idea, please let me know. Then I will give this a try. I already tried some things. The use of an iframe will proba

[2015-03-20 13:14] kooimens commented on #85
I agree in same way. However, the more options, the better. In the end it should be regulated on the user permissions level. As I'm having all my apps in contact with my windows active directory, I don't make use of the user functionality of htpc. The active directory takes care of all the authentication and authorization of my users. And of course, build-in ldap user functionality in htpc would b

[2015-03-20 14:04] Hellowlol commented on #85
1. I have already made a kiosk mode, but i did it for https://github.com/madclicker/PyTunes.
2. This is loads of work with imo small benefits. I will not do anything like this.
3. Keep testing the https://github.com/Hellowlol/HTPC-Manager/tree/addnewuser so it get get added to master

[2015-03-20 14:06] Hellowlol commented on #90
Im not really a fan of iframes.. I think opening a a new tab is the cleanest approch, however if you find a ok way to do both ill merge it.

[2015-03-20 15:55] henkjanvries commented on #87
iv got it all working and have the restriction i need. I jut want the modules to be more restricted. Like when adding a movie, i don't want restricted users to have the option to choose quality. Id like to set that up as a fixed variable.

Same goes for the download location where Sonarr should put it shows. I have a couple location therefor the add_show_folder drop down shows these. it would be g

[2015-03-20 15:57] henkjanvries commented on #86
no clue on how to do it. i do know now after using the manger, that the modules will do this if the settings are set. only not on user level of login in the manager.
Thats not a real issue imho.

[2015-03-20 16:01] henkjanvries commented on #85
ive done some custom restrictions in the modules. using the restricted_user mod this works for me for 95% of the time.
is there a way to set these in the setting pages of the modules? i mean, would it be hard to add these option to the settings pages of the modules.

[2015-03-20 16:03] henkjanvries commented on #17
like ive said in another issue thread, ive set a lot of permissions my self. based on the master2 branch.
it would be good to have functions greyed or invisible when not having correct role.

[2015-03-20 19:14] Hellowlol commented on #85
There isnt a way, and yes it would be major pita. I will not add on that

[2015-03-20 20:01] henkjanvries commented on #85
fair point! keep up the good work

[2015-03-21 08:48] henkjanvries opened #92 "Shoutbox for communication from and to the users"
Id like a simple shout box so the users can add comments, wishes or props for the library.
plus it gives me the opportunity to send updates without having to contact everyone individually

something like http://tutorialzine.com/2015/01/shoutbox-php-jquery/

[2015-03-21 14:20] Hellowlol commented on #10
I'm really sorry for being so slow, according to Mylar api docs stuff there are some api commands di t don't even exist. My plan was to do the last push and merge yesterday, but I have to fix more stuff in the api first

[2015-03-21 18:43] edru commented on #10
Ahh no worries man. Cant really build something if what you need to build
on top of is broken.

On Sat, Mar 21, 2015 at 9:20 AM, Hellowlol <notifications@github.com> wrote:

[2015-03-22 00:36] CamJGaming commented on #17
Sorry for not replying. I forgot that I made this thread. What can I test?

[2015-03-22 00:47] CamJGaming commented on #17
Wanted to clarify my original post. I'd like to give users access to adding movies, shows, etc, viewing downloads, and grabbed movies, but no access to deleting, changing, or restarting/shutting down services.

[2015-03-22 01:30] Hellowlol commented on #17
That should be fixed in every module but sonar and headphones. Check the tempaddnewusr branch.

[2015-03-22 03:53] CamJGaming commented on #17
I tried the tempaddnewusr branch. With both restricted user and user, it gives me the option to delete movies from couchpotato still.

[2015-03-22 14:52] Hellowlol commented on #17
That shouldnt be possible for a restricted user, thanks for reporting that. There are several actins in cp that would be restricted that arnt (added after the the branch was made). Have you tried the other modules!

[2015-03-22 19:35] CamJGaming commented on #17
Yeah, in nzbget, with restricted and user, I can change the speed limit. So restricted user is the new user for adding and viewing?

[2015-03-22 20:18] Hellowlol commented on #17
The idea

restriced user: Add stuff, see stuff
user: Access to everything in the modules
admin: Access to everything

[2015-03-22 20:19] CamJGaming commented on #17
I will test restricted more and get back to you.

[2015-03-22 22:43] Hellowlol commented on #17
CP delete works fine, it does not delete with a restriced user.

[2015-03-22 22:50] wmariz commented on #53
I think this could be closed.

[2015-03-22 22:51] Hellowlol commented on #53
Yep

[2015-03-22 22:51] #53 closed

[2015-03-23 01:37] thejrose1984 opened #95 "FreeNAS / FreeBSD issues"
Trying to manually install HTPC-Manager in a jail:

     1	21:25	pkg update
     2	21:26	pkg upgrade
     7	21:29	git clone https://github.com/Hellowlol/HTPC-Manager.git
     8	21:30	ls
     9	21:30	cd HTPC-Manager/
    10	21:30	git pull
    11	21:30	ls -l
    12	21:30	python Htpc.py
    13	21:30	./Htpc.py
    14	21:33	exit
    15	21:34	pkg install python
    16	21:34	HTPC-Manager/Htpc.py
    17	2

[2015-03-23 06:58] Hellowlol commented on #95
I dont think you can install from source. You can find a example of a plugin here https://github.com/josh4trunks/freenas-plugins.

I know nothing about freenas, your likely to have much better luck asking on the freenas forum.

[2015-03-23 14:54] #95 closed

[2015-03-24 12:45] Outcats opened #96 "Undefined for all links"
•Branch
Master2

•Commit hash
unknown

•Your operating system and python version
Windows 8.1 / python 2.7.7

•What did you do?
Add Plex, CouchPotato etc

•What happened?
Added and verified without issue, the links at the top state "Undefined" instead of a clickable link. If you add several it just looks like:

"UndefinedUndefinedUndefinedUndefinedUndefinedUndefined" across the top.

•What did you

[2015-03-24 14:20] Hellowlol commented on #96
Thanks you for making a proper issue! I think your the fist one
I dont know if @wmariz tested reorder Menu on ie. I didn't.

Honestly I getting tired of doing special things just for IE.

@wmariz do you have idea what might be the cause of this?

Thanks for reporting this. Until this issue is resolved use a proper browser ;)

[2015-03-24 14:50] Hellowlol commented on #96
@Outcats what is the menu_order? You can find it in one of the script tags

[2015-03-24 14:59] Outcats commented on #96
script>
    Menu = {}
                 Menus['nav-plex'] = '<li class="nav-menu-item" id="nav-plex"><a href="/plex/>Taylor-FX</a></li>;
    Menu_order = "0";
</script>

[2015-03-24 18:42] Hellowlol commented on #96
Tried force refresh the browser? I cant seem to reproduce your error. It works fine here (win 7 ie 11.0.9600.17501)

Can you copy out the entire script tag where you find menu_order?

[2015-03-24 18:50] Outcats commented on #96
I can't paste the code into the message box so I put it in a paste bin:

http://pastebin.com/Tn1gVQHC

[2015-03-24 18:57] Hellowlol commented on #96
Can you use the force update option in the settings page and try again? just to be sure.

[2015-03-24 19:01] Outcats commented on #96
Did a force update from settings, as well as a force refresh, and a restart of IE. I've also restarted HTPC Manager from settings and still "undefinedundefinedundefinedundefinedundefinedundefinedundefined"

[2015-03-24 19:02] Hellowlol commented on #96
OK, can have the full version number of your IE, need to fire up a vm..

[2015-03-24 19:05] Outcats commented on #96
Version: 11.0.9600.17690

![capture](https://cloud.githubusercontent.com/assets/11628565/6810448/a4be5036-d258-11e4-9dbb-b8d277e60ca6.PNG)

[2015-03-24 23:56] z1lt0id opened #97 "Torrent search not adding torrent to Deluge with kat"
I've setup torrent search to search through KickAssTorrents but when I click on send to Deluge a message comes up saying "Sending to Deluge" and then I go and check my Deluge torrent queue but nothing appears.  I have it working correctly as I can delete torrents and view them on HTPC but this feature doesn't seem to work.  I checked the logs and couldn't find anything regarding it.

[2015-03-25 00:24] Hellowlol commented on #97
Have you tried any of the other providers?

I just tried to add one now for htpc-manager and it didnt work. I copied that link to the deluge and tried to add it manually from webui.

That didnt work, i dobled checked with a norbits, and it works fine there.

Seems that deluge webapi have a issue with link for kat (torcache)

[2015-03-25 00:26] z1lt0id commented on #97
Ah I see I'll try another provider and see how it goes. Manually adding
magnet links to the webui of Deluge works though still via KickAss.
Thanks for the quick response.

On 25/03/15 11:24, Hellowlol wrote:

[2015-03-25 00:31] Hellowlol commented on #97
I havnt tried that but thats cool. The api htpc-manager uses atm does not support magnet links. (magnet addr isnt returned by the json api)

[2015-03-25 00:34] Hellowlol opened #98 "bug in yts"
File "C:\Users\.....\Documents\GitHub\HTPC-Manager\libs\ts\yts.py", line 33,
 in search
    if f["data"]["movie_count"] >= 1:
TypeError: list indices must be integers, not str

Searched on: seven

[2015-03-25 00:36] Hellowlol commented on #97
Ill see if i can solve this a different way. (Download torrent locally then upload that torrent to deluge)

[2015-03-25 00:37] z1lt0id commented on #97
That would work wonderfully if you can get HTPC to do that.

On Wed, Mar 25, 2015 at 11:36 AM, Hellowlol <notifications@github.com>
wrote:

[2015-03-25 00:45] Hellowlol commented on #97
Np. Its low priority so it might take some time.

[2015-03-25 00:47] Hellowlol commented on #97
https://github.com/Hellowlol/HTPC-Manager/issues/19

[2015-03-25 01:01] wmariz commented on #96
I wasn't able to reproduce that.

[2015-03-25 04:24] zanix commented on #57
I just did this on my FreeNAS server since Hellowlol's fork is what I was looking for.

I just added the default htpc-manager plugin from the plugins menu, shut down the htpc-manager, service, archived the existing program code, deleted the folder, git cloned this fork, started the service, and now I'm on this fork!

You will need ssh access to your FreeNAS box to do this.<br>While I installed htp

[2015-03-25 06:04] Hellowlol commented on #57
Thanks @zanix

[2015-03-25 15:56] thejrose1984 commented on #57
Thank you @zanix, seems to have worked, more or less. For some reason the jail didn't have git installed and had to do some minor tweaking, but after that, it seemed to have worked. However, I noticed the following when I started the service again:

Starting htpc_manager.
2015-03-25 11:50:06 :: root :: INFO :: Welcome to HTPC-Manager!
2015-03-25 11:50:06 :: root :: INFO :: Loglevel set to info
201

[2015-03-25 16:30] Hellowlol commented on #57
Try adding /transmission to rpc url. I thought i fixed that..

Regarding sonar I have no idea. I have to test later.

[2015-03-25 16:32] zanix commented on #57
I had to set my Transmission RPC path to `/transmission/rpc`

[2015-03-25 16:43] Hellowlol commented on #57
That souldn't work.. As the url should be ip:port/transmisson/rpc/rpc. Thanks for reporting this. It's a easy fix

[2015-03-25 16:43] thejrose1984 commented on #57
Thanks @zanix and @Hellowlol that worked! Thanks again. As for Sonarr, I'll do some troubleshooting on my side as well and hopefully one of us will sort it out. I also noticed LazyLibrarian isn't an available feature. Will that change?

[2015-03-25 16:46] Hellowlol commented on #57
I don't know, I don't have a any plans for it but please make seperate issue for that so i don't forget when this issue is resolved.

[2015-03-25 16:47] thejrose1984 commented on #57
I'll check to be sure there isn't an open issue first to try to reduce dupe reportings @Hellowlol

[2015-03-25 16:48] thejrose1984 opened #99 "Please add feature/module - LazyLibrarian"
Would like to see LazyLibrarian added as a module to HTPC-Manager

[2015-03-25 16:51] Hellowlol commented on #57
@zanix can I add the guide you write regarding freenas to the wiki?

[2015-03-25 16:52] zanix commented on #57
Sure, that would be great!

[2015-03-25 18:07] thejrose1984 commented on #57
No need to troubleshoot @Hellowlol the issue with Sonarr. I removed and readded the API key followed by restarting HTPC.

[2015-03-25 18:22] Hellowlol commented on #57
Good thanks for letting me know.

[2015-03-25 18:22] #57 closed

[2015-03-25 18:37] kooimens commented on #96
Just pulled the new commits. Dash looking good! Great work. I've got the same problem when I use IE.
![1](https://cloud.githubusercontent.com/assets/3150962/6832368/4ac4747e-d326-11e4-8d0e-18c15e4709d2.jpg)

Let me know if you need more info.

[2015-03-25 18:52] Hellowlol commented on #96
@kooimens what os version?

[2015-03-25 19:02] kooimens commented on #96
Windows 7 Ultimate SP1 x64 EN-US Oct. 2014

[2015-03-25 19:05] kooimens commented on #87
You can fix your CP problem by just using only one quality setting;)

[2015-03-25 19:10] kooimens opened #100 "Change order of "other apps""
This would be useful as almost everything is changeable now, except for these links. If it's too hard to build it the way the menu order is built, a field to number each custom app link could be an option (like the maraschino project did).

[2015-03-25 22:20] #83 closed

[2015-03-25 22:20] #98 closed

[2015-03-25 22:21] Hellowlol commented on #57
basepath should be fixed now :)

[2015-03-25 23:51] thejrose1984 commented on #57
It is fixed! Thanks again @Hellowlol

Quick question for @zanix though...when installing this fork of HTPC-Manager on FreeNAS, what file permissions need to be set to allow program updates through the web UI? I ran into issues when I tried:

2015-03-25 18:33:44	htpc.updater	ERROR	Unable to update through git. Make sure that Git is located in your path and can be accessed by this application.
2015-

[2015-03-26 01:04] zanix commented on #57
Yeah, mine had an error doing auto updates too. I'll figure this out shortly.
For now, you can stop the service, run `git pull` in `/usr/pbi/htpc-manager-amd64/share/htpc-manager/HTPC-Manager`, then restart the service.

[2015-03-26 01:05] thejrose1984 commented on #57
That's what I ended up doing when @Hellowlol updated his code. Thanks again @zanix

[2015-03-26 01:41] wmariz commented on #96
It just happens on new installations, I will try to fix

[2015-03-26 03:11] wmariz commented on #96
Is not only on new installations.

I've made a pull request that fix it.

[2015-03-26 03:45] zanix commented on #57
The user is media so the folder should be owned by media
Inside the jail, run
`chown -R media:media /usr/pbi/htpc-manager-amd64/share/htpc-manager/HTPC-Manager`

I haven't had the opportunity to see if updates from HTPC-Manager work, but I will respond to this comment once there is an update.

[2015-03-26 06:52] wmariz commented on #100
It's easy to code it, but I don't know how to make this work well on the interface.

Any ideas?

[2015-03-26 07:04] Hellowlol commented on #100
What about if the list is just sortable and on save its serialized to the db? So in the settings page?

[2015-03-26 07:11] wmariz commented on #100
You mean changing the order on settings page only? I think it's ok, but is not integrated as the others.

[2015-03-26 07:18] Hellowlol commented on #100
I agree, but I couldn't find a better place to do it.

[2015-03-26 08:14] wmariz commented on #100
https://github.com/Hellowlol/HTPC-Manager/pull/102

[2015-03-26 12:14] #100 closed

[2015-03-26 12:52] thejrose1984 opened #103 "CouchPotato takes a long time to load"
The other modules load almost instantly, but CouchPotato takes a while. Not sure if it has to do with the fact there's a large library (doubtful because then Plex would also take a long time to load). Checked the logs and didn't find any messages.

[2015-03-26 12:54] thejrose1984 commented on #57
Yeah, that worked @zanix
@Hellowlol you might want to add that to your Wiki for installing on FreeNAS

[2015-03-26 13:22] Hellowlol commented on #103
The entire js is one large hack so I don't know if I can get it any better without rewriting the entire thing. That isn't likely. How long did it take?

[2015-03-26 13:24] Hellowlol commented on #57
Are you up for the task? ;) if not I'll do it later, thanks for the tip

[2015-03-26 13:27] madclicker commented on #103
All the js is just a hack job. I rewriting now and seeing significant speed and stability increases.

[2015-03-26 13:31] Hellowlol commented on #103
Using js or your static vars?

[2015-03-26 13:39] madclicker commented on #103
Static html. I'm also restructuring that. Just because js can create html on the fly doesn't make it the right way to do it.

I even remember @styxit mentioning it.

[2015-03-26 13:42] styxit commented on #103
True, i wanted to use some js templating like [handlebarsjs](http://handlebarsjs.com)

[2015-03-26 13:49] Hellowlol commented on #103
Well I don't like your static vars I'll rather have slow or atleast use mako. Handlebars has similar syntax.

Imo the best solution would be to split monster js so you can get rid of the duck typing

[2015-03-26 15:33] thejrose1984 commented on #103
@Hellowlol anywhere from 30 seconds to a minute and can sometimes crash the browser

[2015-03-26 15:39] thejrose1984 commented on #57
I can send you a draft of the FreeNAS install based on @zanix documentation above with screenshots if you'd like

[2015-03-26 15:42] Hellowlol commented on #103
How many movies? Is it difference between the browsers?

[2015-03-26 15:44] Hellowlol commented on #57
Just add it to the wiki, I think everyone can edit it.

[2015-03-26 15:45] thejrose1984 commented on #103
1000+
Tried in Chrome and Native browser on my Galaxy S5 - same response time
Also tried Chrome and Firefox from Mac OS X

[2015-03-26 15:45] zanix commented on #57
I'll add my post form above real quick, then @thejrose1984 can edit it.

[2015-03-26 15:49] Hellowlol commented on #103
Ok, seems strange. I'm gonna double check my movies number later. I'm not sure if all of them are in cp. btw can you check the devolopment checkbox inside cp and see if it gets better?

[2015-03-26 15:59] zanix commented on #57
Posted to the wiki

[2015-03-26 16:37] Hellowlol commented on #57
Thanks a lot!

[2015-03-26 18:59] raysguy opened #104 "Duplication in Plex module / add option to select included libraries"
In Plex I have a number of libraries set up customised to the viewing preferences of individual users.  There's quite a bit of overlap where libraries include the same shows/movies.  The result is that my Plex module in HTPC-Manager is a mess as it has lots of duplicate items.

It'd be great if there was a way to prevent these duplicates appearing.  I'm guessing the best solution would an option i

[2015-03-26 19:06] Hellowlol commented on #96
@Outcats @kooimens Can you update and comfirm that latest update resolves your issue.

[2015-03-26 19:17] Outcats commented on #96
Hi, just did the update and now it displays all my tabs now, thanks!

(I have noticed that if the page isn't full screen they all disappear and it is just a blank black bar though.)

[2015-03-26 19:20] Hellowlol commented on #96
screenshot?

[2015-03-26 19:24] wmariz commented on #96
I think it is because of the responsive layout for tablets and mobile phones, if the window is below certain width, the menu goes under the drop down menu on the right.

[2015-03-26 19:26] Hellowlol commented on #96
Yeah, that was my thought as well :P

[2015-03-26 19:26] #96 closed

[2015-03-26 20:04] Outcats commented on #96
Yeah, when I expand the menu it shows in the drop down. As far as I'm concerned this is fine and all issues my end resolved. :)

[2015-03-26 23:22] Hellowlol commented on #104
If you just want dupes removed that would be a easy fix. If you want to choose what to exclude I need to start digging in the api, I have no idea what it returns.

[2015-03-27 00:21] raysguy commented on #104
Hi, thanks for the quick reply.  I'd be happy just having the dupes removed because at least then I'd be able to see everything I have in one place.

I've got a few small issues I wanted to ask about too please but I'm new to github so I'm not sure if I need to move them to a new issue.  Basically on the Dashboard the "Latest Movies" section loads correctly but the "Latest TV Shows" remains blank

[2015-03-27 07:20] Hellowlol commented on #104
@raysguy Please make a new issue regarding the bug etc. I dont want that mixed up with feature requests.

[2015-03-27 09:36] Hellowlol commented on #104
Module in dash:I see that it sometimes complains about a variable that i changed yesterday, that might be the reason. Ill fix this.

Themes: I just added every theme i found as bootstrap 2 is getting old, i have not tested every theme, please add that to the themes issue.

Images: I dont know why there is a diff in quality, the code is the same, ill look into this.

[2015-03-27 17:39] raysguy opened #105 "Miscellaneous bugs with Plex module"
As requested I'm adding the Plex bugs into a new issues.  Thanks for looking into these.  On the Dashboard the "Latest Movies" section loads correctly but the "Latest TV Shows" remains blank (no placeholder or anything), and within the Plex module of Manager the thumbnails for movies/shows are rather low resolution, whereas those in the CouchPotato area are crisp and sharp.

[2015-03-27 17:49] Hellowlol commented on #105
Can you paste your the response of ip:port/plex/GetRecentShow to pastebin
Paste your log to pastebin.
 Are there any console errors in your browser?
 What browser and version number?

[2015-03-27 17:52] raysguy commented on #105
Just wanted to update this here and let you know that with regards the dash module it hasn't worked for me at all since I first started using HTPC-Manager a few days ago.  I just updated my installation with your reversion from a few hours ago but it persists.  I'll grab that other info you asked for and post you the link.

[2015-03-27 18:43] raysguy commented on #105
Here is the response: http://pastebin.com/Z6Z6vchm

Here is the log: http://pastebin.com/vWAGC47F (errors shown occur every time HTPC-Manager loads but it doesn't seem to generate anything when I visit the link you mentioned.  Hope that helps.

[2015-03-27 18:44] raysguy commented on #56
Spacelab - pages do not load any css styling with this theme selected.  Page is unformatted, unreadable and unusable when that theme is selected.

[2015-03-27 18:50] Hellowlol commented on #105
@raysguy ah crap the command was ip:port/plex/GetRecentShows can you try again?

[2015-03-27 19:14] raysguy commented on #105
No problem.  Results are here: http://pastebin.com/mHyDBabK  Need to check console with Safari after a reboot.

Log which is now capturing the error which occurs loading that page:  http://pastebin.com/c3E0kXia

[2015-03-27 19:26] Hellowlol commented on #105
wipe the log. Enable debug logging and try again?

[2015-03-27 22:34] Hellowlol commented on #104
@raysguy the dupication should now be fixed, can you update and confirm?

[2015-03-28 00:51] raysguy commented on #105
This is the new Safari console error message - same as before - http://pastebin.com/mbJ5yZSA

[2015-03-28 00:55] Hellowlol commented on #105
That's fine, that isn't related.

[2015-03-28 00:57] raysguy commented on #105
I already had debug logging enabled but I reset it as requested and re-tested the link.  These are errors that show up every time I try to load the page: http://pastebin.com/KPCxNNdJ

[2015-03-28 01:03] raysguy commented on #104
I've updated and duplication is now fixed in the Movies tab within the Plex page, however duplication still exists on the TV tab.

[2015-03-28 01:06] raysguy commented on #56
Excellent, just tested and this is fixed in later revision.  Thanks :)

[2015-03-28 01:12] Hellowlol commented on #105
Ok I didn't notice that in your privious log.

I need your xml to figure this out. Go to http://pmsip:pmsport/library/sections

[2015-03-28 01:13] Hellowlol commented on #104
Ah crap I only tested movies..

[2015-03-28 01:17] raysguy commented on #105
Here's the XML: http://pastebin.com/i8G1kurL

[2015-03-28 07:20] raysguy opened #106 "Request - option to add Search tab to menu bar"
Hi, I have a small request based on something I just noticed.  I love being able to do a quick search via the search bar, but sometimes I want to be more specific and target certain categories.  I realised there's no way to do this without first performing a search to bring up the search page or manually going to ip:port/search.  I know I could add a custom link to ip:port/search but it would then

[2015-03-28 07:30] raysguy commented on #54
Very excited for this feature.  Will OMGWTFNZB be supported?  I notice on most services it's a separate section to the regular newznab providers so wasn't sure if this is something you were planning to add.

When it's complete would it be possible to add a simple API + key to allow search in HTPC to be used by other clients?  At the moment I use NZBmegasearcH which lets you add multiple newznab ac

[2015-03-28 07:33] Hellowlol commented on #105
Thanks. I have to make a seperate branch for you to use so we can debug this properly.  I suspect it fails https://github.com/Hellowlol/HTPC-Manager/blob/master2/modules/plex.py#L168 so I need to have all the episodes. I'll give you a link to a new branch later.

[2015-03-28 07:35] Hellowlol commented on #106
This would be major pita as the seach bar is used in a lot of modules not just newznab search.

[2015-03-28 07:40] raysguy commented on #105
Thanks, I'm happy to provide whatever info you need to try and debug it.

[2015-03-28 07:42] raysguy commented on #106
Ah, I see.  Maybe just adding the option for a Search menubar item would be the simplest route then.

[2015-03-28 07:44] Hellowlol commented on #54
checkout the kodi servers settings tab, it's gonna be like that. It will only support newznab api. I'll add a new dropdown to the seach page where you can choose what provider to use or search on all.

[2015-03-28 07:48] Hellowlol commented on #106
Yeah, that's would easy fix

[2015-03-28 10:21] Hellowlol opened #107 "Couchpotato library does not work"
Check if the api has changed....

[2015-03-28 20:09] thejrose1984 opened #108 "Feature request - episode list from main page for Sonarr module"
Would it be possible to shrink the size of the column that shows the show name and add a column that shows the number of episodes (e.g. 12/13 episodes available)?

[2015-03-28 21:05] #107 closed

[2015-03-29 01:48] Hellowlol commented on #108
done

[2015-03-29 01:48] #108 closed

[2015-03-29 01:48] #106 closed

[2015-03-29 01:59] Hellowlol commented on #105
Use this branch: https://github.com/Hellowlol/HTPC-Manager/tree/plexsucks
go to: http://localhost:8085/htpc/plex/GetRecentShows
grab the content post it to paste bin.

[2015-03-29 03:03] raysguy commented on #105
Here's the content: http://pastebin.com/9Zqc585H
I see an empty container for Latest TV Shows on the dash now at least.

[2015-03-29 03:12] raysguy commented on #106
Hi, just tried this after the latest changes but it isn't working for me.  The option to rename it has no effect - just shows as Newznab on the nav bar.  When I click on that link it just takes me to ip:port/nzbsearch/ which shows the "An error has occurred" message.  Nothing in console errors except same one as yesterday which I think you said wasn't related.  Same result in both Safari and Chrom

[2015-03-29 04:14] CamJGaming commented on #17
Could the ui element be deleted though? CP seems fine with restricted.

[2015-03-29 10:41] Hellowlol commented on #17
No

[2015-03-29 10:50] Hellowlol commented on #106
Yeah, sorry about that it doesn't use the same logic as the rest of the modules.

[2015-03-29 13:49] JJmax opened #109 "SSL Error with fork"
I'm trying to access this awesome fork via SSL and for some reason it will not accept the cert while the main clone does along with CouchPotato and Sonarr as well. The cert was made with directions from Sonarr. I also made new certs via different methods and made different kinds but it was the same result. Any help is appreciated greatly. I really want to use this fork and my searching and attempt

[2015-03-29 14:02] Hellowlol commented on #109
Hi!
Have you tried with the certs that generated for you?
By enabling ssl and not provide a path for it HTPC manager will make them for you. Does that work?

What are the cert details?

[2015-03-29 14:10] JJmax commented on #109
I saw that function in the code, and read about it, but I didn't see where in the interface I was able to do it. I'm sure I'm being an idiot and missing it cause I've been at it a long time. That would make it a lot easier and would definitely work.

I just made a cert for my domain at the site the wiki for Sonarr said to go to then get the tumbprint/make a .pfx.

[2015-03-29 14:19] Hellowlol commented on #109
Well, I totally get why you didn't know where to do it. :p Try deleting the cert and key and reboot htpc manager

I know nothing about ssl so I have no idea what a pfx is...

[2015-03-29 14:24] JJmax commented on #109
I have. I don't see an option. Tried both Firefox and Chrome. Is it under another tab besides general maybe. Screen included

![generaltab](https://cloud.githubusercontent.com/assets/11706293/6886019/ac2004e8-d5fd-11e4-8170-9b387e5fba29.png)

[2015-03-29 14:26] Hellowlol commented on #109
Just check use ssl, save then reboot.

[2015-03-29 14:29] JJmax commented on #109
Nothing. It's just ticked now. Tried restarting twice and refreshing page.

[2015-03-29 14:30] JJmax commented on #109
Is there maybe a dependency I'm missing. I've installed simplejson, psutil, pil, pyopenssl, c++, easy install, and few others I can't think of right now.

[2015-03-29 14:34] Hellowlol commented on #109
OpenSSL is needed.

[2015-03-29 14:37] JJmax commented on #109
I have it installed for Python. Should I install it for Server 2012 too

[2015-03-29 14:53] JJmax commented on #109
Ok well I don't know if it didn't install right or what. I cloned the git and even installed C++ 2008 or whatever it was when it gave an error.

You bringing up OpenSSL made me want to try a different way using pip -m install and it worked! Thank you so much for your patience and all your help! You're amazing!! I knew I was being an idiot.

There was still an error, but it connected finally unlike

[2015-03-29 15:02] Hellowlol commented on #109
check the userdata folder, can you see any .cert and key there? If it is delete them and try again

[2015-03-29 15:51] JJmax commented on #109
That did the trick. I really do appreciate it a lot. Thanks for talking it out with me to get it working. You happen to have a BTC address by any chance?

[2015-03-29 16:17] Hellowlol commented on #109
I'm happy to help. I'm glad it got sorted out. I'll add some stuff to the wiki.

No, I don't have a btc address but thanks for the consideration.

If you still feel like donating I'm sure kodi, sr, cp, sonarr etc would be happy to take your hard earned $$ off your hands ;)

[2015-03-29 16:17] #109 closed

[2015-03-29 18:59] thejrose1984 commented on #108
Thanks again @Hellowlol

[2015-03-29 23:05] Hellowlol opened #110 "Make Qbit dash and log scrollable"
fix qbt controls input append. it skrews up the alignment

[2015-03-30 00:59] thejrose1984 opened #111 "Search bar doesn't do anything"
![screen shot 2015-03-29 at 8 58 13 pm](https://cloud.githubusercontent.com/assets/7573083/6888794/5e2c085a-d656-11e4-8b97-03dcaf615754.png)

Since I have a fairly large library, it is helpful to search, but noticed that when I try to query something and press the enter key, nothing happens and the logs don't show anything being wrong. Any ideas?

[2015-03-30 01:03] thejrose1984 opened #112 "Plex Controls don't work"
Can't start streaming or control media from connected Plex server. Below is the log entries when I try:

2015-03-29 21:02:37	modules.plex	ERROR	Unable to play + item + on player 192.168.1.10
2015-03-29 21:00:07	modules.plex	ERROR	Unable to control Plex with action: play

Any ideas how to troubleshoot further?

[2015-03-30 05:12] Hellowlol commented on #111
Search for what where? Start htpc manager with loglevel debug and post the log.

[2015-03-30 05:14] Hellowlol commented on #112
What player is there on that computer?

[2015-03-30 06:27] Hellowlol commented on #105
@raysguy Can you update the plexsucks branch and try again.
Does the recent show appear? if not paste the content of go to: http://localhost:8085/htpc/plex/GetRecentShows
and full debug log.

[2015-03-30 06:36] raysguy commented on #105
Awesome, recent shows are now appearing on the dash with that latest update! Thanks.

[2015-03-30 06:52] Hellowlol commented on #105
Ok, ill add that to the master2 branch later. So now its only the question about tvshow dupes. Does that still appear?

[2015-03-30 07:12] raysguy commented on #105
Yeah, the dupes still appear in the TV shows section.

Also just noticed another Plex bug - when I click on a movie or tv episode and the pop up appears, if I have Plex Home Theater open on my Mac there is a button which says "Play on Plex Home Theater".  However, when I click on it nothing at all happens other than the pop up closes.  Nothing shows up in the logs though.  I should mention that wh

[2015-03-30 07:30] Hellowlol commented on #105
Ok, can you start htpc manager with loglevel debug so we get some logs. I dont use pht but it looks like have to install it

[2015-03-30 08:18] raysguy commented on #105
Thanks.  Here are recent debug logs - http://pastebin.com/NzDJ79Eg

The "Playing  + item +  on player 192.168.1.11" is the entry that is triggered by me clicking the "Play on PHT" button

[2015-03-30 08:19] Hellowlol commented on #105
just pushed a a change, can you try again?

[2015-03-30 08:22] Hellowlol commented on #105
btw, the paste was private, i cant see it ;)

[2015-03-30 08:28] raysguy commented on #105
Oops sorry, meant to select unlisted not private.  Should be fixed now.

[2015-03-30 08:30] raysguy commented on #105
Updated with latest change but I can't run htpc now.  Here's what I see in terminal when I try: http://pastebin.com/gg28Q3wL

[2015-03-30 08:53] raysguy commented on #105
Manually fixed it - just a rogue ")" on line 955 of plex.py.  Thankfully terminal pointed me right to it!

Here are the recent logs after your latest change: http://pastebin.com/wUzCLJJv

[2015-03-30 09:12] Hellowlol commented on #105
Nice!,  sorry for the typo, im at work so i have no way of testing this before i push. Try again?

[2015-03-30 10:46] raysguy commented on #105
No worries - that's quite some commitment editing from work.  Good job!  Here are the latest logs: http://pastebin.com/69qEEvYx

[2015-03-31 12:41] thejrose1984 commented on #112
You can close this issue for now as I don't focus on the Plex module being a very integral part of my setup. I'll do some more testing later on when I have time.

[2015-03-31 12:41] #112 closed

[2015-03-31 12:47] Hellowlol commented on #105
Ok, I have found a solution for play. The problem is only the dupe episodes... I have no idea how to fix that

[2015-03-31 12:49] thejrose1984 commented on #111
Branch = Master2
Commit hash = N'A; can't find
Your operating system and python version = Mac OS 10.8.5 / Python 2.7
What did you do? Try to search for a movie
What happened? Nothing
What did you expect to happen? Search modules for media based on query input
If its a visual bug, screenshot or it didnt happen!
What browser, including version = Latest version of Google Chrome (happens in all browse

[2015-03-31 12:49] Hellowlol commented on #112
Ok? The controls should work. For some reason I needed to update pms and reboot the computer.

[2015-03-31 12:50] thejrose1984 commented on #112
Don't forget to I run PMS from FreeNAS which is a few versions behind. Mind you I could update to the latest version, but recent attempts to do so ends up breaking the plugin and/or jail :)

[2015-03-31 12:52] Hellowlol commented on #111
When your search what module  do you have open?

[2015-03-31 12:54] thejrose1984 commented on #111
None - at the dashboard

[2015-03-31 12:55] Hellowlol commented on #112
Ok, but the commands are sent to pht. Try rebooting that computer.

[2015-03-31 12:57] Hellowlol commented on #111
Have you set any newznab?

[2015-03-31 13:01] thejrose1984 commented on #112
That could be why. Not sure if Plex running from Roku is considered Plex Home Theater or not. That might be why it doesn't work.

[2015-03-31 22:44] Hellowlol commented on #105
@raysguy can you update and test the play command again?

[2015-03-31 23:06] raysguy commented on #105
Hi, just updated and tested play and it works a treat thanks. Tested on both PHT and iPhone.

For the dupe issue is there any info in the XML at ip:port/library/sections/ that could be used to filter out certain sections?  Even if I have to manually add them into the plex.py file that'd be fine.

Also is there a way I can reorder how items appear in the plex section?  Plex sorts shows with "The" i

[2015-03-31 23:17] Hellowlol commented on #105
Im not realt sure how to handle it, you have a strange setup. I can add a ignorere list but that will everything.

So say you have a section called dads show and kids show if both point to the same folder neither I'll be scanned.

I havnt forgotten your request I'll see if I can't fix that tomorrow

I don't think it is, how would like to have it?

[2015-03-31 23:31] raysguy commented on #105
Ah yeah, there's a fair bit of overlap so I'd end up with a lot of the main shows I| watch unscanned.  Thanks for looking into all this.

For sorting I'd like it if things were ordered the same as Plex, e.g. Firefly, The Flash, The Following, Forever, Fresh Off The Boat

At the moment in HTPC it's ordered Firefly, Forever, Fresh Off The Boat; then under the Ts I have The Casual Vacancy, The Flash,

[2015-03-31 23:39] Hellowlol commented on #105
I just noticed there was some sorting option, even a dupe so hopefill ill get this sorted.

[2015-03-31 23:40] raysguy commented on #105
That's awesome news, thanks.

[2015-04-01 13:08] Hellowlol opened #114 "DASH ajax call oneline fails."

[2015-04-01 21:33] Hellowlol commented on #105
@raysguy can you update and see if if the last push resolves your issue?

[2015-04-01 21:59] yungfras opened #115 "Headphones Fails Test"
I'm checking the log and there is nothing in the log to show why headphones won't sync. I press test and it turns red.

[2015-04-01 22:00] yungfras opened #116 "smartmontools error"
It keeps saying smart on tools is not installed or smartctl is not in the system path but I can run smartctl from anywhere in cmd prompt. Any ideas?

[2015-04-01 22:17] Hellowlol commented on #116
Hi! Please read the issue guidelines next time :) you say nothing about os, Python version ? There is no logs, so this will be guess. This is the checklist for smart:

Have you enabled smart in computer settings?
Is smartmontools installed?
Can you type smartctl Im cmd?
Have you started htpc manager with administrator privileges?

[2015-04-01 22:19] Hellowlol commented on #115
Does the module still work?

Have you started htpc manager with
 debug as explained in the issue guidelines?

[2015-04-01 22:41] yungfras commented on #116
Python 2.7 OS 8.1 Pro WMC
Smart is installed. I got it from here https://www.smartmontools.org/
I can type smartctl -h in cmd and get the help list.
I have no idea how in enable smart in computer settings and as far as Have you started htpc manager with administrator privileges? Does that mean have I setup a user name and password?

[2015-04-01 23:34] yungfras commented on #115
I did this...

How to enable detailed logs

Shutdown HTPC-Manager
Start Htpc.py --loglevel debug (Do NOT start with --debug)
Start HTPC-Manager and wait for error to occure again

[2015-04-01 23:43] yungfras commented on #115
I cleared the log and pressed test on Headphones in the settings and this is what i get

Date
Module
Level
Message
2015-04-01 18:42:18	modules.plex	INFO	GDM: No servers discovered
2015-04-01 18:42:17	modules.plex	INFO	Sending discovery message: M-SEARCH * HTTP/1.0
2015-04-01 18:42:11	modules.plex	INFO	GDM: No servers discovered
2015-04-01 18:42:10	modules.plex	INFO	Sending discovery message: M-SEA

[2015-04-01 23:59] yungfras commented on #115
I'm closing this. It started working thanks for your quick response and help and thanks for going easy on me as I'm still new to this. Not computers per say but the online lingo in regards to technology.

[2015-04-01 23:59] #115 closed

[2015-04-02 00:54] yungfras commented on #116
here is what the log says when i try to refresh S.M.A.R.T. from the dashboard:

2015-04-01 19:52:58	cherrypy.error.27892200	ERROR	[01/Apr/2015:19:52:58] HTTP Traceback (most recent call last):
2015-04-01 19:52:40	cherrypy.error.27892200	ERROR	[01/Apr/2015:19:52:40] HTTP Traceback (most recent call last):

[2015-04-02 01:00] yungfras commented on #116
and here is the output from GSmart Control:
smartctl 5.43 2012-06-30 r3573 [i686-w64-mingw32-win8(64)] (sf-5.43-1)
Copyright (C) 2002-12 by Bruce Allen, http://smartmontools.sourceforge.net

=== START OF INFORMATION SECTION ===
Model Family:     Western Digital Caviar Blue Serial ATA
Device Model:     WDC WD3200AAJS-65B4A0
Serial Number:    WD-WCAT10723050
LU WWN Device Id: 5 0014ee 100ef07dd
Firm

[2015-04-02 01:17] yungfras commented on #116
The only thing I haven't done from your checklist is start htpc manager with administrator privileges I guess. i install htpc manager using this guide http://www.htpcguides.com/install-htpc-manager-windows/

[2015-04-02 01:29] thejrose1984 opened #117 "Add features to Sonarr module"
Any chance you can show the path to DroneFactory folder when you choose to scan? For some reason (and this is a Sonarr issue, not with HTPC-Manager) I have to regularly choose between the main scan folder and the "tv" subfolder that my download client tends to make.

I would like to see the default set in Sonarr so, on the off chance, I have to choose the "tv" subfolder, I won't have to try and re

[2015-04-02 03:55] wmariz commented on #116
Try to create a bat file like
<pre><code>C:
cd \HTCP_DIR
python htpc.py
</code></pre>
Right click on it and select Run as Administrator

[2015-04-02 03:58] wmariz opened #118 "Video on Demand"
@Hellowlol

That do you think about it?

https://github.com/wmariz/HTPC-Manager/commit/286f38dc34565188e0c15efb12af10ab6d92edc8

[2015-04-02 04:24] yungfras commented on #116
Ok, I did that. it opened a cmd window and closed it quickly and the bat file disappeared.

[2015-04-02 04:30] wmariz commented on #116
Have you changed HTCP_DIR to the actual htpc directory? Python directory is set in path? How do you normally run HTPC Manager?

Try to add a line with 'pause' (without quotes) so you can see the output.

[2015-04-02 04:53] yungfras commented on #116
I ran cd
c:\HTPCManager
python htpc.py
yes python is installed on path an I installed HTPC as a service using nssm install HTPCManager from this guide...http://www.htpcguides.com/install-htpc-manager-windows/ so it runs automatically.

[2015-04-02 05:03] wmariz commented on #116
Probably it is not running because the service is already using the http port.

Can you paste the output from the bat file?

You can also try to disable the service and run the bat, or disable windows UAC and restart computer.

[2015-04-02 05:36] yungfras commented on #116
windows UAC is already disabled. I'm gonna disable the service and run the bat again

[2015-04-02 06:27] yungfras commented on #116
After the 10 uninstall, reboot, and reinstall it finally works. thanks for all your help and patience guys.

[2015-04-02 06:27] #116 closed

[2015-04-02 06:33] wmariz commented on #116
Another note for future reference: The Smartmon directory need to be added to system enviroment variable path, if you add it just on the user enviroment, the exe cannot be found in scenarios like running as administrator or as a service, because on both situations, a new enviroment is created.

[2015-04-02 06:48] yungfras commented on #116
Thanks again. I would have been lost without you guys.

[2015-04-02 07:37] Hellowlol commented on #118
Cool stuff!

[2015-04-02 10:39] raysguy commented on #105
Using a 13" Retina MacBook pro so 2560x1600.

Interestingly, since we last checked the CP images now seem to suffer from a lower quality too.  The only thing that has changed since the last time I checked is that I've installed PIL so I don't know if that's a factor.

[2015-04-02 10:43] raysguy opened #119 "Request - "Remember me" / persistent login"
With HTPC I seem to find myself having to login almost every time I want to take a quick look and it really interrupts my workflow.  I don't have the same problem with Sonarr, CP, SickRage etc as their login pages feature a "remember me" option, so on my own computer I can type in the address and see the dash straight away, even between browsing sessions.  Is that something that could be easily im

[2015-04-02 10:58] Hellowlol commented on #105
i bet it is, if pil is installed it will resize images to the wanted resolution, if it's not installed it will just return the original image.

This is done because speed as the image can be huge and the typical size of a resized image is less then 6 kb

[2015-04-02 11:23] raysguy commented on #105
I wish it could pull the artwork that Plex has already downloaded without losing quality and then cache the files.

[2015-04-02 12:17] Hellowlol commented on #105
I dont think they would be good a solution. Think 1k images each with a size of 600kb. I'll rather tune the resize so it look good but uses less bandwidth.

Since I don't have a good screen do you think find the sweet spot regarding image resolution?

[2015-04-02 19:18] Hellowlol commented on #41
@Hat3Mondays you can use the ohm tab for that now btw.

[2015-04-02 19:21] #110 closed

[2015-04-02 20:41] Hellowlol commented on #105
Okei so i have found the bug its a silly one.. :P. And i can say not resizing the images are not a option!

I disabled delete the entire cache and tried again.

Just my movies in plex is 460 MB, keep in mind that ALL my images in ALL the modules are prox 250 MB. The page was insanely slow.

The good new is that the images will now be resize with pil so the image quality should be equal to kodi etc

[2015-04-02 20:43] Hellowlol commented on #105
https://github.com/Hellowlol/HTPC-Manager/tree/pleximages

[2015-04-02 23:32] Hellowlol commented on #119
I have incresed session timeout for noe.

[2015-04-03 16:46] raysguy commented on #119
Thanks, I'll see how it goes.  I'm doing a lot of restarting of HTPC at the moment whilst testing so having to login quite a big anyway.

[2015-04-03 16:57] Hellowlol commented on #119
Yeah, the session is kept in memory so all users need to auth again. There no builtin remember me in cherrypy so i have to make it myself and it requires some small db changes.

[2015-04-03 17:01] raysguy commented on #105
Thanks, I've been testing this out.  Have to say I quite like the resize disable option as the images look so sharp.  Once it's cached them I haven't noticed any slowdown in the page speed.  Tried re-enabling resize but it reverted to the previous fuzzy images unfortunately.  Which values would I need to change in the plex.py module to specify a resolution so I can experiment with finding the opti

[2015-04-03 17:29] Hellowlol commented on #105
There certenly are side effects. The branch was intended so you could see the difference .If resize is disabled the img will not be frosty etc I'll see if I can fix that. I'll see if there is a option regarding o in plex api. The images that are to big can be fixed with css.

So play with the sizes you need to edit plex.js look a call like this https://github.com/Hellowlol/HTPC-Manager/blob/master

[2015-04-03 17:59] raysguy commented on #105
Ah okay. I'll have a play around with some values when I get home later. I'd seen the o option in the py file but wasn't sure what to do with it.

[2015-04-03 18:27] Hellowlol commented on #105
O = opacity :)

[2015-04-03 20:15] raysguy commented on #105
Cheers, still picking up the more technical stuff as I go along :)

Btw forgot to mention but I realised the movie tab in the Plex module is actually missing most of my movies. It had picked them up from three libraries but is actually skipping the main one which is actually named "Movies". I think this might have been the case before the latest changes though to be honest, but can't be sure.

[2015-04-03 21:46] Hellowlol commented on #105
what are the file path and name of all your sections?

[2015-04-03 22:28] raysguy commented on #105
They should be all in the xml I posted on pastebin

[2015-04-03 22:34] Hellowlol commented on #105
Yeah I edit my post but you can't see that when your respond from the email :)

[2015-04-03 23:23] raysguy commented on #105
Haha I was also responding via the emails either which is why I couldn’t find it.  Got it now though: http://pastebin.com/i8G1kurL <http://pastebin.com/i8G1kurL>

It’s section 6 titled just “Movies”.

[2015-04-04 15:36] Hellowlol opened #120 "Add torrent provider strike"

[2015-04-06 11:53] Hellowlol commented on #105
What is the path for that section?

[2015-04-06 12:26] raysguy commented on #105
/library/sections/6/composite/1427450448

I think that is the path you wanted?

[2015-04-06 16:09] Hellowlol commented on #105
No the file/folder path

[2015-04-06 16:15] raysguy commented on #105
These are the folder paths that the library uses:
"/Volumes/Movies/Disney Movies"
"/Volumes/Movies/Ray Ray Movies"
"/Volumes/Movies/2D Movies"

[2015-04-06 19:40] Hellowlol commented on #105
Can you test the styxit version and see if your missing movies there aswell?

[2015-04-08 17:18] Hellowlol commented on #111
Closing this as issue creator hasn't responded.

[2015-04-08 17:18] #111 closed

[2015-04-10 13:20] thejrose1984 opened #122 "Synology install"
Manually installed this port of HTPC-Manager on a Synology box to see if I can get better performance compared to FreeNAS. Any experience with an install on this platform?

[2015-04-10 14:21] Hellowlol commented on #122
Sorry, i have no experience regarding synology or freenas. What type of performance do you think of?

[2015-04-10 14:43] Hellowlol commented on #122
I guess your best bet is to ask for a custom package like headphones has. Atm my fork is available on unraid and freenas (with some manually hacks) nas.

[2015-04-10 21:30] Hellowlol opened #123 "Sr module"
Add overflow auto to div because of mobile view. Sr view.

[2015-04-11 12:48] thejrose1984 commented on #122
No worries, I've been tinkering with porting your code to my Synolgoy box as opposed to running it on the same FreeNAS box that houses the other components (e.g. Sonarr, CP, and Headphones). Once I sort things out, I'll update the Wiki with porting to Synology NAS so people can use your version of HTPC (which happens to be a favorite of mine). Cheers!

[2015-04-11 13:07] Hellowlol commented on #122
Thanks!

[2015-04-11 13:07] #122 closed

[2015-04-12 08:13] brendann993 opened #124 "Username and password for Plex"
Maybe I'm just being stupid but I can't seem to figure out what username and password to use in the plex module. I have tried MyPlex login. Plex home username and pin and test fails. What am I missing?

[2015-04-12 08:26] Hellowlol commented on #124
It should be myplex login info. It's only required if plex home is activated.

[2015-04-12 08:29] brendann993 commented on #124
Yea plex home is active. I will continue to try now I know for sure it's the MyPlex login.

[2015-04-12 08:34] Hellowlol commented on #124
Verify the login on the site and see the issue guidelines if you don't get it working.

[2015-04-12 08:48] brendann993 commented on #124
Hmmm so, I changed my password and the. Set it back. I also then chose the "Force Update" option in setting of HTPC manager. I then noticed I was using "localhost" instead of a IP address. So changed it and now it's working. Does it not work with "localhost" or was it something else?

[2015-04-12 08:58] Hellowlol commented on #124
Honestly, I don't know. I have never had anything else then the ip as its inserted when pms is discovered.

I'm happy you got it sorted atleast :)

[2015-04-12 09:23] #124 closed

[2015-04-12 21:46] #123 closed

[2015-04-12 21:46] #120 closed

[2015-04-12 23:09] Hellowlol opened #125 "Torrent clients add magnet"
Qbt, adds magnet the same way as torrents.
Transmission, same
Deluge
[code]
utorrent, same way?

[2015-04-13 11:40] thejrose1984 opened #126 "LDAP Authentication"
I know this is going to sound like an odd feature request, but would it be possible to use LDAP Authentication instead of creating local users?

[2015-04-13 11:47] Hellowlol commented on #126
I know nothing about LDAP, so in short no.

[2015-04-13 12:23] Hellowlol opened #127 "Only add ofa in dash mobile view"
mofa

[2015-04-13 21:24] #127 closed

[2015-04-13 21:25] #125 closed

[2015-04-13 22:11] #114 closed

[2015-04-13 22:40] #97 closed

[2015-04-13 22:42] Hellowlol commented on #97
@z1lt0id
Deluge works with kat now, i also added support for magnet. There is still some work that has to be done regarding the ui etc (dosnt exist in the module ui). But that have to be for some other time.

Btw, you should try the new provider i added, i thiknk you will like it.

[2015-04-13 22:43] Hellowlol commented on #90
Closing this and waiting for a pr ;)

[2015-04-13 22:43] #90 closed

[2015-04-13 22:44] Hellowlol commented on #36
Work fine here. Alltho is is slow if you have added your entire lib.

[2015-04-13 22:44] #36 closed

[2015-04-13 22:46] Hellowlol commented on #5
I dont see myself upgrading to unraid 6 any time soon...

[2015-04-13 22:46] #5 closed

[2015-04-13 23:23] z1lt0id commented on #97
Will do, I'll check it out now :)

On 14/04/15 08:42, Hellowlol wrote:

[2015-04-16 02:45] #118 closed

[2015-04-16 18:21] Hellowlol opened #131 "Torrent search strike"
{"statuscode":404,"message":"Your query must be at least 4 characters long without white space"}

[2015-04-16 19:14] #131 closed

[2015-04-16 20:36] raysguy opened #132 "Searchbox mis-aligned in Samsung Remote module"
In the Samsung remote module at the bottom the search box and send button are not aligned centrally and are off to the left.  This is in the latest master2 build on the latest versions of both Safari and Chrome.

[2015-04-16 20:42] Hellowlol commented on #132
Thanks! I have noticed it, but i never scoll that far down so I hadn't bothered... I mainly use source volume and power off :D

[2015-04-16 21:00] raysguy commented on #132
Me too, only noticed it for first time after I checked the icons!

[2015-04-17 17:25] evilspectre opened #133 "Add Season Folder option"
When adding a series via Sonarr it defaults to season folder off. Would be nice to have the option to enable that either globally or on a per series basis

[2015-04-17 17:30] Hellowlol commented on #133
I just assumed it would add season folders by default. Who wants all episodes inside a folder.., :O dies this really require a option or can we just add that by default?

[2015-04-17 17:40] evilspectre commented on #133
I am perfectly fine with defaulting to season folders. All the episodes in one folder is gross, but people like options :)

[2015-04-17 17:51] raysguy commented on #133
Just to throw my two cents in, I'm one of the odd ones who actually doesn't use season folders as I've had problems with them in the past. So if they are to become the default an option would be nice ;)

[2015-04-17 17:52] Hellowlol commented on #133
Ok, I'll add a option for that and while I'm at it I'll add a option regarding specials

[2015-04-19 18:51] Hellowlol opened #136 "plex cant find tvshows if hide watched is enabled"
under certain conditions

[2015-04-19 18:52] Hellowlol opened #137 "Dash oneline parsing can fail"
Find a better solution or atleast a timeout. Change $.ajaxSetup({timeout: 30000}) to something less.

[2015-04-19 18:56] Hellowlol commented on #17
@evilspectre I noticed you removed the ability to delete shows from cp. Is this because other ppl are using htpc manager? You can test https://github.com/Hellowlol/HTPC-Manager/tree/tempaddnewusr witch reduces access so they can only add stuff etc.

[2015-04-19 19:02] Hellowlol opened #138 "CP test button is not marked as failed when it does fail."

[2015-04-19 19:14] evilspectre commented on #17
@Hellowlol Did not even notice that branch. Yes, I am using HTPC Manager as a front end for other users to add movies and tv shows then watch them on Plex. Got tired of family/friends asking me to add their show for them.

[2015-04-20 09:24] Hellowlol commented on #17
@evilspectre Remember to change the users to restricted user or it will not work :), let me know if you find any bugs (users have access to more then they should). I think all of then should be ok except from sonarr.

restriced user: Add stuff, see stuff
user: Access to everything in the modules, delete, change speed reboot/shutdown modules
admin: Access to everything (htpc managers settings etc)

[2015-04-21 07:46] Hellowlol commented on #54
@raysguy OMGWTFNZB will not be supported as the api access is for vips only and the response isnt the same :)

[2015-04-21 07:49] Hellowlol commented on #117
Dosnt DroneFactory process all files and folders inside DroneFactory?

[2015-04-21 12:44] thejrose1984 commented on #117
Yes and no. Sometimes Sabnzb and/or Transmission creates sub-folders that make it hard for files to import automatically, hence why a drone folder can be set. The problem is that sometimes the drone folder is needed and sometimes it isn't in Sonarr.

[2015-04-21 12:48] thejrose1984 commented on #122
So good news and bad news...I was able to manually install your fork of HTPC Manager to a Synology DS413. The problem, and this is why I moved my media server to FreeNAS, is that the hardware in the unit causes unusual behavior that may not appear in other Synology NAS units with different CPU architecture. Not sure it is worth rewriting this web app to fit Synology's model.

[2015-04-21 15:01] Hellowlol commented on #122
Thanks for taking the time to test this! What unexpected behavior did occur? (nice to know if anybody has issues) The app will not be rewritten to just support Synologys. The strange part is that this is just normal python, there are several other common python app that uses the same webserver etc (sickbeard, sabnzbd comes to mind)

[2015-04-21 16:33] raysguy commented on #54
Ah I see, that explains why it always appears in its own section.  I've got VIP accounts with loads of newsnab sites though so I'm sure there'll be plenty of search results for me when multiple providers are possible. :)

[2015-04-21 20:13] thejrose1984 commented on #122
I'll go through the setup again and do a Wiki page and put in the observed issues there.

[2015-04-21 20:17] Hellowlol commented on #122
Wiki is fine, i dont have time now.

[2015-04-22 00:07] #138 closed

[2015-04-22 00:08] Hellowlol commented on #117
I cant find a api command to retrive the current dronefactory folder. Im gonna close this, feel free to reopen if they do it it.

[2015-04-22 00:08] #117 closed

[2015-04-22 00:08] #137 closed

[2015-04-22 00:09] #133 closed

[2015-04-22 00:09] #136 closed

[2015-04-22 00:09] Hellowlol commented on #133
Should be added with the latest commit

[2015-04-22 03:26] thejrose1984 commented on #122
Wiki created

[2015-04-22 10:57] Hellowlol commented on #122
Thanks!

[2015-04-25 08:50] Hellowlol opened #140 "Improve torrent search"
- [x] client icons
- [x] add form like nzbsearch?
- [ ] categories?
- [x] make table scrollable in tablet/phone view
- [x] fix popover icon name..
- [x] add ptp
- [x] add rarbg
strike ssl issues see https://stackoverflow.com/questions/18578439/using-requests-with-tls-doesnt-give-sni-support/18579484#18579484

[2015-04-26 19:41] damiantje99 opened #142 "Plex Movie/Shows Grab doesn't work"
Title describes problem.

The Plex module is working, because its shows me when someone is watching a movie or show.
But it doesn't show any movies or shows. The error I see in the log is:

Failed to update section 1 on Plex: ('http error', 401, 'Unauthorized', <httplib.HTTPMessage instance at 0x0311E990>)

And

Failed to update section 2 on Plex: ('http error', 401, 'Unauthorized', <httplib.HTTPM

[2015-04-26 20:01] MaartenMol96 commented on #142
I have the same problem, the test buttons says it's working. When someone is watching on Plex I can see that. But there are no library items showing in HTPC Manager. And when I hit the Update All Sections button I get the following error:

Failed to update section 13 on Plex: ('http error', 401, 'Unauthorized', <httplib.HTTPMessage instance at 0x01E2D5F8>)

[2015-04-26 20:59] Hellowlol commented on #142
Hi! Thanks for reporting this.

Plex works fine here.
Have you set anything in hide watched and/or ignore section?
Have you set a username and password?
Is plex home actived in plex?

[2015-04-26 21:14] Hellowlol commented on #142
@damiantje99 @MaartenMol96 The missing tvshows and movies should work with the lastest update. Sorry about that.

Please respond to my questions above regarding the 401

[2015-04-26 21:23] MaartenMol96 commented on #142
@Hellowlol we have not set any of the ignore settings, we have set the correct credentiuals and we use Plex Home!

[2015-04-26 21:31] raysguy commented on #142
Plex is working perfectly here with and without Home credentials.  Also I'm happily using the section filters which work without issue thanks.

[2015-04-26 21:32] Hellowlol commented on #142
@MaartenMol96 Did the last update solve the issue regarding tvshows and movies not showing up? Have you change myplex password while htpc-manager was turned on?

[2015-04-26 21:33] Hellowlol commented on #142
@raysguy thanks!

[2015-04-26 21:39] MaartenMol96 commented on #142
@Hellowlol Just updated! Working like a charm now! Love it! thank you for the fast response ;)

[2015-04-26 21:40] Hellowlol commented on #142
Np, happy to help :)

[2015-04-26 21:40] #142 closed

[2015-04-26 21:42] MaartenMol96 commented on #142
@Hellowlol one other question: It only shows 50 of my movies and tv shows. Can this value be changed? I have like 600+ movies and 100+ tv shows ;)

[2015-04-26 21:48] damiantje99 commented on #142
Thanks, its also working here! Thanks for the fast respone, Appreciate it!

[2015-04-26 21:55] Hellowlol commented on #142
Just scroll down and you will see the rest. (just incase you wasnt aware).
If you want to change this your self you need to edit https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/js/plex.js#L7

You need to do the same for tvload etc.

I noticed kodi was set to 75 and there isnt any search feature like kodi has. How many do you want to have by default?

[2015-04-26 21:56] MaartenMol96 commented on #142
@Hellowlol No nvm it, just was slow. I guess 600+ movies is a lot to take in ;)

[2015-04-27 10:52] Hellowlol commented on #103
- [ ] limit load

[2015-04-27 11:08] Hellowlol opened #143 "Sabnzbd improvements"
- [x] only load categorys once, the current solution makes one call for each nzb.
- [x] Drag n drop are buggy, make sure it works even after a status update.

[2015-04-27 13:48] thejrose1984 commented on #103
What do you mean @Hellowlol ?

[2015-04-27 14:57] Hellowlol commented on #103
I mean limit how many items are loaded. Like kodi and plex has.

The easiest way to speed up the cp module is not not have a manager folder setup in cp.

Say you have 50 wanted and 1000 in your library the co module will try to fetch 1050 images...

[2015-04-27 15:30] thejrose1984 commented on #103
Okay, but to play devil's advocate here...why doesn't CouchPotato load items the same way Plex does in HTPC-Manager? I know if I go through CP directly, it looks a small chunk at a time so I don't wait for the 1300 some odd items to load all at once...

[2015-04-27 15:55] Hellowlol commented on #103
Well you have to ask the original author about that ;) that's why I want to limit it.

I prefer loading all items at once but as I hate the scrolling but it isn't a other way to really speed this up. Even if I rewrite the js, the images load time will be huge.

[2015-04-27 16:15] Hellowlol commented on #105
Can I close this now?

[2015-04-27 17:36] raysguy commented on #105
Yeah all movies are showing up in current version thanks.

Only bug I see now in Plex is in the TV section where "iZombie" comes at the end of the list after "Zen".  Think it is just a random side-effect from sorting changes for items starting with "The".

[2015-04-27 20:08] Hellowlol opened #144 "Possible Plex improvements"
This is just ideas prs welcome :)

- [x] add filter/search
- [x] Add sort
- [x] pause button sends play, js sets wrong data attr
- [x] remove hardcoded video in playerque (cant start music playback)
- [ ] modals for music

[2015-04-27 20:11] Hellowlol opened #145 "Possible nzbget improvements"
Just ideas, prs welcome

- [ ] Add drag and drop to edit que

[2015-04-27 20:13] Hellowlol opened #146 "Possible Sickrage improvements"
- [ ] Edit show modal (needs to be added to the api)
- [ ] Status bar like sonarr has (needs to be added to api)

[2015-04-27 20:16] Hellowlol opened #147 "Possible kodi improvements"
- [x] Fix addons holder.run
- [ ] use websockets

[2015-04-27 22:15] Hellowlol opened #149 "Possible uTorrent improvements"
- [ ] Set speed
- [ ] Add form
- [ ] Add upload .torrent
- [ ] Handle empty cookies

[2015-04-28 05:15] #105 closed

[2015-04-28 05:32] WithoutCord commented on #149
Maybe (as mentioned in https://github.com/Hellowlol/HTPC-Manager/pull/148) a confirm dialog for deletion/removal would be beneficial.

[2015-04-28 05:52] Hellowlol commented on #149
I added that to the list as well. I don't use utorrent so if you have some spare time prs are welcome :)

[2015-04-28 08:41] damiantje99 opened #150 "µTorrent not loading"
Since yesterday I have the problem that HTPC won't load the torrents that are currently downloading with µTorrent. The error I get in the log is:

HTTP Traceback (most recent call last), this is comming from the module cherrypy.error.43114320.

After a reboot it will work again, but it will stop at some random time.

Do you have any solution?

Kind Regards

[2015-04-28 09:45] Hellowlol commented on #150
Sorry i have no idea what could have caused that. The utorrent module lacks logging so it would only be guesses. Ill add some debug logs later.

What uTorrent version are you using?

[2015-04-28 09:53] Hellowlol opened #151 "Possible qBittorrent improvement"
- [ ] handle connection errors
- [ ] replace if (x || x || || x) with inarray/indexof
- [ ] Fix the form as its ugly on phones.

[2015-04-28 11:48] damiantje99 commented on #150
We'll have to do with it, its better than nothing right?

Currently im using µTorrent 3.4.3 (build 40097). It's the latest version.
When i'm opening the µTorrent on HTPC I see the loading icon. It just keeps spinning and then the error in the log appears. In µTorrent self I can see the downloading torrents.

Im not sure if i'm doing it wrong, but the only thing that appears in my browser is: An er

[2015-04-28 12:36] Hellowlol commented on #150
Thank you :)

If you go to http://htpcmanagerip:hptcmanagerport/utorrent/torrents . Is there a error message there? If it is can you paste it here.

[2015-04-28 13:13] damiantje99 commented on #150
I get this error:

500 Internal Server Error

The server encountered an unexpected condition which prevented it from fulfilling the request.

[2015-04-28 23:02] Hellowlol commented on #150
I just pushed a branch with with some logging added to uTorrent. Can you test again and paste the error you get?

You can change to that branch in the settings. Choose utorrent-addlogs in the branch dropdown. Click save, click force update.

Or download it manually:

https://github.com/Hellowlol/HTPC-Manager/tree/utorrent-addlogs

[2015-04-29 10:19] Hellowlol commented on #103
Just some numbers so i dont forget:
tested from remote location via nginx proxy

xhr done with 352 movies takes 3,5 sec

total requests is 946, total load time is 34 sec (all images etc)

[2015-04-29 11:15] Hellowlol opened #154 "Possible Couchpotato improvements"
- [ ] rewrite? (not likely unless someone sends a pr)
- [x] add holder run to images
- [ ] Limit load like kodi module to speed up the load.

[2015-04-29 11:16] Hellowlol commented on #150
@damiantje99  have you tested the branch i mentioned?

[2015-04-29 12:26] damiantje99 commented on #150
I didn't have any time to test, im on my way home now, ill test it then and will let you know. Sorry for the late response.

[2015-04-29 14:32] damiantje99 commented on #150
Currently im not getting any error's. Im not sure if it is fixed or not. I'm letting you know if I get an error and what the error is. If I don't get the error within two days, you can mark this issue as fixed!

[2015-04-29 23:05] Hellowlol commented on #150
@damiantje99 you should switch back to the master2 branch.

I have merged the one your using and added some small improvements to the utorrent module.

[2015-04-30 07:14] damiantje99 commented on #150
Alright! I think the problem is fixed now! Thanks for the support!

[2015-04-30 07:19] Hellowlol commented on #150
:)

[2015-04-30 07:19] #150 closed

[2015-04-30 08:05] Hellowlol opened #155 "Visual bugs"
- [ ] Fix line-height 26 px on other in nav bar.

[2015-04-30 10:14] Hellowlol opened #156 "Review JS libs"
Im sure there are some unused jquery libs.
check:
 - metadata
- cookie
- pager
- form

minify boostrap slider
Include jquery.treegrid.bootstrap2.js in some other file

[2015-05-04 22:12] Hellowlol commented on #103
Closing this as the js is fast enough.

On the same computer as htpc manager:
985 requests in 5,28 sec with a empty cache (chrome) including every image etc.

[2015-05-04 22:12] #103 closed

[2015-05-04 22:23] Hellowlol opened #158 "Add option to assume localhost == admin"

[2015-05-04 22:26] #4 closed

[2015-05-05 10:11] raysguy opened #161 "Latest Plex Server update breaks Music section"
Plex pushed an update to their server software this week (0.9.12.0) which was mainly focussed on overhauling the music side of things.  This seems to have broken the Plex Music tab in HTPC - clicking on tab results in "Error connecting to Plex" message.  If I already have music playing it still shows up in the Now Playing section but the controls don't work.

[2015-05-05 11:01] Hellowlol commented on #161
Thanks! i dont use plex for music so i would never had noticed

[2015-05-06 09:32] Hellowlol opened #163 "Dash swap instead of cancel if more then 3 modules in dash-row."
- It does work, but the but it gets canceled if there are more then 3 modules in that row. A better solution might be to swap them.

[2015-05-07 13:09] muhahacz opened #164 "SSL bug ? SSLError: [SSL] PEM lib (_ssl.c:2580)"
Hi, thanks for this awesome fork, but here is the question:

I have selfsigned certificate generated with this oneliner:
```sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/apache2/ssl/apache.key -out /etc/apache2/ssl/apache.crt```
but htpc manager wont start with SSL.
I have tried official htpc manager and it works, so i dont know where is the problem. Can anyone help?
Thanks

[2015-05-07 13:27] Hellowlol commented on #164
Hi! Thanks for the kind words. I have no idea why it doesnt work, until i get time to debug this you can read https://github.com/Hellowlol/HTPC-Manager/issues/109 so ssl works

[2015-05-07 14:09] Hellowlol commented on #164
Give me a shout if you need help.

[2015-05-07 16:52] etclarke commented on #164
Same problem here.

Traceback (most recent call last):
  File "/home/ed/.****/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1837, in start
    self.tick()
  File "/home/ed/.****/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1902, in tick
    s, ssl_env = self.ssl_adapter.wrap(s)
  File "/home/ed/.****/libs/cherrypy/wsgiserver/ssl_builtin.py", line 52, in wrap
    keyfile=self.private_key, ssl_ve

[2015-05-07 16:57] Hellowlol commented on #164
What python version, os?
Take a screen shot of your general settings page.
Is there a .cert file in the user data folder?

[2015-05-07 16:58] Hellowlol commented on #164
@etclarke did you read the issue I linked to?

[2015-05-07 17:25] etclarke commented on #164
Python 2.7.9 on Ubuntu 15.04, 3.19.0-16-generic.

I am running the same cert for both sickrage and couchpotato, which worked fine until I upgraded to 15.04 but now I get this error and cannot connect to SR or CP from HTPC.

[2015-05-07 17:55] Hellowlol commented on #164
I think there are some ssl issues in 2.7.9.

[2015-05-07 18:56] etclarke commented on #164
I'll wait until it's patched, I don't want to break anything else.

[2015-05-07 22:28] Hellowlol commented on #164
Ok, to fix this make sure openssl and pyopenssl install on your computer, remove app_ssl_key and app_ssl_cert from you db. Check the enable ssl button then restart htpc-manager.

[2015-05-07 23:04] Hellowlol commented on #164
@muhahacz  @etclarke Can you update and test again?

[2015-05-07 23:57] etclarke commented on #164
ok, htpc is starting with self-signed cert but still getting error

2015-05-08 00:51:53 :: cherrypy.error :: ERROR :: [08/May/2015:00:51:53] ENGINE Error in HTTPServer.tick
Traceback (most recent call last):
  File "/home/ed/.***_/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1837, in start
    self.tick()
  File "/home/ed/.**__/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1902, in tick
    s,

[2015-05-08 05:22] Hellowlol commented on #164
Does it work with that cert on styxit version?

[2015-05-08 09:31] etclarke commented on #164
Styxit version starts with ssl, but nothing works.

2015-05-08 10:27:26 :: htpc.settings :: DEBUG :: Unable to find the selected object: app_theme
2015-05-08 10:27:26 :: htpc.settings :: DEBUG :: Unable to find the selected object: app_theme
2015-05-08 10:27:29 :: htpc.settings :: DEBUG :: Unable to find the selected object: app_theme
2015-05-08 10:27:29 :: htpc.settings :: DEBUG :: Unable to find

[2015-05-08 09:36] Hellowlol commented on #164
Do you try with the same db as you use with my version? If  thats the case try a clean install of his version (or rename the db to some other name.)

[2015-05-08 09:46] etclarke commented on #164
I deleted the folder and cloned his repo.

[2015-05-08 10:56] Hellowlol commented on #164
Ok, the log you showed is normal in his version. What command did you do to create the cert and key?

[2015-05-08 10:58] etclarke commented on #164
I signed the cert using my own CA with pfsense.

[2015-05-08 11:01] Hellowlol commented on #164
Ok. I made a cert with http://www.selfsignedcertificate.com and the one that htpc manager makes for you, both work here

[2015-05-08 11:23] etclarke commented on #164
Have tried cert from selfsignedcertificate.com on two seperate instances of Ubuntu 15.04 and get

Traceback (most recent call last):
  File "/home/ed/.htpc/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1837, in start
    self.tick()
  File "/home/ed/.htpc/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1902, in tick
    s, ssl_env = self.ssl_adapter.wrap(s)
  File "/home/ed/.htpc/libs/cherrypy/wsg

[2015-05-08 11:31] Hellowlol commented on #164
does sickbeard work with ssl on that computer?

[2015-05-08 11:32] etclarke commented on #164
couchpotato, sickrage & headphones all work fine. really strange.

[2015-05-08 13:37] Hellowlol commented on #164
Ok, I'll make a branch with cherrypy 3.7 and see if that solves the issue later today.

[2015-05-08 18:47] Hellowlol commented on #164
@etclarke Can you try https://github.com/Hellowlol/HTPC-Manager/tree/cherrypy37 ?

[2015-05-08 19:12] etclarke commented on #164
Ok I have installed the new repo. Headphones (which uses the same cert) is working, however, couch and sickrage are not.

2015-05-08 20:07:46 :: modules.couchpotato :: DEBUG :: Fetching information from: https://atlas:/api/df90cb6e0ec141299cdb86f4906e225a/notification.markread
2015-05-08 20:07:46 :: modules.couchpotato :: DEBUG :: Exception: ('Connection aborted.', error(111, 'Connection refused')

[2015-05-08 19:27] Hellowlol commented on #164
Just to be clear, htpc manager is nworking you dont get a ssl error anymore, but you have issues with some of the modules?

You need to delete the userdata folder :)

[2015-05-08 19:30] Hellowlol commented on #164
The reason why it fails are you settings. Look at the urls: https://atlas:/api/780574f87c4b1497b3a1b03ab010fb58/?cmd=shows.stats

[2015-05-08 19:35] etclarke commented on #164
Yes, just sickrage and couchpotato that aren't working.

The saved data must have been browser related as I checked it with a fresh install in firefox and the data wasn't there.

I added the api manually as it fails when pressing 'test'

How come it's using that url?

[2015-05-08 19:37] etclarke commented on #164
shit. just realised what the problem was. im an idiot, i hadn't included the port number

[2015-05-08 19:39] Hellowlol commented on #164
Okei,can you test again with the master2 branch just to check that it wasnt some stupid settings or anything?

[2015-05-08 19:39] etclarke commented on #164
Yes will do. Thanks for your help by the way

[2015-05-08 19:47] etclarke commented on #164
master2 is working, it must have been settings my end. sorry about that :-(

[2015-05-08 19:52] Hellowlol commented on #164
No worries, im just happy the master2 branch works. While i do need to update cherrypy sometime in the future ill rather wait just to make sure i havnt broken anything.

[2015-05-08 19:53] etclarke commented on #164
glad it wasn't a complete waste of time then :-)

[2015-05-08 20:32] Hellowlol commented on #164
@muhahacz Im gonna close this, please reopen if you still having issues

[2015-05-08 20:32] #164 closed

[2015-05-10 14:01] Hellowlol commented on #161
Should be fixed. Can you confirm?

[2015-05-10 14:19] thatbritguy commented on #161
Checked it out last night and music now loads correctly. Thanks for fixing it so fast! :)

[2015-05-10 14:20] #161 closed

[2015-05-12 18:12] KaHooli commented on #10
+1 for Mylar support, but understand the issues you are having with this.

[2015-05-12 18:17] KaHooli opened #165 "Headphone title link not going to Headphones"
When I go to my HTPC-Manager install at http://192.168.41.2:7000/headphones/ , and click on the title (which I have named Music), it takes me to http://192.168.41.2:7000/headphones/%3Cfunction%20_build_url%20at%200x00000000024C7828%3E instead of http://192.168.41.2:8181/ .
The information is loading correctly at http://192.168.41.2:7000/headphones/ from Headphones, so it doesn't appear to be an is

[2015-05-12 18:35] Hellowlol commented on #165
Can you update and verify that it works now?

[2015-05-12 18:37] Hellowlol commented on #10
I dont think im gonna do any thing to the api,. Ill rather just clean it up and merged it as it is.

[2015-05-12 19:02] Hellowlol commented on #165
Closing this as it should work.

[2015-05-12 19:02] #165 closed, assigned to nobody

[2015-05-12 22:45] KaHooli commented on #165
Confirmed, all working now.  Thanks :smile:

[2015-05-12 23:06] Hellowlol commented on #165
Happy to help!

[2015-05-13 23:44] Hellowlol commented on #10
@edru @KaHooli  @blindpet I just added mylar, it hasnt been teste that much so let me know if there are any bugs.

[2015-05-13 23:45] Hellowlol commented on #10
I just remember that some of the api calls that i have used does not exist in the in mylar atm, Ill send a pr regarding that tomorrow.

[2015-05-13 23:47] Hellowlol commented on #10
You can us this branch until it gets merged: https://github.com/Hellowlol/mylar/tree/missingapistuff

[2015-05-13 23:51] blindpet commented on #10
Which features are in this repo?

Best,

Mike Andreasen

Psychology MA, MSc

On Thu, May 14, 2015 at 1:47 AM, Hellowlol notifications@github.com wrote:

[2015-05-13 23:55] Hellowlol commented on #10
Nothing spesial, just added some to Mylar app to make it usable with htpc manager.

[2015-05-14 03:20] thejrose1984 opened #166 "ImportError: No module named proxy"
HTPC no longer runs after latest update. Manual run from command line yields the following output:

2015-05-13 23:19:19 :: root :: INFO :: Welcome to HTPC Manager!
2015-05-13 23:19:19 :: root :: INFO :: Loglevel set to info
2015-05-13 23:19:19 :: htpc.updater :: WARNING :: /bin/sh: git: not found

None

2015-05-13 23:19:19 :: htpc.updater :: INFO :: Using SourceUpdater engine
2015-05-13 23:19:19 :

[2015-05-14 04:53] Hellowlol commented on #166
Sorry about that, should be fixed now

[2015-05-14 04:53] #166 closed, assigned to nobody

[2015-05-14 06:03] KaHooli opened #167 "Mylar bugs - lots of hidden text visable and blank Action buttons"
Thanks for adding Mylar support.

Just thought I'd give a heads up that there is at least one bug.  I get lots of formatting text below the "Comics" tab and above the release info.  Also, the buttons under "Action" are blank.

Sorry for the size of this screen shot...
![htpc-mgr_mylar](https://cloud.githubusercontent.com/assets/665634/7626833/9eab82d2-fa52-11e4-9b9b-da795267e917.png)

[2015-05-14 06:36] Hellowlol commented on #167
It's a easy fix the text, is just something I used for debugging. I'm sorry for merging such a raw module but I have been dragging my feet for months.. If I did do it now it would never have happened.

[2015-05-14 07:41] KaHooli opened #168 "Mylar: comic file download link"
It would be great if you could link some text with each comic, maybe the title, to the download link for the comic book file.  This link is supplied in Mylar as the green circle next to each title, but not sure if this is available via the API.

As I use HTPC Manager from my iPad to regularly monitor my server, this would make it easier to add a comic to my comic book reader.

[2015-05-14 08:49] Hellowlol commented on #168
That isn't available in the api :(. I'll try to add this, don't t hold your breathe.

[2015-05-14 16:18] #82 closed

[2015-05-14 20:00] Hellowlol commented on #167
Should be fixed in the latest update.

[2015-05-14 20:00] #167 closed, assigned to nobody

[2015-05-14 20:14] Hellowlol commented on #168
@evilhero I need to add some stuff to mylar api. What branch should i checkout from?

[2015-05-14 20:34] evilhero commented on #168
Development is the branch to always use for PR's. I'll try and merge within a day of the request too (just depends on when I can get to a machine).

[2015-05-14 23:14] Hellowlol opened #169 "Add help icon with popover text"

[2015-05-15 00:31] KaHooli commented on #167
Confirmed fixed :+1:
The extra text is missing and the Action buttons have their icons on them.  Thanks :grinning:

[2015-05-15 08:34] Hellowlol commented on #167
Thanks for confirming.

[2015-05-15 15:21] Hellowlol commented on #10
Gonna reopen this until the required changed as merged in Mylar.

[2015-05-15 21:59] Hellowlol commented on #168
@KaHooli Ill do you request when/if https://github.com/evilhero/mylar/pull/1017 gets merged.

[2015-05-16 02:26] thejrose1984 opened #170 "Feature Request - DS Download (Synology)"
Any chance you can you can create a module to allow access to Synology's Download Station (DS Download)?

[2015-05-16 04:51] Hellowlol commented on #170
i don't have a synology to test with so no :), pr welcome tho.

[2015-05-16 23:41] Hellowlol opened #171 "Sabnzbd bug in drag drop"
It suddenly stops working.

[2015-05-16 23:43] #169 closed, assigned to nobody

[2015-05-16 23:44] Hellowlol commented on #168
@KaHooli Its done, until its merged you need to use the pr i sent to mylar

[2015-05-16 23:44] #168 closed, assigned to nobody

[2015-05-17 07:21] KaHooli commented on #168
Thanks @Hellowlol & @evilhero :+1:
It seems to be working.  Very much appreciated :grinning:

[2015-05-17 09:32] KaHooli commented on #168
Tested earlier on my PC, but when tested under Safari on my iPad & iPhone (iOS 8.3), it wants to download a 30 byte file called DownloadIssue.
![image](https://cloud.githubusercontent.com/assets/665634/7669831/72d13384-fccb-11e4-9305-76c806efc181.jpg)

[2015-05-17 09:49] Hellowlol commented on #168
Shit, this is just HTML 5.. I'm not sure it's supported I'll see if I can find a work around.

[2015-05-17 13:41] Hellowlol opened #172 "Update readme.md"
- List all modules
- command line parameters
- update image
-  remove links to htpc.io (as the site is outdated)
- Add a donation button (I have got some pm's about donations)

[2015-05-17 15:14] thejrose1984 commented on #170
I have a DS413 if you want to collaborate :)

[2015-05-17 16:20] Hellowlol commented on #170
Thanks for the offer. I'm not gonna make modules to something I don't have access to, even if the docs are great. If someone is willing to do I'll help in any way I can.

[2015-05-17 20:10] Hellowlol commented on #168
This happen cus Apple think the user is a retard that needs to be protected from him self...
Anyway you need a app that can handle downloads, i tried with downloads lite. Find the file, rename the file to the correct ext. choose open with, select your comic app (i used iComix)

[2015-05-17 21:08] #172 closed, assigned to nobody

[2015-05-18 14:22] thatbritguy commented on #155
Think this can be closed.  Was fixed in 67d53fe38f444b2d5deb1e98a4fb02b6b9e70f17 :+1:

[2015-05-18 14:32] rkorn86 commented on #155
nope it was not :-1:
See last item in list above. ![Custom Module](http://i.imgur.com/qSW7XmT.png)
Ive already created PR for it: https://github.com/Hellowlol/HTPC-Manager/pull/173

[2015-05-19 17:13] #155 closed

[2015-05-19 21:01] thejrose1984 opened #175 "Random FreeNAS Q&A?"
(1) Fails to restart properly (can initialize a restart, but have to SSH into the jail and manually start HTPC Manager
(2a) Installing in a fresh FreeNAS jail seems better, but not sure which init script included in the code will allow properly daemonize HTPC
(2b) Will making www user/group owner be an issue?

[2015-05-19 21:15] Hellowlol commented on #175
Hi!

I would love to help you with your questions, im afraid it would be off no use.
Im a windows guy..

Just a quick question regarding 1: does the styxit version restart correctly?
2: none if them I believe

[2015-05-20 02:27] thejrose1984 commented on #175
Windows guy?! GASP! All joking aside, no a big deal. I made another Wiki page for anyone interested in the manual approach and bypassing FreeNAS plugins altogether.

[2015-05-20 02:27] #175 closed, assigned to nobody

[2015-05-20 06:36] three80 opened #176 "Unable to connect to qbittorrent with version 3.2.0"
I am able to connect to local qbittorrent but not qbittorrent-nox on my server (headless).

Relevant info:

Branch: master2
Commit hash: 7d1d749dae2b8b32326f1decb4bf96ea554ac379
OS: linux mint ( Linux version 3.16.0-31-generic (buildd@toyol) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #43~14.04.1-Ubuntu SMP Tue Mar 10 20:13:38 UTC 2015)
Python: Python 2.7.6

What I did:      tried to connect to

[2015-05-20 06:51] Hellowlol commented on #176
Yeah, I also notice that. Couldn't get global download limit HTTP Error 403: Forbidden. Seems strange.

Can you post a img of your qbittorrent settings (in htpc manager)?

[2015-05-20 06:53] three80 commented on #176
added images a minute ago to first post.

[2015-05-20 07:03] Hellowlol commented on #176
what qbt version is this?

[2015-05-20 07:06] three80 commented on #176
qBittorrent v3.2.0 (Web UI)

Also here is log without http:// in qbittorrent settings if it makes a difference: http://pastebin.com/dQPZzFzy

[2015-05-20 07:30] Hellowlol commented on #176
Can you update htpc manager wipe the log and then post the new log here? When you go to the webui in qbittorrent nox, what are the realm?

[2015-05-20 07:31] three80 commented on #176
What do you mean realm?

domain? just  localdomain

[2015-05-20 07:35] three80 commented on #176
Shutdown
git pull
Restart

new log: http://pastebin.com/AUYVPs7K

[2015-05-20 07:41] Hellowlol commented on #176
Oh, sorry. Can you take a screenshot of the login (where you enter username and password to qbittorrent.)

[2015-05-20 07:41] three80 commented on #176
Also updated above if it helps.

[2015-05-20 07:43] Hellowlol commented on #176
Ah crap, i notice they have updated the api in 3.2.0. Im still using a old version on my desktop. What version are you desktop qbittorrent?

[2015-05-20 07:43] Hellowlol commented on #176
https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-Documentation
New docs :https://gist.github.com/pmzqla/7e5733dbecfc50ee4ecd#file-web-api-documentation

[2015-05-20 07:45] three80 commented on #176
desktop is 3.1.8

[2015-05-20 07:53] Hellowlol commented on #176
Well there we have it then. Until i have time to fix  this you will need to downgrade :)

[2015-05-20 07:53] three80 opened #177 "check local musicbrainz server"
I run a local musicbrainz server on my main media server that sometimes dies when load is too high.

Is there a way to have HTPC-Manager check it and if enabled insettings just show some sort of icon up top when it is available?

It might be out of the scope of this project but musicbrainz is a large part of my htpc with all my music and it would be nice to see it I have to switch to looking away

[2015-05-20 07:55] three80 commented on #176
Well I can wait, this work of yours has eliminated many bookmarks for me.  I can live with using just one extra.  Thanks for the work.  It's a really great thing to have.

[2015-05-20 07:57] Hellowlol commented on #177
Where are htpc-manager running? on the same computer as musicbrainz? Is there a webapi? Yes its out of the scope :P

[2015-05-20 07:59] three80 commented on #177
different than local musicbrainz, not sure if webapi, thought maybe just try and connect get timeout then offline else online or something... anyways was just a thought as it would helpful to me but probably not many others.

[2015-05-20 08:00] Hellowlol opened #178 "qBittorrent issues < 3.2.0"
qBittorrent modules needs to be rewritten to support the new api. See https://github.com/Hellowlol/HTPC-Manager/issues/176
Im gonna wait with this one until its whitelisted on all the trackers i use.
- [ ] api

[2015-05-20 08:01] Hellowlol commented on #177
You should install psutil on you computer and enable the stats module, you can check server load and loads of other stuff.

What might be interesting for you is the process tab. You can check if the musicbrainz server is running there.

[2015-05-20 08:04] three80 commented on #177
Right now I have it installed on a seperate pc than my server as I was testing it. But now I know it works great I'll be putting it on my server

[2015-05-20 10:24] Hellowlol commented on #176
Im glad you like it, i working om some improvements regarding nzbget and sabnzbd but as soon as thats finished ill start rewriting the qbittorrent module

[2015-05-21 17:15] Hellowlol commented on #10
@edru @KaHooli @blindpet My pr has been merged in both the development and master branch. Please use one of those.

[2015-05-21 17:15] #10 closed

[2015-05-21 18:44] 40wattrange commented on #10
From the actual true mylar source?

On Thu, May 21, 2015 at 12:15 PM, Hellowlol notifications@github.com
wrote:

[2015-05-21 19:06] Hellowlol commented on #10
yeah

[2015-05-22 09:45] blindpet opened #181 "Emby support?"
Any plans to add Emby support?

btw working on caching with reverse proxy and think I found the solution

http://stackoverflow.com/questions/15311198/nginx-expires-header-and-reverse-proxy-not-working

[2015-05-22 10:19] GTunney opened #182 "Kodi Now Playing on Dashboard"
It would be great to have a module for Kodi Now Playing on the dashboard. Something similar to what maraschino has done.

[2015-05-22 10:19] Hellowlol commented on #181
I have no plan for new modules atm.

[2015-05-22 10:31] GTunney opened #183 "Sabnzbd Downloading on Dashboard"
Request for Sabnzbd now downloading module on dashboard, showing basic features like progress etc but hidden when no downloads active. Something similar to maraschino htpc.

[2015-05-22 14:15] GTunney opened #184 "Watched Status for episodes"
Would it be possible to have it so HTPC-Manager displays watched status for individual episodes. It currently does this for shows but not episodes.

[2015-05-22 14:22] Hellowlol commented on #184
in the kodi module?

[2015-05-22 14:23] GTunney commented on #184
Sorry yes.

[2015-05-22 14:35] Hellowlol commented on #184
Ill see if the api returns seen count, if it does ill add it.

[2015-05-22 14:47] madclicker commented on #184
You can get it with 'playcount'.

On 05/22/2015 10:35 AM, Hellowlol wrote:

[2015-05-22 15:03] Hellowlol commented on #184
sweet, ill add it then.

[2015-05-22 15:33] thatbritguy commented on #184
It'd be great if this was possible with the Plex module too :)

[2015-05-22 15:35] Hellowlol commented on #184
@raysguy Ok, ill see if the api supports it. Ill add it if it does

[2015-05-22 23:18] thatbritguy commented on #184
Thanks :)

[2015-05-23 20:25] #184 closed, assigned to nobody

[2015-05-23 20:25] Hellowlol commented on #184
Should be ok now.

[2015-05-23 20:29] Hellowlol opened #186 "Make error handlers for all modules."
- [ ] qbt

[2015-05-23 20:32] Hellowlol commented on #54
@kooimens @raysguy Does nzbsearch work with dognzb via htpc manager for you guys?

[2015-05-23 20:34] Hellowlol commented on #175
@thejrose1984 If you send a pr for a working rc script for freenas ill merge it :)

[2015-05-24 03:47] thatbritguy commented on #54
Works intermittently for me, but all newznab providers act like that on HTPC Manager.  Seems that if I enter a search term I've previously used then no search results are returned.  When it fails this is the error in the logs:

"Unable to fetch information from: http://api.dognzb.cr/api?o=json&apikey=********************************&t=search&q=Testing&extended=1 ('The read operation timed out',)"

[2015-05-24 06:05] Hellowlol commented on #54
Ok, I'll do some digging

[2015-05-24 06:40] Hellowlol commented on #54
@raysguy  Ok, im not gonna bother with anything related to dognzb until there are api is fixed. I can search over and over on the same item using usenet-crawler (the only other i have.) Can you test with a different indexer then dognzb?

[2015-05-24 19:03] GTunney opened #187 "Change the Latest TV Shows to Latest Episodes on Dash"
The latest tv shows on the dashboard seems better suited to be latest episodes with it detailing the episode number. Here are a few changes which i think would make it better.

Change from Latest TV shows to Latest Episodes - Also change show thumbail to episode thumbnail if available.

OR

Keep as Latest Shows and set to display shows only and not invidivual episodes. If you download more then on

[2015-05-24 21:45] Hellowlol commented on #187
I think it got it.

You want me to rename the "label" latest tvshow to latest episode and just use thumbnail if available?

[2015-05-25 08:21] GTunney commented on #187
Yes Latest Episodes. I think it would suit the dash module more.

[2015-05-25 11:21] thatbritguy commented on #54
Okay, I use a number of indexers and have been through to check them all.  The only one which works consistently for me is nzb.su.  Of the others althub and nzbgeek exhibit the same behaviour as dognzb, working only intermittently with the logs showing a timeout error.  PFMonkey is the same but there's no error in the logs - it shows the search happened as though there was no issue.  Oznzb fails c

[2015-05-25 11:22] thatbritguy commented on #54
Also the newznab search link in the nav bar is still not working, not sure if it's supposed to be yet though.

[2015-05-25 11:52] Hellowlol commented on #54
Thanks! I'll see if I can sign up on the others to test. Oznzb is got supported as the have a own api. Yeah, the menu link is not suppose to work yet :)

[2015-05-25 12:48] 15bitgames opened #188 "NZBGet doesn't work with latest commit"
Just updated to the latest commit and noticed that NZBGet now doesn't show the current queue but will show the history.  I'm using SSL on my nzbget instance and here are my settings.  I couldn't see anything in the log unfortunately.

IP: localhost
Port: 6790
Basepath: /
User: xenogia
Pwd: ***
Use SSL: (ticked).

[2015-05-25 12:56] Hellowlol commented on #188
Hi! Thanks for reporting this.

Can you provide the following info and provide a full debug log:

Branch
Commit hash
Your operating system and python version
What did you do?
What happened?
What did you expect to happen?
If it's a visual bug, screenshot or it didn't happen!
Which browser, including version
If it's regarding a module what version/commit are the program
Link to a copy/paste of your

[2015-05-25 13:02] Hellowlol commented on #188
As you can see in https://github.com/Hellowlol/HTPC-Manager/blob/master2/modules/nzbget.py#L188 a exception should be raised if there is a problem. If you cant see it see start htpc manager with --loglevel debug

[2015-05-25 13:06] 15bitgames commented on #188
Master2 Branch
83235c750cae58854aab4dd179e8f58aa1ed80d1 Commit Hash (latest HTPC update) - Said it was 11 commits behind
Ubuntu 14.04 (x64) with Python 2.7.6

Updated GIT from "check for updates" under HTPC Manager

Then went to to my NZBGet and then noticed there was no queue - but history is still there.  There are no entries in NZBget queue or download speed notifications.

Note: The messages a