[2015-05-25 13:09] 15bitgames commented on #188
Here is the debug log - can't see any issue.
http://pastebin.com/4GW8TfVn

[2015-05-25 13:12] 15bitgames commented on #188
My apologies I had to restart NZBGet after the HTPC GIT update.  I'll close the issue.  Sorry for the inconvenience.

[2015-05-25 13:12] #188 closed, assigned to nobody

[2015-05-25 13:21] Hellowlol commented on #188
Np. Glad it got sorted.

[2015-05-25 14:28] thatbritguy commented on #54
Hahaha yeah I signed up to a lot just to ensure coverage.  Probably a little bit of overkill though!  Didn't realise oznzb has a different api - I know on other apps I just insert the details the same as any other newznab provider.  Only one I have which is non-standard is omgwtfnzb so I know that wouldn't work.

[2015-05-25 14:31] Hellowlol commented on #54
Ah shit I thought of omgwft when I wrote oznzb

[2015-05-25 15:20] Hellowlol commented on #54
@raysguy Where the fuck do you find the apikey to nzbgeek? I have been looking for ages..

[2015-05-25 15:36] Hellowlol commented on #54
Edit found nzbgeek apikey. Had to throw some $ at them to get it...

[2015-05-25 18:25] GTunney commented on #187
I managed to do this quickly on my machine by changing the episode.fanart to episode.thumbnail in dash.js tested it on 4 different themes. Altbhough not too sure what action it takes if thumbnail not available as I have art for everything.

[2015-05-25 18:55] Hellowlol commented on #187
You can do it like this:

[code]

[2015-05-25 22:50] Hellowlol commented on #54
- [x] Add/delete/edit indexer
- [x] add search url entry in the db, used to clean the url in setindexer
- [x] rename files
- [x] menu link
- [x] spinner
- [x] html add indexer dropdown
- [x] add search on all
- [x] use requests-futures, add failback from json to xml?
- [ ] add derefer to external links
- [x] search result should be sortable.
- [x] fix image in modal tvrage api http://services.tvra

[2015-05-26 05:23] 15bitgames opened #189 ""An error occured" when trying to click on newznab in menu"
Using Ubuntu 14.04/Python 2.7.4 with the latest commit (83235c750cae58854aab4dd179e8f58aa1ed80d1) of HTPC Manager under the master2 branch.

Newznab option doesn't work no matter what provider I use, it just comes up with a blank screen with the black text "An error occured" appearing.

Here is the debug log, but it doesn't show much.

http://pastebin.com/iaEwFvVB

[2015-05-26 05:37] Hellowlol commented on #189
What did you do? Did you search on anything or click the newznab in the menu?

[2015-05-26 05:50] Hellowlol commented on #189
I know that happens if you click the link in the menu. Nzb search is getting some improvements https://github.com/Hellowlol/HTPC-Manager/issues/54

[2015-05-26 05:51] 15bitgames commented on #189
Just clicked the newznab button at the top and it went straight to "an
error occured"

On Tue, 26 May 2015 at 15:37 Hellowlol notifications@github.com wrote:

[2015-05-26 05:51] Hellowlol commented on #189
Ok, that doesn't work :D

[2015-05-26 05:52] 15bitgames commented on #189
Is there a way to get to the functionality or is it just currently disabled?

On Tue, 26 May 2015 at 15:51 Hellowlol notifications@github.com wrote:

[2015-05-26 05:55] Hellowlol commented on #189
Its already fixed in a feature request I'm working on. For now you just have to search on something to get to that page

[2015-05-26 07:15] GTunney commented on #184
Not too sure if something has changed but this appears to have vanished from my HTPC Manager now. Did the changes get reverted?

[2015-05-26 07:23] Hellowlol commented on #184
Nope, there are some changes to the js. Have you tried refreshing browser cache? (if its on a iphone etc you might need to clear all data in safari settings.)

[2015-05-26 10:24] GTunney commented on #184
My bad lol

[2015-05-27 10:45] Hellowlol commented on #54
Im gonna try to finish this today, as there will be a couple of weeks until i got time to do some work on htpc manager again. Thanks for the patience, i had forgot about this request.

[2015-05-27 11:11] Hellowlol commented on #54
This module will support adding new indexers inside the nebwnab settings page.
In menu link works now, you can choose what indexer you want to search on and defaults to all indexers.

Each search is async to each provider. You can see what provider yielded what result and the table should be sortable.

[2015-05-27 17:04] GTunney opened #190 "HTPC manager kodi mysql issues"
If Kodi is running via a Mysql database HTPC Manager will only connect to the main kodi install.

Example: My main kodi install is in my living room, the database is shared via mysql as per the kodi wiki, If I add another Kodi install (master bedroom) to HTPC it will not connect or display anything when selected via the drop down.

[2015-05-27 17:22] Hellowlol commented on #190
My setup is MySQL so I'm 100% sure it supports it. Check your kodi setting on the master bedroom.

[2015-05-27 17:33] GTunney commented on #190
I'm on absolute noob, firewall was playing havoc. Sorry for wasting your time.

[2015-05-27 17:35] Hellowlol commented on #190
No worries :)

[2015-05-27 17:35] #190 closed, assigned to nobody

[2015-05-27 18:42] GTunney commented on #190
Do both kodi's need to be running 24/7, seems to crash if one isn't available?
Living room is on 24/7 but master is only switched on as and when needed.

[2015-05-27 19:01] Hellowlol commented on #190
I dont think so no, please make a proper bug report. See https://github.com/Hellowlol/HTPC-Manager#so-you-found-a-bug-great

[2015-05-27 19:09] GTunney commented on #190
I think it's the timeout, If I select Master bedroom and it's not available it seems to get stuck for a few mins then switches over to living room.

[2015-05-27 21:35] Hellowlol commented on #54
@kooimens @raysguy Can you try this branch? https://github.com/Hellowlol/HTPC-Manager/tree/impnewznab and let me know if you find any bugs?

The branch isn't done, but it should be usable

[2015-05-28 05:03] Hellowlol commented on #189
Fixed in https://github.com/Hellowlol/HTPC-Manager/tree/impnewznab I just have some cleanup left

[2015-05-28 05:06] 15bitgames commented on #189
Excellent, thank you so much :)

On Thu, 28 May 2015 at 15:03 Hellowlol notifications@github.com wrote:

[2015-05-28 12:17] GTunney commented on #187
Closing as now implemented.

[2015-05-28 12:17] #187 closed, assigned to nobody

[2015-05-28 13:50] thatbritguy commented on #54
Looking good!  Great implementation. Not found any major bugs.  Only minor issue is when searching direct from navbar search form it takes you to newznab search page with search term pre-populated but doesn't automatically search.

[2015-05-28 14:08] Hellowlol commented on #54
Thanks for reporting this I'll look into it. Any more issues regarding search on the same thing?

[2015-05-28 14:20] thatbritguy commented on #54
I notice in the results that the age of each result is correct for all providers except dognzb which says "N/A".  Is that a peculiarity of their api?  Also the results are listed in blocks of one provider then the next.  Would it be possible to have them listed by age regardless of provider?

Should the spinner show when it is searching?  I see it's ticked off in the list above but I don't see it

[2015-05-28 14:28] thatbritguy opened #193 "Bug - Send to nzbget button not working"
Happens in all recent builds on both safari and chrome.  When clicking the send to nzb button on search results the success notification appears but nothing ever downloads.  Each time nzbget generates the following warnings:

[5/28/2015, 3:22:46 PM] Deleting file /Volumes/Data/nzbget/Watched/Temp Name.nzb.queued
[5/28/2015, 3:22:46 PM] Skipping duplicate Temp Name, found in history with success st

[2015-05-28 14:37] Hellowlol commented on #193
I believe this is related to dupe check in nzbget settings. I'll see if I can't find another solution (search from newznab returns the name and if name is omitted generate a random number (for manually passed URL)

[2015-05-28 14:40] Hellowlol commented on #54
Yes it's because of the api. Sorting don't work but I'll fix that. The check was related to the spinner showing regardless if you searched on something or not. I'll fix that too

[2015-05-28 21:18] Hellowlol commented on #193
Should be fixed in the lasted commit

[2015-05-28 21:18] #193 closed, assigned to nobody

[2015-05-28 21:18] Hellowlol commented on #189
Fixed, please let me know if you find any bugs in the newznab module :)

[2015-05-28 21:18] #189 closed, assigned to nobody

[2015-05-28 21:20] Hellowlol commented on #54
Merged, let me know if there are any bugs. @raysguy I couldnt reproduce your issue regarding nav-search, so if this problem persist please make a proper bug report :)

[2015-05-28 21:20] #54 closed

[2015-05-28 21:21] Hellowlol commented on #156
Check if i broke squeezebox module when i removed jquery.cookie.

[2015-05-28 23:25] wesleyegbertsen opened #194 "NZBGet Warning duplicates"
When on NZBGet page when switching from Active to Warnings tab than back to Active and again to Warnings. It gets duplicate entries. It keeps doing this when switching tabs. It seems it getting the warnings and forgetting to clear the old warnings.

[2015-05-29 02:49] 15bitgames commented on #189
Just a quick note. NZBGeek has a weird thing where its requires a much longer timeout compared to most NZB apis.  I had to do this NZB MegaSearch.  Here is the error I get occasionally with NZBGeek.

Failed to fetch results HTTPSConnectionPool(host='api.nzbgeek.info', port=443): Read timed out. (read timeout=60)

[2015-05-29 09:56] Hellowlol commented on #194
Thanks!

[2015-05-29 11:51] Hellowlol commented on #189
Having a api that takes more then 60 sec to respond is just... They should fix the api..

[2015-05-29 13:22] Hellowlol commented on #194
I'll fix this today. NZBget is gonna get some love after version 15 is released.

[2015-05-29 13:45] 15bitgames commented on #189
I know. Nzbgeek is dreadfully slow.

[2015-05-29 14:14] thatbritguy commented on #194
V15 is already out :)

[2015-05-29 14:19] Hellowlol commented on #194
That's great! I thought I just checked it. Thanks for the tip

[2015-05-29 20:03] #194 closed, assigned to nobody

[2015-05-30 22:00] #171 closed, assigned to nobody

[2015-06-01 06:45] Hellowlol opened #196 "Upgrade to Bootstrap 3.3.4"
- [ ] restructure folders to support templates

[2015-06-04 16:46] Hellowlol opened #197 "Replace table with bars on system info (dash)"

[2015-06-04 19:58] #197 closed, assigned to nobody

[2015-06-04 22:50] Dahlgren commented on #196
Anything in particular you want help with? Here's the official migration guide http://getbootstrap.com/migration/. There's a couple of scripts to automate the process such as https://github.com/yaph/b2tob3

[2015-06-04 23:13] madclicker commented on #196
Nothing  is going to help with that snakey js html. I started this a few
times and it's a nightmare.

On 06/04/2015 06:50 PM, Björn Dahlgren wrote:

[2015-06-05 05:30] Dahlgren commented on #196
It works quite good on the js templating switching out column definitions, buttons and image classes at least. Navigation bar needs to reworked a bit and the settings form doesn't have the correct form structure. I have only tried the Sonarr and the CouchPotato but they worked good with just some minor tweaks.

[2015-06-05 06:18] Hellowlol commented on #196
I tried bs2tob3  it works fairly well but there is still loads to do. I have been working on the nav bar and the settings page, the problem is that they are removed some of the classes that we are using atm and im no designer... it is pita.

Im not really sure i see the benefit by upgrading, unless someone want to make new themes or templates there isnt really any reason to upgrade.

If you want t

[2015-06-05 06:30] thatbritguy commented on #196
For what it’s worth I’m in the process of creating a set of themes for Bootstrap 2.3.2 which give the whole appearance a cleaner and sleeker look and I’ve been designing them based on the look of Bootstrap 3.  Hoping to have between 10-15 themes when I’m done.

[2015-06-05 06:46] Hellowlol commented on #196
@raysguy I have been holding off because of that, but i didnt see any branch on github so assumed you have stopped.

[2015-06-05 06:56] thatbritguy commented on #196
Yeah the branch on there got messy when pulling latest updates from your master2 branch so I ended up deleting it and have been working on it on a local branch.  Bought Tower 2 and find it pretty good now I’m used to it.  Going to need to pick your brain at some point though on a couple of issues I’ve run into.

[2015-06-05 07:11] Hellowlol commented on #196
Dont bother keeping up with the changes that are merged. Just work on the themes, ill fix/update it when i merge it :)

Np, give me a shout if you need any assistance.

[2015-06-05 07:15] Dahlgren commented on #196
Awesome, fixing the themes is probably the biggest hurdle to overcome!

[2015-06-05 07:53] thatbritguy opened #198 "HTPC Manager can't connect to Plex when new SSL feature is enabled"
Plex launched an update to their media server today giving all servers a trusted SSL certificate.  There are now three server settings for a secured connection - Required, Preferred and Disabled.  If this option is set to Required HTPC Manager can't connect to it. Logs show this error:

`Unable to fetch currently playing information! Exception: ''`

[2015-06-05 08:37] Hellowlol commented on #198
There isnt a ssl option at all.

[2015-06-05 08:50] Dahlgren commented on #198
If using a direct IP to the host the SSL certificate will also be invalid. Not sure if GDM uses their new generated DNS names that allows for proper SSL. Maybe have an option to ignore invalid SSL when using direct IP?

[2015-06-05 09:03] Hellowlol commented on #198
Would be alot simpler if the users just checked preferred... :P, i see no benefit by running pms with ssl. If you want access to pms outside your network. You can login to the site and manage it from there. (where there already is ssl)

[2015-06-05 09:07] thatbritguy commented on #196
Cool thanks. Main issue I'm having is trying to figure out how to manipulate the drop down boxes (.form-inline I think) as they won't respect my border/border-radius/font settings. Spent hours trying to figure it out to no avail.

Other sticking point is trying to theme the check boxes in settings. Want to be able to update those for high resolution displays.

[2015-06-05 09:11] thatbritguy commented on #198
Lol yeah that's true. I can never get SSL to work for anything for some reason even though I paid for trusted certificates.  Sonarr, nzbget, Couch Potato all refuse to work when I attempt to use SSL.

[2015-06-05 09:21] Hellowlol commented on #196
push a branch to github, open for issues on your fork and well take it from there. I dont want to cutter this issue

[2015-06-05 11:03] Hellowlol commented on #198
@raysguy You should check your settings then. CP works fine with certs here. Htpc-Manager aswell.

[2015-06-06 13:19] Hellowlol opened #200 "Sickbeard improvements"
- fix ping bug
- replace urllib2 with requests
- add postprocess

[2015-06-06 18:52] #200 closed, assigned to nobody

[2015-06-06 18:52] Hellowlol commented on #200
Done

[2015-06-08 21:30] brando56894 opened #201 "Change Suggested Text Color In Config Fields"
Not really an issue, more of a request, but would it be possible to change the suggested text color to something other than black or gray? I just spent about 15 minutes going through my logs, modifying stuff and wondering why htpc manager kept trying to connect to 192.168.1.100:/sickrage even though I (thought I) had the port number specified in the Port field. Turns out I was just looking at the

[2015-06-08 21:32] Hellowlol commented on #201
The placeholder text can look like values, especially on dark themes like slate, i want them grey, but ill see if i cant make em so grey you cant do wrong :P

[2015-06-08 21:39] madclicker commented on #201
Just do away with the placeholders and put the info in the desc field. I did the placeholder before I realized what confusion it would create.

[2015-06-08 21:43] Hellowlol commented on #201
I like them! :P But agree it isnt the first time someone has reported this.
@brando56894 what theme are you using?

[2015-06-08 21:46] Hellowlol commented on #201
Hows your app coming along btw?

[2015-06-08 21:48] madclicker commented on #201
Still on the Android learning curve. I believe this is the future of the HTPC.

[2015-06-08 21:49] Hellowlol commented on #201
Im gonna buy it when it gets released :D

[2015-06-08 21:54] madclicker commented on #201
So far I luv Android. I remember years ago talk about Linux on appliances and it didn't show up until Google did it. It finally grew up from a toy.

[2015-06-08 21:57] Hellowlol commented on #201
Im a IOS user myself (except from a shitty tab, worst thing samsung ever made. (first 4g tab)), i think i was unlucky when i bought my s4. All the battery was drained within 3 hours. Feel free to chip in if your tired of writing classes! ;)

[2015-06-08 22:08] madclicker commented on #201
LOL, not programming in Java.

[2015-06-08 22:10] Hellowlol commented on #201
What programming language are you writing in?

[2015-06-08 22:10] madclicker commented on #201
Python
Of course.

[2015-06-09 07:21] #62 closed

[2015-06-09 07:23] Hellowlol commented on #19
@coach0742 Is this something you still want?

[2015-06-09 07:32] Hellowlol commented on #11
@needo37 There was a pr for qbittorrent on the dash for some time ago. Would something like that be enough? What torrent clients are you using?

[2015-06-09 07:43] Hellowlol commented on #41
Closing this as its out of scope. As i mentioned you can use the ohm tab or a project like psdash.

[2015-06-09 07:43] #41 closed

[2015-06-09 07:45] Hellowlol commented on #126
Closing this as its out of scope of this project. If anybody is willing to do the work, ill merge it

[2015-06-09 07:45] #126 closed

[2015-06-09 07:50] Hellowlol commented on #104
Closing this as ignore sections is added.

[2015-06-09 07:50] #104 closed

[2015-06-09 07:54] Hellowlol commented on #198
Im gonna close this, if a user wants ssl he will have to use preferred. If plex should remove this option ill add support for ssl. It isnt worth the development time.

[2015-06-09 07:54] #198 closed, assigned to nobody

[2015-06-09 11:46] Hellowlol commented on #140
@raysguy Can you make a icon of http://static.passthepopcorn.me/static/common/touch-icon-iphone.png like you have done with the other torrent sites?

[2015-06-09 17:44] thatbritguy commented on #140
Yeah that’s no problem :)

[2015-06-09 23:27] Hellowlol opened #202 "Sb ping fails on exceptions"
http://www.reddit.com/r/usenet/comments/2vgtta/htpcmanager_w_sonarr_sickrage_and_headphones/crw1tnj

If ppl just reported bugs...

[2015-06-10 00:44] madclicker commented on #201
You should come with me. It might get really good,

[2015-06-10 08:14] Hellowlol commented on #201
To the dark side? No way. ;)

The reason that i dont use android, (the shitty tab is never used) and i want to be able to access the stuff on a computer aswell.

I do appreciate the offer tho :)

[2015-06-10 09:18] Hellowlol commented on #176
@three80 I got some spare time this weekend so ill start on this. Initially i wanted to just drop support for older versions, but loads of private torrent sites have whitelist/blacklist so ill support both.

[2015-06-11 00:51] madclicker commented on #201
Can't blame the OS for the hardware!

I think we're talking apples and oranges here.

I've never used any android toy phones or tablets; never will.

The Android I'm talking about is all grown up. You do know the android kernel is linux?

The TV box I just got has Android 4.4.2, 4 core cpu, 8 core gpu and plays 2160p! Delivered for $50! Also came with a Minix A2 AirMouse.

Burns only 10 watts max.

[2015-06-11 14:56] Hellowlol commented on #201
Decent hardware/features for the price!

[2015-06-11 20:57] #178 closed, assigned to nobody

[2015-06-11 20:58] Hellowlol commented on #178
Done

[2015-06-11 20:58] Hellowlol commented on #176
@three80 Closing this as it should work now.

[2015-06-11 20:58] #176 closed, assigned to nobody

[2015-06-11 21:09] #202 closed, assigned to nobody

[2015-06-12 18:32] lukasmrtvy opened #204 "feature request: scheduled poweroff"
Hi,
I have feature request. Is possible to add advanced power management module?
I have synology NAS and there is a great package: http://sourceforge.net/projects/advpowermgr4ds/
It is user friendly and it has many options and features. So it would be great, if something similar would appears in htpc-manager. Thanks

[2015-06-12 18:58] Hellowlol commented on #204
Hi!

Im sorry, this is not something ill work in. I personally i see no use for this as all my computers are always on. And getting this to work with all os would be a major pain. If someone where to take interest in your request and make a pr for it. Ill merge it.

You have access to a command line if you start htpc-manager with --shell

[2015-06-12 18:59] Hellowlol commented on #204
Just remembered synology dont have the psutil package that is required to use the command line. It isnt a part of the python spk.

[2015-06-13 02:57] 15bitgames opened #205 "Qbittorrent SSL issue"
I can't seem to get HTPC Manager to talk to QBittorrent.  I have SSL enabled on the daemon and I get the following error in the logs.

Cant contact qBittorrent, check you settings and try again [Errno 1] _ssl.c:510: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed

[2015-06-13 04:45] Hellowlol commented on #205
Is it a self signed cert?

[2015-06-13 06:02] three80 commented on #176
Yup, it's working.  Thanks.

[2015-06-13 06:05] Hellowlol commented on #176
Thanks for confirming.

[2015-06-13 08:42] 15bitgames commented on #205
Correct, it is a self-signed crt.

On Sat, 13 Jun 2015 at 14:45 Hellowlol notifications@github.com wrote:

[2015-06-13 09:05] Hellowlol commented on #205
Ok, what qbt version?

[2015-06-13 10:04] 15bitgames commented on #205
qBittorrent v3.2.0

On Sat, 13 Jun 2015 at 19:05 Hellowlol notifications@github.com wrote:

[2015-06-13 10:17] Hellowlol commented on #205
Ok, I'll fix it later today.

[2015-06-13 10:59] Hellowlol commented on #205
@z1lt0id Can you update and confirm that it works now?

[2015-06-13 11:13] 15bitgames commented on #205
It nows successfully tests and doesn't show the SSL errors but now the log
displays the following, and nothing appears under the qbittorrent section.
2015-06-13 21:11:50 modules.deluge  ERROR   can't connect with {'params': ['**********_'], 'method': 'auth.login', 'id': 1}
2015-06-13 21:11:50 modules.deluge  ERROR   can't connect with {'params': [['payload_download_rate', 'payload_upload_rate']],

[2015-06-13 11:22] Hellowlol commented on #205
Well thats not qbittorrent, thats deluge. If you still have issues with qbt, try to refresh the page. If that doesnt works, wipe the log start htpc manager with --loglevel debug, open the qbittorrent module and link the FULL log to pastebin.

[2015-06-13 11:30] 15bitgames commented on #205
My bad, let me fix that. I thought that was a little weird.
 Here is the error I get now.

2015-06-13 21:30:12 modules.qbittorrent ERROR   Couldn't get global upload limit ('Connection aborted.', BadStatusLine("''",))
2015-06-13 21:30:12 modules.qbittorrent ERROR   Failed to auth with new api ('Connection aborted.', BadStatusLine("''",))
2015-06-13 21:30:12 modules.qbittorrent ERROR   Couldn't get

[2015-06-13 11:45] Hellowlol commented on #205
I edited my answer. Can you provide the full log, See my previous post.

[2015-06-13 20:24] #205 closed, assigned to nobody

[2015-06-14 14:36] Hellowlol opened #206 "Add support for py3?"

[2015-06-14 15:43] Hellowlol commented on #205
This should be fixed now btw, please reopen if you still have issues.

[2015-06-15 22:45] Hellowlol opened #207 "Div stuff"
- [x] Add download log to the logpage.
- [x] Add a debug page with system info etc (os, python version etc.)
- [x] Add loglevel to the general page.
- [x] Change the way the blacklist words works, make a list on save to db.

[2015-06-16 12:44] ordinarygulp commented on #19
This would be awesome! As a fellow user of Deluge, I feel like there's not much support for it in this project. Would mainly like to see the downloads in the dashboard :)

[2015-06-16 12:47] ordinarygulp opened #208 "[Bug] Plex setting doesn't exclude specified libraries"
On the Plex setting page, I try to exclude libraries (let's say "Home Videos"). However, those libraries' videos still appear in the program. I also tried the "Hide homemovies" option, but still nothing. All supposedly excluded libraries appear in this program. Running latest master2.

[2015-06-16 13:10] Hellowlol commented on #208
@raysguy do you also have this issue?

[2015-06-16 13:18] Hellowlol commented on #19
@d2dyno Can you specify what you want to be able to do with the deluge module? Regarding downloads on the dashboard are you thinking about something like we have done for qbittorrent?

[2015-06-16 13:55] Hellowlol opened #209 "replace urllib2 with requests on all modules supporting ssl."

[2015-06-16 16:33] ordinarygulp commented on #19
I don't use qbittorrent, so I am not sure what has been done for it. The screenshot on the main Git page, has what looks like (I'm supposing qbittorrent) downloads and torrents widgets. It'd be nice to get those for Deluge as well.

[2015-06-16 16:46] Hellowlol commented on #19
Ok. It's pretty simple. It just shows 5 downloads. I can do that, but I have no eta I got some other stuff I want to finish first.

[2015-06-16 18:01] ordinarygulp commented on #19
Sweet, sounds good! :)

[2015-06-16 18:30] thatbritguy commented on #208
This works for me fine. Have got multiple libraries excluded and they work without issue.

[2015-06-16 20:12] Hellowlol commented on #208
@d2dyno What have you tested? can you list the section titles and the one that you have excluded? Please read https://github.com/Hellowlol/HTPC-Manager#so-you-found-a-bug-great

[2015-06-17 22:06] #209 closed, assigned to nobody

[2015-06-18 04:56] thejrose1984 opened #212 "Sonarr plugin not working"
Apparently my instance of HTPC Manager was 14 versions behind. After a successful update, I noticed Sonarr data was not showing up.

All I see is a single line with value "undefined/undefined"

No errors in the logs. Please fix.

[2015-06-18 05:00] Hellowlol commented on #212
Its working fine here. There hasn't been any changes to the sonarr module as far as i can remember. Clear browser cache, if it still dont work: read the issue guidelines.

[2015-06-18 06:57] #208 closed, assigned to nobody

[2015-06-18 11:54] thejrose1984 commented on #212
Resolved when applying updates to FreeNAS OS and rebooting. Please note restarting HTPC Manager as well as the jail containing it did not resolve issue.

[2015-06-18 11:54] #212 closed, assigned to nobody

[2015-06-18 12:33] Hellowlol commented on #212
Good to know. Thanks.

[2015-06-19 16:32] hiddek opened #214 "Setting Mylar reverse proxy link also changes it for Headphones and vice versa"
Pretty much as the title says. Whenever i change the Reverse Proxy Link setting for Mylar or Headphones, it changes it for the other too. I'm running the latest versions

[2015-06-19 16:44] Hellowlol commented on #214
Thanks. Its fixed

[2015-06-19 16:44] #214 closed, assigned to nobody

[2015-06-19 20:33] thatbritguy opened #215 "Bug - Settings page won't load"
Hi, in the latest master2 branch the settings page no longer loads.  When trying to navigate to that page I get a 500 Internal Server Error.  Same thing happens in both latest Safari and Chrome on Mac.  Tried on two different computers.

Here are the logs I  was able to pull.  All the errors points at the info module object being unable to find an attribute for "get_users".

http://pastebin.com/HT

[2015-06-19 20:53] Hellowlol commented on #215
What psutil version and os? I haven't changed anything.

[2015-06-19 21:02] thatbritguy commented on #215
Disregard this - after a few restarts and re-logins of htpc it's now working fine on both computers. Not sure what the issue was but seems to have fixed itself.

[2015-06-19 21:02] #215 closed, assigned to nobody

[2015-06-20 09:41] brendann993 opened #216 "Synology install"
Hey guys, Wasn't sure where to put this. I Have compiled a htpcmanager-custom package for synology NAS. I have tested it on my server using this fork of HTPC-Manager(the reason I built the package) but no guarantee it will work for all or not break something so it is provided as is. It will ask you for git url on install so you can choose any fork you like. the spk and the source is [available her

[2015-06-20 09:50] brendann993 commented on #216
and I just noticed someone already raised a pr to spksrc for a similar package so I probably wont bother :)

[2015-06-20 10:32] Hellowlol commented on #216
Hi! Thank you for your time and effort I really appreciate it :). I'll use your link if the merge drags out.

[2015-06-20 10:36] Hellowlol commented on #215
Good :)

[2015-06-21 20:05] paulgfrey opened #217 "Getting error: AttributeError: 'Process' object has no attribute 'get_memory_info'"
When enable psutils invoked, processes are not listed and this error "AttributeError: 'Process' object has no attribute 'get_memory_info'" is being logged.
Tried updating pip and psutils but both say they are already up to date.

[2015-06-21 20:15] Hellowlol commented on #217
Please read: https://github.com/Hellowlol/HTPC-Manager#so-you-found-a-bug-great

[2015-06-21 20:19] Hellowlol commented on #217
I see there is a new psutil version. They have deprecated get_memory_info. Downgrade psutil until this is fixed

[2015-06-22 13:06] Hellowlol opened #218 "Make stats module work with psutil 3.0.1"
- [ ] Make stats module work with psutil 3.0.1

[2015-06-23 20:13] #218 closed, assigned to nobody

[2015-06-23 20:14] Hellowlol commented on #217
@paulgfrey All users need to upgrade psutil now.

[2015-06-23 20:14] #217 closed, assigned to nobody

[2015-06-23 22:40] coach0742 opened #219 "Stats module, processes no longer work in latest update"
[LOG](http://pastebin.com/xtESFTQw): lines 1008-1022 have pertinent information.

Branch: Master2
Python: 2.7.6
Commit HASH: 9c7a5daf3dc7f587ca76ab42dfd4ec00d360b632
Using psutil 3.0.1

Processes tab no longer shows any data. Opening the tab shows a blank page and enters an error into the log.

Using Chrome Browser version Version 44.0.2403.54 beta

[2015-06-23 22:48] Hellowlol commented on #219
The log is removed, but in short you need to upgrade to psutil 3.0.1

[2015-06-23 22:49] coach0742 commented on #219
Fixed the link for the log. I am updated to 3.0.1 as well.

[2015-06-23 22:52] coach0742 opened #220 "Loading couchpotato module freezes entire program, requires restart"
[LOG](http://pastebin.com/fpYtAFfN) only pasted relevant information.

Branch: Master2
Python: 2.7.6
Commit HASH: 9c7a5da
Using Chrome Browser version Version 44.0.2403.54 beta

After opening the couchpotato page, it will start loading for a moment, and then I am not able to go to any other modules, load any more tabs. The entire thing freezes up. HTPC-Manager requires a restart to use it again.

[2015-06-23 22:57] Hellowlol commented on #220
Is that the entire log? Seems to work fine here :(

[2015-06-23 22:57] Hellowlol commented on #220
Have you verified that cp is running?

[2015-06-23 23:00] coach0742 commented on #220
Yes, I am positive that couchpotato is running. Like I said, it will load up my wanted movies, and suggestions. Then it freezes and doesn't do anything else. The log stops here because htpc-manager no longer does anything.

[2015-06-23 23:01] coach0742 commented on #220
Nevermind, if I leave it trying to load for about 20 mins, it starts working again. This only happens the first time I load the module after starting htpc-manager.

It has to be something on my end.

Thanks

[2015-06-23 23:01] #220 closed, assigned to nobody

[2015-06-23 23:02] Hellowlol commented on #220
Im not really sure, sometimes cp is really slow, but it hasnt happen for me for 1-2 months. Are you using windows?

[2015-06-23 23:03] Hellowlol commented on #219
All good? I knew this update would make some issues. Been waiting for it :P But i cant bother to support every api from 0.7 to 3.0

[2015-06-23 23:06] coach0742 commented on #219
Nope, I think you missed my last comment. Updated link for log.

I'm getting an attribute error.

There is more in the log at the designated lines, but the main error is

AttributeError: 'module' object has no attribute 'proc_name'

[2015-06-23 23:08] Hellowlol commented on #219
what os are you using?

[2015-06-23 23:08] coach0742 commented on #219
It's running on Ubuntu server 14.04.2.

[2015-06-23 23:11] Hellowlol commented on #219
Aw, crap that might be some windows only shit then. Oh well. After you have upgraded to psutil 3.0.1 can delete the log, then reboot. go to the stats module then post a new log?

[2015-06-23 23:13] coach0742 commented on #219
Sorry, you must have missed that in my first comment too. I am fully upgraded to psutil 3.0.1.

[2015-06-23 23:16] Hellowlol commented on #219
Nope, check the version number in the log line 941 psutil version 2.1.3. Try a new shell or reboot the computer. I'd had to close the shell after i upgraded for it to work. Lets give it a try

[2015-06-23 23:22] coach0742 commented on #219
I've rebooted the computer several times since I upgraded. I don't understand how it could still be using an old version of psutil. I used pip, and everything shows 3.0.1 now.

It shows up perfectly when I import psutil on my own.

[code]

[2015-06-23 23:23] coach0742 commented on #219
I rebooted again, same errors, same problem.

[2015-06-23 23:25] Hellowlol commented on #219
wtf. can you uninstall psutil with pip then install it again? after you start htpc-manager again can you still see the import of 2.1.3?

[2015-06-23 23:26] coach0742 commented on #219
I'll try uninstalling and installing again.

Yes, it still showed it importing 2.1.3 after the last reboot and starting htpc-manager.

[2015-06-23 23:30] Hellowlol commented on #219
you didnt install old psutil with apt-get or something?

[2015-06-23 23:34] coach0742 commented on #219
Haha, we were looking way too high on the log. Look at the timestamp for that import of 2.1.3. It was earlier today before I upgraded. I deleted the log and I'll post a new one with _only_ this startup on it.

It is still showing the same attribute error though.

[2015-06-23 23:36] Hellowlol commented on #219
I saw the time, just i just figured it was the time difference :P

[2015-06-23 23:42] coach0742 commented on #219
[new log](http://pastebin.com/7Fem5dc3)

Ok, this is strange. It doesn't show it importing psutil at all now.

Am I missing something? I don't understand what's going on now.

[2015-06-23 23:56] coach0742 commented on #219
I just completely deleted htpc-manager from my server, uninstall psutil, reinstalled both, restarted, and started it up. Even before enabling the stats module, I'm getting that attribute error. I'm going to try it in a fresh virtual machine as well, but I don't think it's a problem on my end.

[2015-06-23 23:57] Hellowlol commented on #219
I just pushed a update, can you try that one? post a new log if it doesnt work.

[2015-06-23 23:58] coach0742 commented on #219
Perfect. Works great now.

Thanks for your help!

[2015-06-23 23:58] #219 closed, assigned to nobody

[2015-06-24 00:04] Hellowlol commented on #219
Good :)

[2015-06-24 00:16] coach0742 opened #221 "vnstat wrong date?"
To be honest, I'm not even sure if this is a problem with Htpc-Manager or vnstat.

However, every time I install vnstat and enable the module, no matter what OS I use. The date in the graphs is always exactly one month off.

I'm not sure what to put in this issue as there are no errors in the log files.

![screenshot 2015-06-23 at 6 05 37 pm](https://cloud.githubusercontent.com/assets/1206702/8320

[2015-06-24 00:49] Hellowlol commented on #221
This probably my bad. Can go to vnstat/dumpdb and parse the content to pastebin. It's the month off everywhere is just "last 30 days"

[2015-06-24 00:53] Hellowlol commented on #221
I think the error is in https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/js/vnstat.js#L52 I believe I should have set + 1 there as months are zerobased indexed

[2015-06-24 06:27] Hellowlol commented on #221
@coach0742 Can you update (rememeber to force browser cache) then try again?

[2015-06-24 06:32] coach0742 commented on #221
Well, it's closer.. ish haha.

![screenshot 2015-06-24 at 12 30 50 am](https://cloud.githubusercontent.com/assets/1206702/8323968/6bd948be-1a08-11e5-9c09-4786821e04a4.png)

It now counts down today to last month.

[2015-06-24 06:38] Hellowlol commented on #221
Crap, well when was data used? can you go to vnstat/dumpdb and paste the content to pastebin?

[2015-06-24 06:39] Hellowlol commented on #221
Seems right i my head, its suppose to show the usage the last 30 days. just as the last 24 hours and  12 months do :) Edit I see the way the data is displayed is not consisted.

[2015-06-24 08:00] Hellowlol commented on #221
@smdion I'm pinging you since you requested the module. Are the dates off for you too? What direction do you want to read the chart?

[2015-06-24 12:27] thejrose1984 commented on #216
Good to know @brendann993 and you're correct that there's no guarantee because Synology NAS units can be fickle at times :)

[2015-06-24 12:29] thejrose1984 opened #222 "Backup/Restore Feature?"
Had to do some heavy snapshot restores and other high level maintenance on my FreeNAS and noticed HTPC stopped working and needed a reinstall. Any chance you can add an option to export/import settings to a file?

[2015-06-24 12:38] Hellowlol commented on #222
Everything is in the db, so you can just copy that over to the new install and you should be good to go. Isnt that enough or did you have some thing in mind?

[2015-06-24 12:46] thejrose1984 commented on #14
Having this issue on a fresh install of HTPC Manager. Verified PMS is running without issue.

[2015-06-24 12:52] thejrose1984 commented on #222
You mean a SQL dump from SQLite?

[2015-06-24 12:52] Hellowlol commented on #14
Make a new issue with logs, if you have ssl enabled you need to set it to prefered.

[2015-06-24 12:55] thejrose1984 commented on #14
Default setting for secured connections is preferred on my setup

[2015-06-24 12:57] Hellowlol commented on #14
Ok, make a new issue with logs then and ill take a look. It works fine here :)

[2015-06-24 12:59] Hellowlol commented on #222
No inside the htpc manager folder there is a folder called userdata, inside that folder is database.db. Just copy that file :)

[2015-06-24 13:00] thejrose1984 opened #223 "Unable to contact Plex (#14)"
Branch = master2
OS = FreeNAS / FreeBSD
Python = 2.7.9
Event = fresh install of HTPC and could not connect to Plex
Expected result = connect to Plex
Issue is not browser specific (tested in Google Chrome and IE10)
Secure Connection set to Preferred
Reboots of HTPC and PMS have been done and did not fix issue
http://pastebin.com/SAuuZpGw

[2015-06-24 13:04] thejrose1984 commented on #222
Gotcha - I'll make a cron job/script from the FreeNAS to handle this then.

[2015-06-24 13:04] #222 closed, assigned to nobody

[2015-06-24 13:23] Hellowlol commented on #223
Is that  the full log? Is this a debug log? Set logging to debug in the settings page, restart htpc manager, then download the entire log from the logpage. You need to check your settings see 2015-06-24 08:56:26     modules.plex    ERROR   Unable to fetch all movies! Exception: HTTP Error 401: Unauthorized. Are you using plex home?

[2015-06-24 13:23] Hellowlol commented on #223
There are also alot of other connection errors as ip and port is missing from sonarr settings fx

[2015-06-24 15:09] EZarnosky opened #224 "Connecting to SickRage"
My sysem have HTPC Manager and SickRage installed locally with a Nginx reverse proxy set up. I have I am connecting to HTPC Manager with SickRage set up like:

<pre>
Enabled: Checked
Menu name: TV
IP/HOST: localhost
Port: 8081
Basepath: /backend/tv
API key: (copied from SickRage but omitted from this post)
Use SSL: Unchecked
Reverse proxy link: http://localhost:8008/backend/tv
</pre>

When i test

[2015-06-24 16:32] Hellowlol commented on #224
You have a unnormal basepath. Ill fix this later today until that, you can use any basepath that doesn't contain / as its auto removed to help formatting the basepath correctly. Fx /tv/ or tv will work fine :)

[2015-06-24 17:00] EZarnosky commented on #224
I know, I am just being 'organized' with my structure on my webserver. all the frontend stuff gets a url right off the hostname. All the backend stuff is nested in the /backend/ path.

Thanks

[2015-06-24 17:53] Hellowlol commented on #224
Fixed in the latest commit.

[2015-06-24 17:53] #224 closed, assigned to nobody

[2015-06-24 18:07] EZarnosky commented on #224
andI just finished editing my nginx settings... damn your fast

[2015-06-24 18:08] Hellowlol commented on #224
Yeah, but did it from my phone :P it was a easy fix. I did forgot about the test button, im gonna fix that now.

[2015-06-24 18:42] Hellowlol commented on #224
I cant see there is any wrong with the ping now, can you test it again please?

[2015-06-24 18:43] EZarnosky commented on #224
I think it was old data, sickrage is fine since I swithced it to the /tv. I will try switching to the /backend/tv shortly.

[2015-06-24 20:37] coach0742 commented on #19
@Hellowlol Crap, I completely forgot about this. It is absolutely something I still want. I know I could move over to another client like qbittorrent or transmission, but Deluge is still the only client that does everything I want it to.

I would like to take another stab at writing it myself, but I'm afraid I'm quite terrible at python and don't really know what I'm doing.

[2015-06-24 21:18] Hellowlol commented on #19
Then we are two :P

[2015-06-24 22:16] Hellowlol commented on #19
Let me know if you need any help. I'll work on deluge on on the dash

[2015-06-25 02:26] thejrose1984 commented on #223
Yes, that is the full debug log from a relatively fresh HTPC manager install. Plex was the only thing that was setup at the time. The issue appears to have fixed itself as no steps were taken.

[2015-06-25 02:26] #223 closed, assigned to nobody

[2015-06-25 16:17] kars85 opened #225 "Feature Request: Add Google Authenticator option"
Since many HTPC Manager installs are either directly accessible, or reverse proxied to the world, it'd be great if there was an option to protect logons with a two factor authentication mechanism.

Is it within the realm of the project to look into implementing something like Google Authenticator?

EDIT: Just want to say how awesome this project is and I don't want to detract from its core functio

[2015-06-25 16:46] Hellowlol commented on #225
No its not. If you want additional security you can add authentication to the reverse proxy :)

[2015-06-25 17:51] EZarnosky opened #226 "Addition of Lm_sensors option in Computer Stats setting"
It looks like Open Hardware Monitor is kinda dead, no real updates in quite some time. Added to this, it is a mono application... mono adds bloat to samll installs.

Any chance of adding Lm_sensors as a replacement/alternate option to OHM?

[2015-06-25 18:39] Hellowlol commented on #226
Tldr: no :)

Longer:
I think ohm is awesome. I don't know if there is a other program that does what it does, have a webserver and is available on as many platforms. Last update was 6 months ago, lm sensors had 1,5 years between the two latest releases.

I do see your point having to install mono, but I think that is a small price to pay. There several good programs to monitor/find hardware info f

[2015-06-25 18:46] EZarnosky commented on #226
You should get a Raspberry/Banana Pi. Makes a hell of a headless NZB/Torrent download server.

Mine does all the downloading and pushes it up to my NAS. :)

[2015-06-25 18:50] Hellowlol commented on #226
I have two. :p

[2015-06-25 19:00] Hellowlol commented on #225
Thanks for the kind words, but i cant take credit for that. HTPC Manager has been made the way it is by [serveral](https://github.com/Hellowlol/HTPC-Manager/graphs/contributors) individuals

[2015-06-25 19:03] EZarnosky opened #227 "Installing smartmontools on Raspberry/Banana Pi (Debian Wheezy)"
I thought I would share how to get the smartmontools installed on a Debian Wheezy since there are no guides out there. You would think it would be easy, but Debian Wheezy apt repo has version 5.41, HTPC Manager requires 5.42+.

After completely hosing my linux install trying to use the version on the Debian Jessie repo, I flashed the sd card from a backup and dug a little deeper into the backport

[2015-06-25 19:03] #227 closed, assigned to nobody

[2015-06-25 19:04] Hellowlol commented on #227
Awesome thanks! Would you mind adding that to the wiki?

[2015-06-25 19:06] EZarnosky commented on #227
sorry, i was being brain dead. yeah, gimme a couple minutes.

[2015-06-25 19:28] EZarnosky commented on #227
Wiki page added

[2015-06-25 19:29] Hellowlol commented on #227
ty

[2015-06-25 19:35] EZarnosky commented on #227
np, i figure I gotta create some good will. I plan to submit a fair number of feature requests once I get my new download station build stable.

[2015-06-25 19:37] EZarnosky opened #228 "Viewing logs"
Got a feature request. enable auto update at a selectable interval on the log - i hate hitting refresh.

Also can you add an option to select other logs, the logs from the install 'components'? it would be nice to have a one stop page for all the logs.

[2015-06-25 19:45] Hellowlol commented on #228
Im not sure i understand what you mean by "Also can you add an option to select other logs, the logs from the install 'components'? it would be nice to have a one stop page for all the logs."

Care to explain a little further?

[2015-06-25 19:46] Hellowlol commented on #227
Your +1 now atleast. :D

[2015-06-25 19:52] EZarnosky commented on #228
Provide a drop down that you can select Headphones logs, CouchPotato logs, SickRage logs, etc. Currently you need to open each app/component to veiw the logs

You should be able to dynamically read the location of the log files from the apps config.ini or conf file.

This way i do not have to open SickRage to see what is going on. I just select the SickRage log, set the refresh interval and I can

[2015-06-25 19:59] Hellowlol commented on #228
Ah, i can add the auto refresh, having all the logs at the same place are a no. If you want access to sickrage stuff you will have to use the sickrage module (the log is already there btw)

[2015-06-25 20:03] EZarnosky commented on #228
Ok, SickRage was a bad example - you got me there, there is a tab with the log :p

CouchPotato & Headphones (not sure about other apps, I haven't gottent that far yet) don't have a tab for logs.

[2015-06-25 20:07] Hellowlol commented on #228
HP is even worse, it isnt supported in the api :D

[2015-06-25 20:12] EZarnosky commented on #228
Yeah, I've had a lot of headaches getting Headphones to work right. You would think it is a simple app...

There is a line entry in the Headphones config.ini 'log_dir = ' you tell it the path and it creates a headphones.log in that folder.

[2015-06-25 20:20] Hellowlol commented on #228
I think it would be easy to add that to the api if they wanted to. Anyway cp has notfication today, i can replace that with the log?

[2015-06-25 20:28] EZarnosky commented on #228
Argh, CP does have 'history' which is the log. I guess I just like standardization of tabs/label (I know that can be difficult when you are adding support for so many different apps)

Honestly I'd love disable all notifications from the apps, instead have HTP Manager be the middleman and notify me via pushbullet (or some other service) when selected events occur.

[2015-06-25 20:30] Hellowlol commented on #228
Yeah, but the history is just the notification from cp. I could add a tab with the actual log.

[2015-06-25 20:33] EZarnosky commented on #228
I LOVE logs :D

I might not always understand them... but someone out there does :P

I still like the idea of a single log page with a option to select your desired long... but that is what forking is for... at this time I am just to lazy to do that (and my python programming sucks).

[2015-06-25 20:56] Hellowlol commented on #228
I get that, i welcome a pr :P Added logs to the api https://github.com/rembo10/headphones/pull/2253

[2015-06-25 21:53] EZarnosky commented on #228
Awesome!

[2015-06-26 09:34] Hellowlol commented on #228
My pr was merged. Ill add a log to hp.

[2015-06-26 16:24] stempleton opened #229 "Sonarr not updating"
Sonarr api settings are correct and I get a green check when testing but going to that section the page will not upload and just spins. I also can't search for anything.

[2015-06-26 16:29] Hellowlol commented on #229
Hi! Thanks for reporting this.

Can you read the issue guidelines and update your post?

[2015-06-26 16:53] stempleton commented on #229
Sure.

Branch: Master2
not sure where to find commit hash
Operating System: Windows 8.1, python v2.7
Browser: Chrome 43
When clicking on Sonarr section no information populates. It just sits there trying to load. Searching brings up no results either.
Log file: https://www.dropbox.com/s/s2k1k6yn879h3lg/htpcmanager-2.txt?dl=0

[2015-06-26 17:01] Hellowlol commented on #229
You have forgot to set a port mate. :)

[2015-06-26 17:03] stempleton commented on #229
That's so weird. It was showing 8989 in the Sonarr settings and I made no changes to make it stop working, but I just manually added the port again and it's now working...weird. Thanks for the help though!

[2015-06-26 17:21] #229 closed, assigned to nobody

[2015-06-26 17:22] Hellowlol commented on #229
I'm happy to help :)

[2015-06-26 17:23] Hellowlol commented on #201
https://github.com/Hellowlol/HTPC-Manager/issues/229#issuecomment-115756928

[2015-06-28 17:25] Hellowlol commented on #221
My assumption regarding hours was wrong. Hours.hour does not follow the same setup as the months, days. (Where id 0 always is current month/day and it includes the date in the json response.) instead it follows current hour. So say you download a huge file at 1700 hours that would have id 17 (or 16 depending on the "tick")

[2015-06-28 17:28] Hellowlol commented on #221
Nice setup btw ;)

[2015-06-28 18:40] Hellowlol commented on #19
@coach0742 I got time to work on this in a couple of weeks, if your aren't done by then I'll add upload torrent, pause/start all and change speed.

[2015-06-29 15:29] EZarnosky opened #230 "Warning message in HTPC Manager Log"
Error message:

<pre>
htpc.updater    WARNING error: The requested URL returned error: 403 while accessing https://github.com/Hellowlol/HTPC-Manager.git/info/refs
</pre>

When you visit https://github.com/Hellowlol/HTPC-Manager.git/info/refs you see the message:

<pre>
Please upgrade your git client.
GitHub.com no longer supports git over dumb-http: https://github.com/blog/809-git-dumb-http-transp

[2015-06-29 15:34] EZarnosky opened #231 "vnStat interface filter not working"
I have multiple interfaces on my linux system, bot really only want to see stats on one - eth0. In the interface box I have manually entered eth0m but I still see tunl0 (another interface) in the vnStat view

[2015-06-29 15:39] EZarnosky opened #232 "Dashboard Menu grouping"
it would be nice to build sub menus off the HTPC Manager menu bar to reduce clutter. Example menu item "Downloaders" could include "Transmission" & "NZBGet". Or "Media Systems" could include "Samsung TV", "Plex", "Kodi".

[2015-06-29 15:56] EZarnosky opened #233 "Sick* request - TV Show Tab Filtering"
Allow/enable filtering on the TV Shows tab.

Example Not Show/Show Status = Ended/Continuing.
Example Not Show/Show Network = NBC/CBS/etc. (Multi-select network)
Example Not Show/Show Quality = SD/720p/etc. (Multi-select quality)

[2015-06-29 15:57] EZarnosky opened #234 "Alternative to OHM for those running headless on linux"
I know I asked about this before (https://github.com/Hellowlol/HTPC-Manager/issues/226). But since then I have tried to get OHM working on my headless linux system, without any luck. Can you provide an alternative tool(s) for those of us running headless?

[2015-06-29 16:07] Hellowlol commented on #230
I don't see that in my log. Have you tried updating git?

[2015-06-29 16:09] EZarnosky commented on #230
I believe that was me trying to force an update. I'll try to recreate the error again.

[2015-06-29 16:35] Hellowlol commented on #230
Full log debug log please :)

[2015-06-29 16:41] EZarnosky commented on #230
i just spent about 20 minutes trying to recreate it, no such luck. Could there be a alternate update link that used if the primary is unreachable.

I will start up htpc in debug mode and leave it that way for the time being. should it occur again I'll have a detailed log for you.

[2015-06-29 16:41] #230 closed, assigned to nobody

[2015-06-29 17:05] Hellowlol commented on #234
I'll allow pretty much anything as long as I don't have to code it ;)

[2015-06-29 17:09] EZarnosky commented on #230
I just looked at my SickRage Logs... I was getting the same error

<pre>
CHECKVERSION :: git fetch origin returned : error: Couldn't resolve host 'github.com' while accessing https://github.com/SiCKRAGETV/SickRage.git/info/refs
</pre>

Looks like GitHub was having issues...

[2015-06-29 17:10] EZarnosky commented on #234
Lol, does that also include not coding the data scrapping? :P

[2015-06-29 17:12] Hellowlol commented on #231
This is intended. The interface is just for the speed nothing else, if you wish to filter more you can edit vnstat config.

[2015-06-29 17:16] Hellowlol commented on #234
Yes :D but I'll welcome a pr and I'll help if anybody wants to to start on this.

[2015-06-29 17:21] EZarnosky commented on #234
I'd love to - but, so many projects and most important - my python skill sucks!

I will keep my eyes open to see if there is any python source out there that might be a good foundation for the addition.

[2015-06-29 17:23] EZarnosky commented on #231
I'm all about clutter... I hate it in my interfaces :P

I'll look into filtering it out, then updating the wiki. might be a couple days, my TODO list is huge.

[2015-06-29 17:26] Hellowlol commented on #231
Np, I'm happy for all the help I can get

[2015-06-29 17:28] Hellowlol commented on #234
There you go: https://github.com/nima/python-dmidecode

[2015-06-29 17:33] Hellowlol commented on #232
I agree, my menu names are very short to prevent the menu from wrapping. I'm not sure how to solve this..

[2015-06-29 17:38] coach0742 commented on #221
/r/homeserver?

[2015-06-29 17:42] thatbritguy commented on #232
I've been thinking about this a lot whilst creating the themes and tinkering with the other UI elements.  Think I've come up with a solution but need a bit of time to play around and experiment with it to see if it works in practice.

[2015-06-29 17:47] Hellowlol commented on #221
Yeah.

[2015-06-29 18:16] EZarnosky commented on #232
Thats awesome. If you need testers, just let me know :)

[2015-06-29 20:09] Hellowlol commented on #221
Can you update verify that its fixed?

[2015-06-29 20:18] coach0742 commented on #221
Its still not fixed for me. I'll post a screenshot in a second. Now the graph starts on 5/31 and has today as the 7th.

[2015-06-29 20:26] Hellowlol commented on #221
Ok, its works fine here. Make sure you have cleared your browser cache. and go to http://ip:port/vnstat/dumpdb grab the output and post it on pastebin to i can recreate your problems with your data.

[2015-06-29 20:32] Hellowlol commented on #221
ah, fuck i can see that the tables are off, i havnt even checked them...charts are ok tho

[2015-06-30 16:31] Hellowlol commented on #228
I sent a pr to Mylar regarding logs, hopefully they will merge it

[2015-06-30 16:32] Hellowlol commented on #201
Closing this a placeholders are removed.

[2015-06-30 16:32] #201 closed, assigned to nobody

[2015-06-30 16:35] Hellowlol commented on #234
Or parse dmesg (does not req root)

Dunno if you can find anything usefull but here an example:

[code]

[2015-06-30 16:38] #207 closed, assigned to nobody

[2015-06-30 16:41] #78 closed

[2015-06-30 23:03] duramato opened #235 "Add vnstat on dashboard"
Could it be possible to add an option to add vnstat statistics to the dashboard?

[2015-06-30 23:13] Hellowlol commented on #235
whats stats are you interested in?

[2015-06-30 23:22] duramato commented on #235
@Hellowlol  Mainly the current speeds and the total transfer of the last hour , for the last week and last month .I also would like to see there the average tranfer rate (which currently isnt implemeted in htpcmanager afaik)

[2015-07-01 00:04] Hellowlol commented on #235
Ok. The dashboard is static so I don't know what you need the speed for, avg speed isn't returned with xml params. I have no interest in this feature or vnstat in general (made by request), so no I will not add this.

I welcome a pr tho, so if there are anybody out there, that know a little Python and jquery i'd be happy to help

[2015-07-01 13:56] kars85 opened #236 "Password Cleartext in Logs"
I'm running the latest master2 branch and was going through the logs to troubleshoot a separate issue with Deluge.

However, I noticed that the logs capture the password in clear text if the authentication to the WebUI failed.  Is this by design?

![2015-07-01_08-51-15](https://cloud.githubusercontent.com/assets/6616548/8456142/106bee9c-1fcf-11e5-9b9c-766caaea7877.jpg)

[2015-07-01 13:59] Hellowlol commented on #236
Yes, this is intended. I wanted to see what username and password a person attempted (check if any is trying to login to the site. typical used if htpc-manager is exposed to www)

In this case the username is masked too so i guess that is listed in one of the passwords fields. This only happens on failed attempts.

[2015-07-01 14:01] kars85 commented on #236
OK sounds good!  Thanks!

[2015-07-01 14:02] Hellowlol commented on #236
You can find the code here: https://github.com/Hellowlol/HTPC-Manager/blob/master2/libs/cherrypy/lib/auth2.py#L28

[2015-07-01 14:02] #236 closed, assigned to nobody

[2015-07-01 21:31] Hellowlol commented on #221
@coach0742 Im closing this as it should be fixed now. If you still having issues you need to http://ip:port/vnstat/dumpdb and save the response to a gist/pastebin

[2015-07-01 21:31] #221 closed, assigned to nobody

[2015-07-01 22:13] Hellowlol commented on #235
[code]

[2015-07-01 22:16] Hellowlol commented on #233
Btw, you know you can sort the table?

[2015-07-02 07:01] Hellowlol commented on #228
It was added to mylar aswell, ill add logs to mylar aswell

[2015-07-02 08:08] Hellowlol commented on #144
@raysguy @d2dyno, @thejrose1984, @GTunney, @brendann993 I was thinking about adding sort/filter to the plex module.

The idea is to reuse the search field:

So say you are on the movie page: and write 16 blocks, it will filter out everything else. I would like to add some more advanced stuff as well so. Say you want all movies with released in year 2000 you could write year: 2000

Would this be so

[2015-07-02 12:32] thejrose1984 commented on #144
Seems like a good concept to put into play when you have time :)

[2015-07-02 12:45] brendann993 commented on #144
great idea, definitely worth it when you have time(I know I would use it :) )

[2015-07-02 17:50] thatbritguy commented on #144
I think that would be quite a useful feature, especially for those with larger libraries.  Will the initial load limit of 50 items restrict the ability to search though?

[2015-07-02 19:39] Hellowlol commented on #144
No, actually everything is loaded at the same time. Its just the response that are reduced to 50:)

[2015-07-02 20:07] jarlave opened #237 "vnstat doesn't display graphs"
I enabled vnstat but it only shows the stats down in the table, no graphs above.
Here is the screenshot from the vnstat tab and the about page
![2015-07-02_21-38-09](https://cloud.githubusercontent.com/assets/3617501/8486627/30024b74-2106-11e5-9dbf-f448abc0e2b3.png)
![2015-07-02_21-59-44](https://cloud.githubusercontent.com/assets/3617501/8486682/9a185a12-2106-11e5-806a-f28efd870712.png)

My brows

[2015-07-02 20:11] thatbritguy commented on #144
Awesome :)

[2015-07-02 20:30] Hellowlol commented on #237
So where did you grab the dumpdb? Its in the wrong format. Can you grab it from your http://yourip:yourport/vnstat/dumpdb

what vnstat version do you have?

[2015-07-03 01:23] thejrose1984 opened #238 "FreeBSD init script?"
Any chance you can add a folder called `init` with the code that houses the init scripts available? Also, I'm working on a script for FreeBSD/FreeNAS and wondering if it can be added to your code once finished and tested?

[2015-07-03 01:29] Hellowlol commented on #238
can do. But can't you need when send the or regarding FreeBSD?

[2015-07-03 01:30] thejrose1984 commented on #238
But can't you need when send the or regarding FreeBSD???

[2015-07-03 02:17] thejrose1984 opened #239 "Enabling SSL crashes HTPC"
Enabled SSL with default options and restarted HTPC Manager. Now it won't connect at all.

Logs - http://pastebin.com/QpTsEKPX

[2015-07-03 02:21] thejrose1984 commented on #239
2015-07-02 22:23:47 :: root :: INFO :: Welcome to Hellowlol's HTPC Manager fork
2015-07-02 22:23:47 :: root :: INFO :: Loglevel set to debug
2015-07-02 22:23:47 :: htpc.updater :: DEBUG :: Selecting Update engine.
2015-07-02 22:23:47 :: htpc.updater :: DEBUG :: Checking if git is installed
2015-07-02 22:23:47 :: htpc.updater :: DEBUG :: Running git version
2015-07-02 22:23:47 :: htpc.updater :: DE

[2015-07-03 07:27] Hellowlol commented on #238
Haha. Sorry. Yes it can be added. Just make folder and move the init scripts  there when you add the Freebsd script.

[2015-07-03 08:00] jarlave commented on #237
http://pastebin.com/4w2LngPS

hope this is now the right dump.

now it seams to work but it shows the wrong dates
![2015-07-03_09-58-43](https://cloud.githubusercontent.com/assets/3617501/8494981/215a599a-216a-11e5-8b84-41b162513e99.png)

In germany it is now 10:00 am 03.07.2015

[2015-07-03 08:24] Hellowlol commented on #237
Can you force rehresh browser cache on that page? And see if it works?

[2015-07-03 09:09] Hellowlol commented on #239
Can you take a screenshot of the about page?

[2015-07-03 09:22] Hellowlol commented on #239
also can you take a screen shot of the the settings page (where you can see that path set for the certs/key) have you verified that the certs are valid?

[2015-07-03 11:36] jarlave commented on #237
nothing changed after force refresh

Tried it on Firefox and Opera (both portable) too, the same problem.

[2015-07-03 11:57] Hellowlol commented on #237
Ok, the problem is that there isn't enough data. I was under the impression that days returned 30 days with 0 in usage. It does not :(, Ill think i saw a config option about that, it it isnt ill just check how many dayes and feed it trash like we do with months

[2015-07-03 12:00] Hellowlol commented on #237
http://humdi.net/vnstat/man/vnstat.conf.html

TrafficlessDays
Log days without any traffic to daily list. 1 = enabled, 0 = disabled. (vnstat and vnstatd only)

[2015-07-03 12:02] #237 closed, assigned to nobody

[2015-07-03 12:06] Hellowlol commented on #237
Im gonna close this as you can fix this your self by using the link. Set TrafficlessDays to 1 in the config.

[2015-07-03 12:08] jarlave commented on #237
it is already enabled

[2015-07-03 12:11] Hellowlol commented on #237
What version do you use?

[2015-07-03 12:21] jarlave commented on #237
vnstat 1.11

[2015-07-03 12:23] Hellowlol commented on #237
Thats old. Try to update it and see if that option works then. If not make a issue on https://github.com/vergoh/vnstat. If it doesnt get fixed ill make a work around.

[2015-07-03 12:28] Hellowlol opened #240 "About page"
Current commit always return None.

[2015-07-03 12:36] Hellowlol commented on #237
Fuckit, it's a easy fix, I'll do it shortly.

[2015-07-03 12:49] Hellowlol commented on #237
@areon  Can you update, clear browser cache and try again?

[2015-07-03 13:16] jarlave commented on #237
Great!
now it look like this
![2015-07-03_15-15-33](https://cloud.githubusercontent.com/assets/3617501/8499775/707aa666-2196-11e5-823e-5fa5a3a17139.png)

is it normal for the month that it starts in August?

[2015-07-03 14:14] Hellowlol commented on #237
Yes. the graps is like this:
| last 12 months from current month | last 30 days from current day | last 24 hours from current hour

[2015-07-03 14:31] jarlave commented on #237
Ok, thanks for your help :)

[2015-07-03 14:35] Hellowlol commented on #237
Im happy to help!

[2015-07-03 23:52] Hellowlol commented on #144
@raysguy @d2dyno, @thejrose1984, @GTunney, @brendann993 can you test the lastest update?

You will search on what ever tab is open, so say your in the movie tab and search for 16 blocks, you will find it.

Examples:
year<=2000
genre=action
title=16 blocks
title=s&genre=action

[2015-07-04 02:46] thatbritguy commented on #144
Just downloaded the new version and restarted it but the search/filter functionality isn't working at all for me.  When I search it just performs a newznab search.  Tried disabling newznab but now when I try to search nothing happens

[2015-07-04 05:06] Hellowlol commented on #144
@raysguy. You cleared browser cache first?

[2015-07-04 12:58] brendann993 commented on #144
Thanks, It works pretty good, I haven't been able to get genre search to work. This is what appears in the log each search but nothing is actually displayed. (I do have movies which are action)

[code]

[2015-07-04 13:31] Hellowlol commented on #144
And you had the movies tab open? Can I have the full log please?

[2015-07-04 13:40] brendann993 commented on #144
Yea movie tab open
http://pastebin.com/VFcSrd1j
full log

[2015-07-04 20:00] thatbritguy commented on #144
Oops, I did not!

Tested it quite a bit on both Safari and Chrome and finding it works intermittently.  The first search is usually fine, but deleting the contents of the search box and typing a new search often doesn't work.  It works a bit more consistently if you prefix the search with "title=" and just delete the actual name.  The same thing happens with other types of search.  Seems to work b

[2015-07-04 21:21] Hellowlol commented on #144
So the latest update should not bork on genre=<empty> and genre=act (default to all results if genre is not correct), js response on keydown instead of input (you shouldnt have to search again).

Can you refresh and try again?

[2015-07-04 21:30] thejrose1984 commented on #144
Updated and cleared cache. Looking good @Hellowlol :)

[2015-07-04 21:31] thejrose1984 commented on #239
![2015-07-04 17_31_03-htpc manager](https://cloud.githubusercontent.com/assets/7573083/8509458/729acc0a-2272-11e5-9bab-06289c200ebe.png)

[2015-07-04 21:31] thejrose1984 commented on #239
Since I am running from FreeNAS, I was able to revert from snapshot since enabling SSL left my instance of HTPC-Manager crippled. The screenshot is the most recent build WITHOUT SSL

[2015-07-04 21:32] thejrose1984 commented on #239
As for the certs, I was under the impression leaving it blank would auto create self signed certs. Is this not the case?

[2015-07-04 21:41] Hellowlol commented on #239
Yes it does, but you also have to restart htpc manager.But it does require some extra modules. Can you check that the certs/key exist in the userdata folder? Also it would be usefulll with a full log as cert/key creation is logged.

[2015-07-04 21:43] thejrose1984 commented on #239
They were created in the userdata directory. Since it's working now, I'll essentially need to break it again in order to provide the logs assuming what I provided above isn't sufficient?

[2015-07-04 21:50] Hellowlol commented on #239
Yeah, just give me the log if you havnt wiped it :P, it you have you need to delete the cert and key in userdata, check use ssl, remove cert and key if they are present in the settings.

[2015-07-04 21:52] thejrose1984 commented on #239
Logs - http://pastebin.com/QpTsEKPX

[2015-07-04 21:56] Hellowlol opened #242 "Force refresh js, css after update."
Add a query parameter after update or add it to the general tab.

[2015-07-04 21:57] Hellowlol commented on #239
Is that the entire log? if it is you need to redo it. You need to restart htpc manager after you edit those settings.

[2015-07-04 22:06] #240 closed, assigned to nobody

[2015-07-04 22:10] thejrose1984 commented on #239
Then I'm going to have to break HTPC in order to give you want you're asking for, which is very annoying...

[2015-07-04 22:17] Hellowlol commented on #239
Dont delete the log next time then ;)

[2015-07-04 22:19] thejrose1984 commented on #239
Didn't have a choice...I HAD TO REVERT FROM SNAPSHOT. Enabling SSL broke the entire application. It was COMPLETELY unusable :)

[2015-07-05 18:00] thejrose1984 commented on #239
FYI - I copied my config to another folder and tried to enable SSL on a fresh config...same failures...

2015-07-05 13:57:22 :: root :: INFO :: Welcome to Hellowlol's HTPC Manager fork
2015-07-05 13:57:22 :: root :: INFO :: Loglevel set to info
2015-07-05 13:57:23 :: htpc.updater :: INFO :: Using GitUpdater engine
2015-07-05 13:57:23 :: apscheduler.scheduler :: INFO :: Added job "Updater.update_ne

[2015-07-05 18:23] thejrose1984 opened #243 "Cannot connect to Sonarr"
About a week or so ago, both HTPC-Manager and Sonarr came out with updates. Since then, neither one will connect. I have tried rebooting both HTPC-Manager and Sonarr as well as reset API key.

LOGS - http://pastebin.com/cTEW3nVS

[2015-07-05 19:58] Hellowlol commented on #243
Try removing the sonar basepath from htpc manager. Don't edit sonars own settings and try again.

[2015-07-05 20:50] #243 closed, assigned to nobody

[2015-07-05 21:10] Hellowlol commented on #239
Can you edit the db, and try to write the full path to the key and cert?

[2015-07-05 21:39] thejrose1984 commented on #243
Why is this closed? The issue persists?

[2015-07-05 21:41] thejrose1984 commented on #239
Or perhaps make the SSL process more visible in the WebGUI so that enabling doesn't cause the instance to not work without needing to perform recovery?

[2015-07-05 21:42] Hellowlol commented on #243
I recreated the bug, i get the same error if i enter a basepath. If i remove it, it works. (just remove it, seems like sonar api doesnt like it anymore)

[2015-07-05 21:44] thejrose1984 commented on #243
Removing the basepath does not fix the issue. It simply causes HTPC not to generate an error with the Sonarr plugin.

[2015-07-05 21:45] Hellowlol commented on #239
I cant make it anymore visable. A ssl error will fuckup cherrypy the second it starts. You dont need to do a recovery. Just shutdown htpc manager, edit the db then start it again.

[2015-07-05 21:46] Hellowlol commented on #243
logs?

[2015-07-05 21:50] thejrose1984 commented on #243
No change in logs

[2015-07-05 21:50] Hellowlol commented on #243
You can also verify with this script

[code]

[2015-07-05 21:51] Hellowlol commented on #243
[code]

[2015-07-05 22:18] thejrose1984 commented on #243
What kind of script is this? Python? Bash?

[2015-07-05 22:22] Hellowlol commented on #243
thats a python script.  (its the same a used in htpc manager). Just copy it and saved it to a test_sonarr.py

then call the script from your command line: python test_sonarr.py

[2015-07-05 22:25] thejrose1984 commented on #243
root@htpc:/usr/local/HTPC-Manager # python sonarrtest.py
Traceback (most recent call last):
  File "sonarrtest.py", line 1, in <module>
    import requests
ImportError: No module named requests

[2015-07-05 22:31] thejrose1984 commented on #243
Had to install py27-requests, but got the following output

root@htpc:/usr/local/HTPC-Manager # python sonarrtest.py
{u'error': u'Unauthorized'}

[2015-07-05 22:37] Hellowlol commented on #243
And you did edit the apikey?

[2015-07-05 22:37] thejrose1984 commented on #243
yes

[2015-07-05 22:37] thejrose1984 commented on #243
Replaced '123' with the API key in single quotes

[2015-07-05 22:39] thejrose1984 commented on #243
I even got the API from Sonarr directly to confirm

[2015-07-05 23:10] Hellowlol commented on #243
Have you made a new apikey without restarting? I cant find any issues here, if sonarr for some reason returns Unauthorized while your using a correct url and correct key there isnt anyhing i can do about it.

[2015-07-06 21:47] #242 closed, assigned to nobody

[2015-07-06 21:50] Hellowlol commented on #243
@thejrose1984 did you get it working?

[2015-07-06 23:14] thejrose1984 commented on #243
No...

[2015-07-06 23:18] Hellowlol commented on #243
and you did restart sonarr after you got a new api key? I would have posted on their forum, it might be some issues since you running mono. Can other programs you there api?

[2015-07-06 23:21] thejrose1984 commented on #243
Did it all...with the exception of trying from a blank instance...

[2015-07-06 23:56] Hellowlol commented on #243
What do you mean by blank instance?

[2015-07-07 01:33] thejrose1984 commented on #243
Move userdata out or rename so HTPC thinks nothing is configured

[2015-07-07 06:20] Hellowlol commented on #243
last thing you can check is sonars config.xml to check the api key. If that is correct you need to make issue/forum post on sonarr. Htpc m is working as it should.

[2015-07-09 00:19] thejrose1984 commented on #239
Tried that by doing the following:

`cd /usr/local/HTPC-Manager/userdata`
`sqlite3 database.db`

Attempts to edit the database results in erasing everything and needing to revert the jail from FreeNAS snapshot

[2015-07-09 00:24] thejrose1984 commented on #146
Also perhaps have shows be listed alpabetically the way it does in SR (e.g. The Big Bang Theory will be sorted under B, not T)

[2015-07-09 05:59] Hellowlol commented on #146
I can do that

[2015-07-09 07:29] Hellowlol commented on #239
Lol

[2015-07-09 12:27] thejrose1984 commented on #239
-_-

[2015-07-09 12:28] thejrose1984 commented on #146
And showing shows sorted A-Z by default as opposed to Z-A?

[2015-07-09 12:37] Hellowlol commented on #146
Isn't it sorted from A to Z today? I was sure it was. Anyway I'm working on some filter stuff.

[2015-07-09 16:26] l-t-k opened #244 "Newznab issue if provider ignores o=json"
First, a lot of hard seem to been done since I was here for the last time. Great work! :D. I'm trying to add my local spotweb installation as a newznab search provider, but it fails. No results show up and the log can be found at the end of this post. I use spotweb as a newznab provider successfully with couch, sick and headphones. I think it needs http:// to connect, but when I enter this informa

[2015-07-09 16:33] Hellowlol commented on #244
Does spot web have identical api as newznab? Can you take a screenshot of the about page, newznab settings page (mask your apikey) and provide a full log with loglevel debug?

Edit: thanks!

[2015-07-09 21:50] l-t-k commented on #244
Not sure, if it's identical. Dropped that question on the spotweb github page. I think yes, because under couch, HP and sickrage/sickbeard I just add a custom newznab server to use spotweb.
Screen:
![1](https://cloud.githubusercontent.com/assets/3150962/8607641/be35d8f0-2694-11e5-97bb-ba7c87e51148.jpg)

I think this is the issue: (can't find any more related logs on debug level):
`Unable to fetch

[2015-07-09 21:59] Hellowlol commented on #244
Okei, so it fails when it tries to get indexer categories. You should change your apikey btw, you forgot to remove it from the log :P

[2015-07-09 22:01] Hellowlol commented on #244
if you go to http://localhost/spotweb/api?o=json&apikey=LOLREMOVED&t=caps manually do you get a response at all? and if you do can you post it?

[2015-07-09 22:27] l-t-k commented on #244
Lol, how stupid...

Spotweb is using same api:
https://github.com/spotweb/spotweb/issues/80#issuecomment-120162611

Response:
![1](https://cloud.githubusercontent.com/assets/3150962/8608344/5fbeb3f4-269a-11e5-9f0c-fa8963afb5ee.jpg)

[2015-07-09 22:30] Hellowlol commented on #244
Well they might have but that response isnt json...

[2015-07-09 22:39] Hellowlol commented on #244
@kooimens can you update and try again?

[2015-07-09 22:52] madclicker commented on #244
Same as the free newznab and nezbd servers.

On 07/09/2015 06:39 PM, Hellowlol wrote:

[2015-07-09 22:55] Hellowlol commented on #244
They dont support json? well isnt really a problems, it 's just annoying. You cant say that the api is the same if you dont support the output :P

[2015-07-09 23:00] l-t-k commented on #244
Nothing changed. I use log-level debug, but I see a small amount of information in my logs. The error:
`cherrypy.error.3050752876  ERROR   [10/Jul/2015:00:56:25] HTTP Traceback (most recent call last):`

[2015-07-09 23:06] Hellowlol commented on #244
Delete your log and try again and give me the full log please. It should at the very least give some other more info...

Also take the content of http://localhost/spotweb/api?o=json&apikey=LOLREMOVED&t=caps and dump it in a pastebin (remember to remove your key this time :P)

[2015-07-09 23:23] l-t-k commented on #244
Log output:
http://pastebin.com/zRKFqnFd

[2015-07-09 23:27] l-t-k commented on #244
XML output:
http://pastebin.com/4V4kCUXn

[2015-07-10 00:53] thejrose1984 commented on #244
So does this mean HTPC's newznab module isn't compatible with nZEDb?

[2015-07-10 05:53] Hellowlol commented on #244
If nzedb don't support Json and /or has a different api yes.

[2015-07-10 15:08] Sweepr commented on #244
Read this: https://github.com/lad1337/XDM/issues/83

[2015-07-10 16:10] madclicker commented on #244
I don't know about spotweb, but nZEDb and the free version of newznab
return the caps in XML only. The searches still support json. This is on
of the things I fixed first. You can take it from PyTunes if you want.

On 07/10/2015 11:08 AM, Sweepr wrote:

[2015-07-10 16:20] Hellowlol commented on #244
@Sweepr thanks for the link.I have already found that one and it's easy to work around. But I do think it should be fixed in spotweb instead of every other app that uses the api.

[2015-07-10 16:22] Hellowlol commented on #244
@madclicker cheers

[2015-07-10 17:38] Sweepr commented on #244
http://spotweburl/api?t=search&q=Linux&apikey=APIKEY&o=json

Removed the t=caps, now i do get Json?

[2015-07-10 18:02] Sweepr commented on #244
Tested this API string on nZEDb aswell and above string without "'t=caps" outputs Json, but as soon as i add the t=caps i get XML again,

[2015-07-10 18:21] thejrose1984 commented on #239
I'm stumped here because anything I've tried causes HTPC to crash and not having SSL seems bad because I wouldn't be able to access remotely

[2015-07-10 18:37] Hellowlol commented on #239
Did you try to write the full path to the certs/key as a suggested? Is OpenSSL and pyopenssl installed? You can use s reverse proxy that handles Ssl for you

[2015-07-10 18:39] Hellowlol commented on #244
That just confirms what madclicker said :)

[2015-07-10 18:47] Sweepr commented on #244
Yes, i wanted to check this for myself, making 100% sure

[2015-07-10 19:44] thejrose1984 commented on #239
You asked me to do that in the database directly and when I tried the database got erased...

[2015-07-10 21:28] madclicker commented on #244
I wouldn't lead you girls astray.

On 07/10/2015 02:47 PM, Sweepr wrote:

[2015-07-11 05:08] Hellowlol commented on #239
Reinstall and try again.

[2015-07-11 08:23] Hellowlol commented on #244
Haha, thanks. I just tried to fix this and ended up with dog disabling the api. I'll give it another go when the kids are in bed
I this need to check that there xml response and spotweb have the same markup and add some error handling

[2015-07-11 08:38] Hellowlol commented on #239
@thejrose1984 can you check what version of cherrypy your running? I see that you are installing cherrypy in your wiki and there is a bug regarding ssl that is in the version between this one and 3.7. The easiest way to check is pro play just to check one of the responses from htpc manager in firebug or your browsers dev tools.

[2015-07-11 10:06] #244 closed, assigned to nobody

[2015-07-11 10:07] Hellowlol commented on #244
Should be fixed in the lastest commit

[2015-07-11 12:28] thejrose1984 commented on #239
py27-cherrypy-3.2.6 and that is the latest FreeNAS has in its repository

ran the following instead - `pip install cherrypy --upgrade` - and now running 3.8.0

[2015-07-11 12:36] Hellowlol commented on #239
Ok. well that might be the reason why you didn't get it to work. Uninstall cherrypy so it defaults to version I have included in the source code.

I found this comment on stackoverflow:

There was a change in version 3.2.5 that broke SSL support. This hasn't been fixed yet (as of version 3.6.0), but there is a patch suggested in issue 1298 if you need to use one of these versions.

[2015-07-11 12:43] thejrose1984 commented on #239
Won't run at all now and this is the output:

Traceback (most recent call last):
  File "Htpc.py", line 254, in <module>
    main()
  File "Htpc.py", line 241, in main
    load_modules()
  File "Htpc.py", line 68, in load_modules
    from modules.couchpotato import Couchpotato
  File "/usr/local/HTPC-Manager/modules/couchpotato.py", line 6, in <module>
    import requests
  File "/usr/local/HTPC-M

[2015-07-11 12:46] Hellowlol commented on #239
Have you uninstalled OpenSSL? Is this 3.8 or the one included?

[2015-07-11 12:47] thejrose1984 commented on #239
Yes and trying a reinstall of all HTPC requirements now...

[2015-07-11 12:48] Hellowlol commented on #239
Remember to uninstall cherrypy, it might work but it's not tested.

[2015-07-11 12:54] Hellowlol commented on #239
Psutil needs to be the latest version btw. I forgot to update the requirements.txt when they changed there api

[2015-07-11 12:55] thejrose1984 commented on #239
Tried a fresh install of required programs and it doesn't work at all...

[2015-07-11 12:55] thejrose1984 commented on #239
Reverting from snapshot

[2015-07-11 13:00] thejrose1984 commented on #239
Reverted to a "working" instance and ran the following:
`pip install --upgrade pip`
`pip install cherrypy --upgrade`
`pip install psutil --upgrade`

`root@htpc:/usr/local/HTPC-Manager # pip list`
`-sqlite3 (0.0.0)` This was installed through FreeNAS/FreeBSD pkg as py27-sqlite3
`cffi (1.1.2)`
`Cheetah (2.4.4)`
`CherryPy (3.8.0)`
`cryptography (0.9.1)`
`enum34 (1.0.4)`
`FormEncode (1.2.6)`
`idna (2.

[2015-07-11 13:10] thejrose1984 commented on #244
Nope, at least not for nZEDb - still shows caps at the end

[2015-07-11 13:21] Hellowlol commented on #239
I'll have to check what pyopenssl I have installed. Uninstall cherrypy please. So it uses the one included in the source files

[2015-07-11 13:24] thejrose1984 commented on #239
`pip uninstall CherryPy` ran

[2015-07-11 13:48] Hellowlol commented on #239
So does it work now?

[2015-07-11 13:50] Hellowlol commented on #244
@thejrose1984 caps where? Log please.

[2015-07-11 13:51] Hellowlol commented on #244
@kooimens can you confirm that this works now?

[2015-07-11 14:12] Hellowlol commented on #233
I'm a bit pressed for time so it might take some day until this is done.
In short pretty much every table in htpc manager will be filter/searchable.

I'm done with sickrage and sonarr. I'm sure there many bugs regarding this so I'll just push it when the worst are fixed and we have to fix other issues as they come

[2015-07-11 14:14] Hellowlol commented on #146
@thejrose1984 the sorting is fixed in a branch in working on.

[2015-07-11 15:54] thejrose1984 commented on #239
Does.Not.Work.

[2015-07-11 15:54] thejrose1984 commented on #239
2015-07-11 11:53:48 :: cherrypy.error :: ERROR :: [11/Jul/2015:11:53:48] ENGINE                                                                                                                                                              Error in HTTPServer.tick
Traceback (most recent call last):
  File "/usr/local/HTPC-Manager/libs/cherrypy/wsgiserver/wsgiserver2.py", line 1

[2015-07-11 15:56] thejrose1984 commented on #239
It's the same error since the beginning. There has been absolutely no change no matter what I have done regardless of the changes to software installed and/or upgraded.

[2015-07-11 15:57] l-t-k commented on #244
Although the categories do show up and are correct I can't find anything. Log:
http://pastebin.com/tPfsV7VP

This:
![1](https://cloud.githubusercontent.com/assets/3150962/8634374/a9b6d1c8-27f6-11e5-9a2b-68aff2457112.jpg)

[2015-07-11 16:00] thejrose1984 commented on #244
As of now, the log is massive and cannot send to you. If I send you partial logs, you tell me you cannot help. So the only viable alternative is you tell me SPECIFICALLY what you're looking for in the log.
http://pastebin.com/55Ys1j6L

[2015-07-11 16:07] Hellowlol commented on #244
@thejrose1984 sure your settings is ok? That url looks fucked up.

[2015-07-11 16:08] thejrose1984 commented on #244
If you're referring to the API key, I purposely put astericks since the log exposes the API key whereas other apps have their keys concealed in the logs...

[2015-07-11 16:08] Hellowlol commented on #244
@kooimens can you try to search the spotweb app manually? Do they return json or xml?

[2015-07-11 16:11] thejrose1984 commented on #244
As for my settings...
![2015-07-11 12_10_30-htpc manager](https://cloud.githubusercontent.com/assets/7573083/8634422/e3d43fa2-27c5-11e5-9473-8271a8686273.png)

I removed the API key before making the screenshot...

[2015-07-11 16:14] Hellowlol commented on #244
Well there isn't a extension to the URL? Is that something you have removed? Also I don't think apio=json is a valid parameter

[2015-07-11 16:15] thejrose1984 commented on #244
That isn't something I control though, that's HTPC as far as I can see...especially since I showed you what I have entered into the settings page

[2015-07-11 16:17] Hellowlol commented on #244
so what the URL to the server then? Nzb-app? Really?

[2015-07-11 16:18] thejrose1984 commented on #244
http://nzedb-app

Which is clearly showed in my screenshot...

[2015-07-11 16:19] Hellowlol commented on #244
So this is self hosted? Tried writing the ip to computer?

[2015-07-11 16:22] thejrose1984 commented on #244
Yes it is self-hosted and tried using the resolved IP address just now and it is the same result...and if you look at the screenshots for spotweb above you'll notice that is self hosted as well...the issue is with self hosted indexers from what I can see in this issue, the logs presented, and troubleshooting done. Using hosted indexers such as usenet-crawler and 6box do not have this issue

[2015-07-11 16:25] EZarnosky commented on #233
That sounds great. Thanks for giving attention to te features I keep pingign you with.

i fully understand about being pressed for time. I have been doing an 84 hour work week for the last 2 weeks and another 2 weeks to go... I hate site migrations, but I hate multisite migrations more.

[2015-07-11 16:27] Hellowlol commented on #244
Wipe the log and search again. Post that log after you have removed the api key. The log lines you give me should be impossible there is missing a ?

[2015-07-11 16:28] thejrose1984 commented on #244
I also tested without nZEDb and the other indexers (usenet-crawler, 6box, and oznzb) work fine.

[2015-07-11 16:31] thejrose1984 commented on #244
http://pastebin.com/aG604F5i
![2015-07-11 12_34_36-](https://cloud.githubusercontent.com/assets/7573083/8634512/3bad4072-27c9-11e5-9c1a-41505114241c.png)

[2015-07-11 16:48] l-t-k commented on #244
@Hellowlol I have no idea how to check tbh. Maybe, @Sweepr can you confirm a manual search on the spotweb app is json or xml output?

[2015-07-11 17:08] Hellowlol commented on #244
@thejrose1984 they can't be all in the log. Cmon I forgotten my magic bowl at home please help me. Thank you for giving me a heads up regarding apikey in log. As they are in a different table in the dnb they aren't included.

[2015-07-11 17:14] Hellowlol commented on #244
@kooimens http://ip/api?o=json&apikey=123&t=search&q=Terminator&extended=1

[2015-07-11 17:23] thejrose1984 commented on #244
@Hellowlol I can't help you if you don't tell me exactly what I'm supposed to look for. I'm not a developer, I'm a system administrator. I can provide logs, change software, provide system information, but if your application has errors and simply tell me "provide logs" that's like telling me "I want to be President of the Earth"

It's all well and good, but it does nothing to help me help you fig

[2015-07-11 17:29] thejrose1984 commented on #244
Also...looked again and seems all API keys are exposed in the logs from the newznab module...which makes sense because if nZEDb's API is exposed, why wouldn't the others...

This needs to be fixed

[2015-07-11 17:42] l-t-k commented on #244
json?
http://pastebin.com/gu4zmL9T

[2015-07-11 19:02] Hellowlol commented on #244
@thejrose1984 your not suppose to look for anything, i will look for it. I can't tell want to look for because I'm not sure myself. I do know your giving me snippets where it's logged as error which in this case don't don't help me at all. I need the entire thing with info, debug and the shit. Just use a search and replace function from a editor to remove your api keys.

Use the download log butto

[2015-07-11 20:25] Hellowlol commented on #244
@kooimens Can do do it again so we get the xml response (search on the same thing as last time. ) http://ip/api?o=xml&apikey=123&t=search&q=Terminator&extended=1

[2015-07-12 11:51] thejrose1984 commented on #244
API keys hidden in log, but results seemed to be the same even though I can clearly see the URL format has changed.
http://pastebin.com/Re3mgyQz

[2015-07-12 11:57] Hellowlol commented on #244
The URL hasn't changed I haven't touched them at all. Dunno what happen with the other log. Can you manually type in the same URL as htpc manager tries in the browser and check what response you get there? Copy the output to a pastebin. Also try switching back to ip of the computer (as the URL is correct now)

[2015-07-12 12:07] thejrose1984 commented on #244
Using IP address - http://pastebin.com/kicAWpTW
Using hostname - http://pastebin.com/X0x9vzhU

Far as I can see there is NO difference whether I use the hostname or IP address...
In fact, I did a test to confirm that it does not matter if I use IP address or resolved hostname on ANY module within HTPC Manager...

[2015-07-12 12:23] Hellowlol commented on #244
Good, but the log revealed the reason. Nzedb returns the same shit as spotweb (but with extra info) I tried to add a work around that that but I didn't include nzedb

[2015-07-12 12:39] Hellowlol commented on #244
So in short spotweb and nzbed will be unsupported until the fix there api or if any want to changes mine to use xml. (Read never)

[2015-07-12 12:57] Hellowlol commented on #244
@madclicker is there a paid version of nzbed?

[2015-07-12 13:43] thejrose1984 commented on #244
@Hellowlol from the screenshot I gave you it looks like nZEDb supports JSON and XML so I don't understand your previous comment...

[2015-07-12 14:22] Hellowlol commented on #244
Yes, they mostly do but there json response isn't the same even if the api is the same... Can you search on the same thing and with o=xml and dump that to a pastebin?

I'll check if there xml response is the same, it it is I'll set a half hour to work on it.

Read the api: it states the search results should be a list of items. I don't think this will work.

[2015-07-12 15:23] thejrose1984 commented on #239
Not sure if it's related but HTPC runs A LOT slower since removing cherrypy...

[2015-07-12 15:26] Hellowlol commented on #239
So install it again. Just known it's untested and your might be encountering bugs :) it should be easy to revert anyway.

[2015-07-12 15:43] thejrose1984 commented on #239
Much better...now I need to figure out why images aren't being pulled from CP...

[2015-07-12 20:41] Hellowlol opened #245 "misc stuff"
fix wrong comments like 24 h disable cache
sonar view add Downloaded to green make quality pretty, naming is HD-720p and HDTV-720p
newnab: default to pubdate if age is missing
dockerfile: correct psutil version

[2015-07-12 20:45] thatbritguy commented on #245
Just FYI I’ve prettified and corrected quality labels as part of the theming :)

[2015-07-12 20:50] Hellowlol commented on #245
Thanks!

[2015-07-12 21:58] Hellowlol commented on #233
@EZarnosky @raysguy Would you mind testing the latest update and let me know if there are are errors regarding sorting? (im sure there are shitloads :P)

[2015-07-12 22:56] blindpet opened #246 "sqlite erro"
Updating to systemd scripts and getting this error

`select, keepConnection=False)
 File "/opt/HTPCManager/libs/sqlobject/dbconnection.py", line 717, in __init__
self.dbconn._executeRetry(self.rawconn, self.cursor, self.query)
File "/opt/HTPCManager/libs/sqlobject/sqlite/sqliteconnection.py", line 210, in _executeRetry
etry
raise OperationalError(ErrorMessage(e))
sqlobject.dberrors.OperationalErro

[2015-07-12 23:29] Hellowlol commented on #246
That table should exist. Is this a old db that you have used with styxit version. Tried with a clean install. Fair warning I know nothing about init/system scripts. That table is created the same way as the other :(

[2015-07-13 00:01] f-society commented on #246
I am getting the same error :( I can't get it to work! But I can use styxit version...

[2015-07-13 00:04] blindpet commented on #246
I am using a fresh install and have only used your repo. The systemd script I'm using looks like this

[code]

[2015-07-13 00:22] blindpet commented on #246
When I run it manually it's the same issue

`Traceback (most recent call last):
  File "Htpc.py", line 254, in <module>
    main()
  File "Htpc.py", line 166, in main
    htpc.settings = Settings()
  File "/opt/HTPCManager/htpc/settings.py", line 31, in __init__
    self.updatebl()
  File "/opt/HTPCManager/htpc/settings.py", line 77, in updatebl
    for ii in nab:
  File "/opt/HTPCManager/libs/sql

[2015-07-13 00:24] Hellowlol commented on #246
@f-society have you been using my fork successfully in the past? @blindpet was this working before? Or did it fail on a clean install?

I have a sneaking fealing that it might be related to my fix for nzb apikey in the log..

[2015-07-13 00:25] f-society commented on #246
I had it running on Ubuntu Server just fine then switched it over to Windows 8.1 64bit

[2015-07-13 00:26] blindpet commented on #246
I have only ever used your repo for testing and always use a clean install.

I have never seen this error before and no users have mentioned it in my comments section.

Not sure how old that commit you made is that you suspect but hope you can fix it soon :)

[2015-07-13 00:37] Hellowlol commented on #246
@blindpet can you clone and test again? I hope I didn't break anything, I'm out walking the dog. If this doesn't do it I don't have time until tomorrow.

[2015-07-13 00:43] Hellowlol commented on #246
Ah crap, it will not work.. Wrong class lol. Tomorrow then, in the mean time you can create the table your self :)

[2015-07-13 00:52] Hellowlol commented on #246
Ok, its works now, its more hackish then id like but it will have to do for now. Im off to bed

[2015-07-13 00:52] #246 closed, assigned to nobody

[2015-07-13 01:08] Hellowlol commented on #246
@blindpet @f-society can you confirm that it works now?

[2015-07-13 01:08] f-society commented on #246
It is working beautifully now! Thanks

[2015-07-13 01:10] Hellowlol commented on #246
Np, if you break it you fix it :P

[2015-07-13 01:11] blindpet commented on #246
confirmed working here too, thanks

[2015-07-13 13:57] fma965 opened #247 "CDN Checkbox - all JS breaks - cant disable it after"
Enable CDN checkbox doesn't uncheck once checked and when checked all hell breaks loose and all JS stops working, basically making it impossible to revert the change. all menu links go etc.

[2015-07-13 14:01] thatbritguy commented on #247
What setup are you running HTPC on and which branch are you using?

The CDN option works flawlessly here.  Can be enabled or disabled without any ill effects.

[2015-07-13 14:03] fma965 commented on #247
Master2
http://remote.cyanlabs.net/htpc (reverse proxy via nginx)
Windows Server 2012 R2

[2015-07-13 14:06] fma965 commented on #247
Can i manually disable the CDN value? I tried with SQLite browser but it didn't disable it.

[2015-07-13 14:06] Hellowlol commented on #247
Does it work directly without the reverse proxy? (just test that it hasn't cached something)

[2015-07-13 14:07] Hellowlol commented on #247
Yes you can edit it manually.

[2015-07-13 14:07] thatbritguy commented on #247
If you can copy the logfile contents and dump them onto pastebin I’m sure @Hellowlol will be able to figure out the problem for you.

[2015-07-13 14:10] fma965 commented on #247
HellowLol how do i edit it manually? editing the database didn't work.

Getting logs

[2015-07-13 14:15] fma965 commented on #247
not much to show... http://pastie.org/private/sybhv8c9mcgpobg5lgkwng

[2015-07-13 14:17] Hellowlol commented on #247
I use a program used sqlite browser set key to 0

[2015-07-13 14:20] fma965 commented on #247
Yeah changing that to 0 worked, everything has come back now.

Here look, http://remote.cyanlabs.net/htpc - username: test / password: test123

then once you seen it all working, let me know and i will renable CDN and restart my windows service then you can see everything is broken.

[2015-07-13 14:26] fma965 commented on #247
just realised i should enable debug logging, didn't notice. Let me know if/when your done seeing it for yourself then i will enable debug and get a log if you want.

[2015-07-13 14:27] Hellowlol commented on #247
The cnd option will be broken until I have fix it. Leave it disabled for now, I'll ping you when it's fixed.

[2015-07-13 14:28] fma965 commented on #247
OK no worries, i'm ok with it not working for now, I code stuff myself but not python so i know how annoying bugs are when not reported :).

I've been thinking this has been related to my reverse proxy for ages but then finally noticed it was the CDN option and am relieved as it makes my life easier :)

[2015-07-13 14:44] fma965 opened #248 "Various ideas"
I currently have 1 custom link for ArgusTV and i was thinking it would be cool to make it load in a iframe inside the "content" area of HTPC Manager interface like where sonarr etc shows it's content this way it can keep the navigation bar at the top of the page.

I think AJAX would have issues so iframe seems best.

I would make it my self but i really don't know python, any hints or tips on wher

[2015-07-13 15:47] Hellowlol commented on #248
1. And add a function inside the root.py file that returns the HTML add a parameter that so the href can be set as source on page load. You would also need to make a function that prevent that page from opened and that calls the function inside root.py. Does this make sense? I can post some code for you later. This I frame thing should be a option and off by default.  https://github.com/Hellowlol/

[2015-07-13 17:17] Hellowlol commented on #247
http://cdnjs.com/libraries/jquery.tablesorter
Remove tablesorter from js folder should only be in libs

[2015-07-13 19:43] Hellowlol commented on #247
@raysguy @Fma965 Can any confirm that it works now? (with cnd option enabled)

[2015-07-13 20:44] fma965 opened #249 "TV Headend gives me a 500 internal server error"
2015-07-13 21:34:01 :: root :: INFO :: Welcome to Hellowlol's HTPC Manager fork
2015-07-13 21:34:01 :: root :: INFO :: Loglevel set to info
2015-07-13 21:34:01 :: htpc.updater :: INFO :: Using GitUpdater engine
2015-07-13 21:34:01 :: apscheduler.scheduler :: INFO :: Added job "Updater.update_needed" to job store "default"
2015-07-13 21:34:01 :: modules.kodi :: INFO :: Selecting kodi server: 1
2015

[2015-07-13 20:48] fma965 commented on #249
Oh yeah TVHeadend is 3.9.2827~g477feab~trusty

[2015-07-13 21:34] fma965 commented on #247
hi i can check for you, give me 5mins

[2015-07-13 21:37] fma965 commented on #247
Hi yes it's working now :)

[2015-07-13 21:45] Hellowlol commented on #248
@Fma965 Its up to you to finish this one: https://github.com/Hellowlol/HTPC-Manager/tree/iframe ;) just (css work and deleting one print statement)

[2015-07-13 21:50] Hellowlol commented on #249
Fixed or atleast that bug is fixed. I dont have a tvhead box so i have no idea if this module works or not.

[2015-07-13 21:50] #249 closed, assigned to nobody

[2015-07-13 21:51] Hellowlol commented on #248
@kooimens Is the iframe thing something your still interested in?

[2015-07-13 21:51] Hellowlol commented on #247
Thank you for confirming that.

[2015-07-13 21:51] #247 closed, assigned to nobody

[2015-07-13 22:04] l-t-k commented on #248
Thanks for the ping! Tbh, yes. I would like to load Owncloud within HTPCManager, so iframes would be great!

[2015-07-13 22:06] Hellowlol commented on #248
Maybe you wanna checkout the iframe branch and see if that was what you had in mind.
Remember to active it in the general tab as its off by default (since i dont like i frames)

[2015-07-13 22:12] l-t-k commented on #244
@Hellowlol In case you still need the xml response:
http://pastebin.com/RJ8cVpWb

[2015-07-13 22:13] l-t-k commented on #248
Nice, I will give it a try tomorrow.

[2015-07-13 22:15] Hellowlol commented on #244
I did, thanks!
@thejrose1984 can i have the xml results from a search on nZEDb aswell?

[2015-07-14 16:18] fma965 commented on #249
Still doens't seem to be working, will double check git version and get you a log.

[2015-07-14 16:21] fma965 commented on #249
Oh nevermind i just git pulled and then restarted HTPC Manager now it's working :)

[2015-07-14 16:24] fma965 commented on #248
I'll get the HTML/CSS sorted for iframe branch then PR you the changes.

[2015-07-14 16:33] fma965 commented on #248
Not to be a pain but can any 1 give me a simple "how to make PR's" step by step, starting from cloning your repo/branch. if not i will try and figure it out

[2015-07-14 16:52] Hellowlol commented on #249
Can you take a screenshot of that module? I have never seen it before :p

[2015-07-14 17:09] fma965 commented on #248
![image](https://cloud.githubusercontent.com/assets/1707290/8679606/7a2fe62e-2a53-11e5-97b6-a763e6a0de77.png)

[2015-07-14 17:20] fma965 commented on #249
doesn't really show much but basically just shows recordings
![image](https://cloud.githubusercontent.com/assets/1707290/8679817/f294bc42-2a54-11e5-8f01-75da6970a2c4.png)

[2015-07-14 17:30] fma965 commented on #248
Iframe PR Request https://github.com/Hellowlol/HTPC-Manager/pull/250

[2015-07-14 17:40] Hellowlol commented on #248
@kooimens what you think about the screenshot?

[2015-07-14 17:47] Hellowlol commented on #248
Btw I liked that the search field on your site always was available even in mobile view. I'll have to do that or move the search field to the top.

[2015-07-14 18:07] fma965 commented on #248
Stupid question but what does the search even do on HTPC Manager? also i'll work on the other things suggested in the first post shortly

[2015-07-14 18:13] Hellowlol commented on #248
It depends on what module your in from the dashboard you will search your newznab indexers, from the torrent page it will search for torrents, in xbmc, plex, sr, qbittorrent module it will filter current window. So say you have 1000 movies and don't want to scroll down to x you can just start typing the movie name.

[2015-07-14 18:18] fma965 opened #252 "TVHeadend not showing recordings"
https://github.com/Hellowlol/HTPC-Manager/issues/249

2015-07-14 19:15:34 :: htpc.updater :: DEBUG :: Running git rev-parse --abbrev-ref HEAD
2015-07-14 19:15:34 :: htpc.updater :: DEBUG :: Running git ls-remote --heads https://github.com/Hellowlol/HTPC-Manager.git
2015-07-14 19:15:34 :: modules.plex :: DEBUG :: Getting servers from Plex
2015-07-14 19:15:34 :: modules.plex :: INFO :: Sending disco

[2015-07-14 18:19] fma965 commented on #248
Ahh that explains it, i don't use usenet so haven't actually been able to test it on dashboard and never thought to try it on other pages.

[2015-07-14 18:40] Hellowlol commented on #252
It returns a unknown http code. Can you call the URL manually? What happens? Take a screenshot of the about page? Can I have the hole log with loglevel debug?

[2015-07-14 20:14] fma965 commented on #252
Hi the TVHeadend settings are 192.168.1.251 and port 9981 and when i  go to that manually i get the TVHeadend Web Interface
HTPC About
![image](https://cloud.githubusercontent.com/assets/1707290/8683845/0ce3daac-2a6d-11e5-8304-ebc5ea6deb5f.png)

TVHeadend About
![image](https://cloud.githubusercontent.com/assets/1707290/8683860/1f17d84a-2a6d-11e5-933f-a266fab3511d.png)

HTPC Log (Debug)
https://gi

[2015-07-14 21:13] Hellowlol commented on #252
So i added some some more debug messages. Can you update and grab me a new log? @Wizkidje I dont know if you use tvheaded or htpc manager any more but if you are, can you help us out?

[2015-07-14 21:20] Fma965 commented on #252
Yes sure, give me a few minutes :)

[2015-07-14 21:24] fma965 commented on #252
https://gist.github.com/Fma965/aafc95e42347bd51fecf

1 thing i noticed is
2015-07-14 22:22:44 :: modules.tvheadend :: DEBUG :: url: http://192.168.1.251:9981/dvrlist_finished
when i go to
http://192.168.1.251:9981/dvrlist_finished
after entering user/pass it gives me
"1 Unknown Code"
not sure if my version of tvheadend or something? tbh it's not very functional anyway so if you can't get it workin

[2015-07-14 21:24] fma965 commented on #252
if you want to add me on skype for more instant discussion it;s "Fma965_" without quotes but with underscore.

[2015-07-14 21:26] fma965 commented on #252
sorry for multiple replies.. here is the response i get from http://192.168.1.251:9981/api/channel/grid

https://gist.github.com/Fma965/634428a1b61526a5d329

[2015-07-14 21:56] Hellowlol commented on #252
Well I can see that I have fucked up something, I'll walk the dog and update it.
@Fma965
Any chance you can expose this to the interwebz so i can test directly? hellowlol1@gmail.com if you want to send user name and password.

If not you need to manually check each url and paste the results for each one to a pastebin.

[2015-07-14 21:56] l-t-k opened #253 "No wanted movies and no wanted albums if empty on dash"
It looks like this atm:
![1](https://cloud.githubusercontent.com/assets/3150962/8686101/99b2b0b4-2a83-11e5-92b9-e74f44f875e2.jpg)

I think it's better to use the thing you use(d) no episode found or something if there no shows with upcoming air dates.

CP, for example comes up with:
![2](https://cloud.githubusercontent.com/assets/3150962/8686142/ec0c09d2-2a83-11e5-98d3-b858c73c53b8.jpg)

[2015-07-14 22:48] Hellowlol commented on #253
@kooimens is this plex or kodi?

[2015-07-14 22:56] l-t-k commented on #253
CP

[2015-07-14 22:59] Hellowlol commented on #253
Hehe, i can see that from the image. I was talking about the blank images. What modules in the dashboard do you want changed, plex or kodi?

[2015-07-14 22:59] Hellowlol commented on #253
@kooimens Tried the iframe feature btw?

[2015-07-14 23:03] fma965 commented on #252
No worries, I'm not sure if it's you or tvheadend, I'm away from my computer now, I'll get it on the internet sometime tomorrow (it's midnight now) either while I'm at work or when I'm home in the evening. Easy enough to just forward the port temporarily for you.

I will update you here / email when it's ready for you.

[2015-07-14 23:06] fma965 commented on #252
Ps: not heard the word interwebz In a while haha, I used to say that all the time.

[2015-07-14 23:13] l-t-k commented on #253
I'm sorry, I should clearify my request;). It'is not about plex or kodi, but about the wanted movies (CP) and wanted albums (headphones) on my dash. If there are no wanted albums/movies, they should not be just blank (1st screen), but should show something as 'no wanted movies found', or for example use the CP module text 'no active movies found' (2nd screen)

[2015-07-14 23:14] l-t-k commented on #253
Not yet, my server is a complete mess atm. Fixing that first, then I will certainly try the iframe branche;)

[2015-07-14 23:16] l-t-k commented on #253
I refered to the sick dash module, because I do remember there is already something in place for this module when no next episodes are found

[2015-07-14 23:38] Hellowlol commented on #245
all clicks on menu link opens new page...

[2015-07-15 00:23] Hellowlol commented on #253
@kooimens iframe is merged in master2 btw

[2015-07-15 09:15] fma965 commented on #252
Emailed @Hellowlol details!

[2015-07-15 09:28] fma965 commented on #252
Please note that i am at work so offsite from my setup but can remote in... My dad is at home and he tends to turn the router off when "no one is using it" so if you can't connect that would be why. after 4.30 (UK Time) i will be home.

[2015-07-15 09:53] Hellowlol commented on #252
Haha, thanks. I dont have time until later anyway. :)

[2015-07-15 09:57] Hellowlol opened #254 "TOP menu"
Hi @wmariz ! I dont know if you still using htpc manager but since you authored several awesome additions i thought i id ask anyway.

The menu nav bar  is "blinking" when you press a link, is there a way we can speed this up. Or do i make the menu server side? (like it was before but with sorting :P)

[2015-07-15 11:56] EZarnosky commented on #233
It will take a few days, I don't have a day off until Sunday :(

Which branch should I use? Or did you just add these to the default Master2 branch?

[2015-07-15 12:00] Hellowlol commented on #233
It's in the master2 branch already :P

[2015-07-15 12:03] rudyvarner commented on #253
The Headphones dash "Wanted Albums" is empty for me as well.

[2015-07-15 12:06] Hellowlol commented on #253
@rudyvarner and you have albums that are wanted? Or are you just agreeing with kookiness that this should be changed.

[2015-07-15 12:12] rudyvarner commented on #253
Yes.  And if I choose Headphones from the top menu and go to Wanted they are all displayed correctly.

[2015-07-15 12:15] l-t-k commented on #248
How do I enable this? In the general tab I enabled iframes (allow iframe). And that's it? I can´t see other options and the links aren´t opened within the iframe.
I think it should be useful to at least select for each ''Other app"  whether it should be opened in the iframe or not.

I´m running latest version of master2 branche

[2015-07-15 12:23] Hellowlol commented on #248
Tried force refreshing browser cache?

[2015-07-15 12:25] Hellowlol commented on #253
Ok, can you open a new issue?

[2015-07-15 12:44] fma965 commented on #248
you may need to remove the apps then re-add them, not sure why but that seemed to fix it for me, i wonder if maybe that just made the browser force a refresh?

Press CTRL + R or CTRL + F5 to force refresh

[2015-07-15 12:45] l-t-k commented on #248
All tried, nothing worked. I took a clean fresh empty install op master2. Removed all cookies and tried several times, without any luck.

[2015-07-15 12:46] Hellowlol commented on #248
If it still don't work I'm sure I messed it up when I tried to fix the normal links. (Wrong selector)

[2015-07-15 12:56] l-t-k opened #255 "CSS / layout problems"
I use a fresh new install of master2 and run it with an init script or directly with the settings page to use webroot /htpc. After start, all is well up to this part: (debug logs)
part 1 log: http://pastebin.com/QYTVhmhv
Working fine on:
IE 11.0.9600.17843
Chrome Version 43.0.2357.134 m
Safari, dunno exactly running iOS 8.3 on ipad2

It takes some time (about 5 minutes) to load the second part of

[2015-07-15 12:56] fma965 commented on #248
yeah he's right it is broke again :( @Hellowlol why you break it :P only joking..

but yeah it's not working no more, just normal link instead of iframe.

[2015-07-15 12:58] l-t-k commented on #253
Oh yeahhhhhhhhh kookiness :+1: I like cookies! :D

[2015-07-15 14:04] Hellowlol commented on #255
Im not really sure i get this. The error happens on every browser if webroot is set. except from IE as the browser sucks as usual?

[2015-07-15 14:05] Hellowlol commented on #248
@kooimens Works now :P

[2015-07-15 14:13] rudyvarner opened #256 "Headphones "Wanted Albums" dashboard not working"
The Wanted Albums dashboard item is not showing the wanted list from Headphones.

![image](https://cloud.githubusercontent.com/assets/5005529/8700446/cb546170-2ad9-11e5-8ff8-ed3e3f6ba132.png)

Here is my log file.

2015-07-15 09:59:30 :: htpc.root :: INFO :: Restarting HTPC Manager.
2015-07-15 09:59:33 :: root :: INFO :: Welcome to Hellowlol's HTPC Manager fork
2015-07-15 09:59:33 :: root :: INFO

[2015-07-15 14:13] Hellowlol commented on #255
Seems to work fine here
chrome:
![image](https://cloud.githubusercontent.com/assets/1214134/8700486/5552bcb4-2b0c-11e5-8fba-7375bf6ab117.png)
IE:
![image](https://cloud.githubusercontent.com/assets/1214134/8700498/686300f2-2b0c-11e5-9172-934178c227de.png)

[2015-07-15 14:15] Hellowlol commented on #255
Heres a ss from ifram btw:

![image](https://cloud.githubusercontent.com/assets/1214134/8700551/b1adc54e-2b0c-11e5-8252-423d8a2ac3c3.png)

[2015-07-15 14:28] l-t-k commented on #255
On every browser (including IE) the problem occurs with webroot after around 5 minutes (see log and first part of my first post). The problem also occurs (but only in IE) with webroot turned off after 5 minutes.

[2015-07-15 14:34] l-t-k commented on #248
Tested. Perfect! However, it would still be nice to set this option for each ''other apps'' link individually.

[2015-07-15 14:35] fma965 commented on #248
it would be cool to make it so a middle click (which is open in new tab) still opened in a new tab rather than being overridden with the JS code.

[2015-07-15 14:38] fma965 commented on #248
I got a way with a few lines of code change in JS will git pull latest then send a PR request.

[2015-07-15 15:10] fma965 commented on #248
I agree with @kooimens but i will only be making PR requests for HTML/CSS/JS as i have no clue about python so either @kooimens or @Hellowlol  or someone who knows python will have to sort that it out :)

[2015-07-15 15:31] l-t-k commented on #255
![3](https://cloud.githubusercontent.com/assets/3150962/8702276/25335218-2b17-11e5-9c22-1d4097a53243.jpg)

Hmm, maybe you can repeat the exact same steps I did we a clean install? Strange, above a screenshot of the end of the homepage...

[2015-07-15 15:56] fma965 commented on #255
i had this, when i had a clean install when i was making the iframe PR, i just ctrl+r it a few times then everything loaded correctly

[2015-07-15 16:40] Hellowlol commented on #248
No Python is required for this one. Or atleat very little. Every Python line you need is already on the settings.html

[2015-07-15 16:46] Hellowlol commented on #248
See https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/html/form.html#L27 and line 28. Replace field with link and add it to settings.html

[2015-07-15 16:53] l-t-k commented on #255
Yeah a refresh of the browser fixes this if you're working with Chrome. It's not fixed if you use IE or Safari;)

[2015-07-15 17:01] fma965 commented on #248
nope you've completely lost me :(

[2015-07-15 17:21] Hellowlol commented on #255
I don't care if it works in ie or not. Special hacks for ie is over.. Is this iOS Safari or on a Mac?

[2015-07-15 17:32] l-t-k commented on #255
I agree about IE, it sucks, but this is not a specific IE problem. Although the problems are bigger in IE it occurs in chrome and safari as well. Refreshing the page sometimes fixes this, but not always. And a refresh shouldn't be (of course) the correct way to fix this. Maybe, you can try to follow the exact same steps I covered in my OP to reproduce this? With a clean fresh install.

Safari is i

[2015-07-15 17:43] Hellowlol commented on #255
Ok, I'll see what I can do.

[2015-07-15 19:27] fma965 commented on #248
Hey again, Here is a preview of the layouts, i added it as a new dash module so the old layout is still an option.

![image](https://cloud.githubusercontent.com/assets/1707290/8707790/d6ef1ace-2b2f-11e5-92e7-e3962669e72c.png)

[2015-07-15 19:33] Hellowlol commented on #248
Nice

[2015-07-15 19:46] fma965 commented on #11
I know this is a old ticket but i wanted to get deluge on the dashboard, tried to figure it out but since deluge webinterfaces can connect to multiple daemons it becomes more confusing than it first seemed.

[2015-07-15 19:50] Hellowlol commented on #11
Isnt it very unlikely that its more then one daemon?

[2015-07-15 19:51] Hellowlol commented on #256
Fixed

[2015-07-15 19:51] #256 closed, assigned to nobody

[2015-07-15 19:52] fma965 commented on #92
I could probably implement this easily enough since most of it JS/HTML/CSS not python, if @Hellowlol would accept the PR once it's done and also if you @henkjanvries still want this feature....

Let me know.

[2015-07-15 19:53] Hellowlol commented on #92
Go for it

[2015-07-15 20:03] fma965 commented on #11
Yes but i guess what i meant was that the deluge code which isn't for the dashboard currently has a option to select daemon before it connects (unless it's recently been connected) and this is a bit harder to do on the dashboard so it would need a lot different code from what is used in deluge.js, hope that makes sense, sorry for the replies on various tickets i'm just bored and want to contribute

[2015-07-15 20:06] Hellowlol commented on #11
Nothing to be sorry about. Im happy anybody takes interest. Well what about just auto connect to the first available?

[2015-07-15 21:11] Hellowlol commented on #252
New api.... 0 docs, thanks..

[2015-07-15 23:12] Hellowlol commented on #255
I couldnt reproduce your issues in chrome or ie with or without a webdir. I did find a fix for (i think for safari.) Can you try again?

[2015-07-16 01:33] l-t-k commented on #255
I have seen it in the last couple of hours only a few times in chrome (it less than last night). For safari it seems to be fixed! IE isn't loading properly at all (even after pressing F5 several times). Strange, because I didn't update for a while and this issues occurred after updating or running a fresh install.

[2015-07-16 02:02] l-t-k commented on #253
Same goes for the plex module. right now, my music directory is empty and therefore plex is having no music. This is ugly:
![1](https://cloud.githubusercontent.com/assets/3150962/8713906/6ce62e5c-2b6f-11e5-8961-f2e6f0c39df5.jpg)

Ideally, it should contain something. Like, for example when empty = "No music in library".

[2015-07-16 07:19] fma965 commented on #252
was that to TVHeadend? I thought that was pretty shit too lol

[2015-07-16 07:21] Hellowlol commented on #255
Btw this is related to disable cache after update in the general settings page (it's on by default)

[2015-07-16 07:23] Hellowlol commented on #252
Yeah, I have made some progress tho.

[2015-07-16 07:24] fma965 commented on #252
OK Cool, if i get time when at work (i work as a IT Technician so sometimes it's quiet other times not so much) or after work then i will work on your request for making the search bar always show :) should be relatively simple.

[2015-07-16 07:30] Hellowlol commented on #252
I haven't really decided if I want it always visible. I will at least have it as the first thing inside the dropdown. Thanks

[2015-07-16 07:33] fma965 commented on #253
or just not show it? wouldn't it be better to just hide it completely if nothing is in it.

[2015-07-16 07:42] fma965 commented on #252
Well gonna need you to make your mind up before i work on it xD

[2015-07-16 07:49] Hellowlol commented on #253
I'll rather let the user know that nothing was found, you can be sure some will make a issue if not..

[2015-07-16 07:51] fma965 commented on #253
Hmm yeah fair point :)

[2015-07-16 08:52] fma965 commented on #248
I guess this can be closed now then since both the original ideas are now implemented.

[2015-07-16 08:52] #248 closed, assigned to nobody

[2015-07-16 08:57] Hellowlol commented on #248
Yeah, thanks a lot!

[2015-07-16 10:34] fma965 commented on #92
The only bit that would be difficult is the php code mentioned in than link, i will see what i can do (wish i knew python)

[2015-07-16 10:41] fma965 commented on #11
Yeah that could work, i'm not sure... i would like to get this working as it's obvious relevant to my own usage.

[2015-07-16 11:01] fma965 commented on #253
@Hellowlol i've just fixed this for couchpotato

[2015-07-16 11:02] fma965 commented on #253
i can't test Plex but will work on headphones later

[2015-07-16 11:15] Fma965 commented on #253
I would test it on headphones but
2015-07-16 12:15:22 :: modules.headphones :: ERROR :: Error calling api http://1
27.0.0.1:8181/api?apikey=********************************&cmd=getWanted: ('Conne
ction aborted.', error(10061, 'No connection could be made because the target ma
chine actively refused it'))

and i'm not quite sure why.

[2015-07-16 14:28] wmariz commented on #254
What do you mean by "blinking"? I cannot reproduce that

[2015-07-16 14:46] Hellowlol commented on #254
If you press any of the modules in the nav bar you can see everybody except from other links disappear then get added. It doesn't happen every time, but often. at least with many modules active

[2015-07-16 23:45] Hellowlol commented on #255
Still problems with ie?

[2015-07-17 12:10] rudyvarner opened #261 "Can't Connect to Deluge"
Recently Deluge has stopped working for me.  Perhaps a fix for another module broke it?

![image](https://cloud.githubusercontent.com/assets/5005529/8746822/3ecd54cc-2c5b-11e5-8b0f-dce06782c818.png)

Log file:

2015-07-17 08:04:04 :: htpc.root :: INFO :: Restarting HTPC Manager.
2015-07-17 08:04:08 :: root :: INFO :: Welcome to Hellowlol's HTPC Manager fork
2015-07-17 08:04:08 :: root :: INFO :: L

[2015-07-17 13:10] l-t-k commented on #255
Unfortunately yes, I tested with the option you mentioned disabled and enabled, no luck. Same goes for firefox (sometimes). It seems like it occurs more often when accessing htpc with reverse proxy.

But I still think it's weird that when starting htpc all is ok from the beginning (with cookies cleaned of course) and then after a certain amount of time the problems appear?

[2015-07-17 15:26] fma965 commented on #261
Deluge is working fine for me, would suggest checking your deluge settings / webui is running / daemon is running

[2015-07-17 17:15] Hellowlol commented on #255
I agree thats strange. There are no change in the way htpc manager servers static content except from the force disabled cache. So you have any console errors (in your browser when this happens)

[2015-07-17 17:22] rudyvarner commented on #261
NVM. Close it.  The Browser Auto Formfill had put my username in the basepath field. :|

[2015-07-17 17:33] #261 closed, assigned to nobody

[2015-07-17 21:05] #233 closed, assigned to nobody

[2015-07-18 19:29] Hellowlol commented on #255
@kooimens Can you see if the latest update fixes the issue?

[2015-07-19 23:44] Hellowlol commented on #255
assumed fixed

[2015-07-19 23:44] #255 closed, assigned to nobody

[2015-07-20 06:52] trickybitch opened #262 "Plex Reverse Proxy Link is wrong"
I have HTPC Manager running and working on my local server however I have an issue with the reverse proxy link within plex.

Plex Settings:
![plex](https://cloud.githubusercontent.com/assets/13413136/8771062/2f464926-2efb-11e5-9376-c32df982cc5b.png)

Plex within HTPC Manager works fine however when click on the 'Plex' title it takes me to:
https://www.domain.com/htpc/plex/webinterface

This page j

[2015-07-20 07:55] Hellowlol commented on #262
Should be fixed now.

[2015-07-20 07:55] #262 closed, assigned to nobody

[2015-07-21 11:55] Hellowlol commented on #252
I have moved the search bar inside the dropdown for now. I might remove the dropdown add a site bar instead. I'll try to set off sometime to your tv headed issue today.

[2015-07-22 07:52] fma965 commented on #252
OK Cool, you won't be able to access it during the day (UK Time) though

[2015-07-22 11:00] thatbritguy opened #263 "Plex TV shows not opening"
Noticed an issue with the Plex module in the latest master2 version (could have been present before but I'm not sure).  Basically on the TV tab all the shows load correctly and the thumbnails load, but no matter which I click on it just gives a blank page instead of loading the show info and episodes.  Also the video controls no longer appear for me in the now playing well.  I'm on OSX 10.10 and i

[2015-07-22 11:29] Hellowlol commented on #263
Any console errors in the browser? I'm gonna need the log aswell. This makes no sense to me. Its all good here :/

[2015-07-22 20:20] thatbritguy commented on #263
http://pastebin.com/rb0wBGdr http://pastebin.com/rb0wBGdr

Here’s a pastern of the console errors

[2015-07-22 20:34] Hellowlol commented on #263
Can you try to manually type in this url and paste the response:
GET http://localhost:4465/plex/GetEpisodes?start=0&end=50&hidewatched=0&tvshowid=3412

[2015-07-22 20:48] thatbritguy commented on #263
'{"episodes": [{"plot": "Carrie-Louise and her third husband Lewis Serrocold run a correctional facility for young men on their estate, Stonygates, where they also house a rag-tag of family and step-family.\n\nAfter a fire tears through Carrie Louise's office, her sister, Ruth Van Rydock, urges their old - and somewhat less glamorous - friend, Miss Marple (Julia McKenzie), to visit the blithely un

[2015-07-22 20:52] Hellowlol commented on #263
Ok thanks, the url fucks it up :P, thanks

[2015-07-22 23:10] #263 closed, assigned to nobody

[2015-07-23 00:03] Hellowlol commented on #263
Should be fixed now, let me know if you still have issues

[2015-07-23 07:16] thatbritguy opened #264 "Kodi server password visible in logs"
Just wanted to give you a heads up that the password for the kodi server is shown in the url in the logs.  Not sure if that's intended or not.

[2015-07-23 14:23] listentofaze opened #265 "Feature Request: Service Status page / dashboard"
A page that shows the current status of all services (Couchpotato, Plex, SickRage, Headphones).

Something like the bottom left on this page:

https://camo.githubusercontent.com/a79a7c066de577ea878019fa97505cb08687230c/687474703a2f2f642e70722f692f31686646382b

[2015-07-23 17:47] Hellowlol commented on #264
Thank you for the heads up. I was salready award off it, but I haven't bothered fixing it as kodi is a local service and I don't think many has exposed it to the web. But I'll mask this aswell

[2015-07-23 20:47] Hellowlol commented on #265
Hi! I think this has been requested/mentioned before.

Im not gonna do this request myself, but if someone is willing to do the work ill merge it.

TIP:
query the db for enabled modules, if enabled call /modulename/ping. Edit the ping function so it falls back on info from the db in no args/kwargs are given.

[2015-07-24 00:33] madclicker commented on #265
Damn, I was hoping you would do this.....very good feature! Guess I'll
have to do it myself.

On 07/23/2015 04:47 PM, Hellowlol wrote:

[2015-07-24 00:53] Hellowlol commented on #265
I hope you send a pr then ;), or point me to your code so I can leech off you work :D

[2015-07-24 01:32] thatbritguy opened #266 "Feature Request: plexWatch front-end module"
I use [plexWatch](https://github.com/ljunkie/plexWatch) and currently am using [plexWatchWeb](https://github.com/ecleese/plexWatchWeb/tree/dev) as a front-end but it runs painfully slow and I hate having to jump out of HTPC Manager to do stuff.  So I wondered if you'd consider adding a plexWatch front end module to HTPC?  Basically contain the same info as plexWatchWeb with each page on there bein

[2015-07-24 12:15] rudyvarner opened #267 "Mylar link opens Headphones"
I just discovered when i go into the Mylar module and click Mylar at the top of the page that opens, it opens Headphones instead of Mylar.  I also verified that my Reverse Proxy link is correct.

[2015-07-24 16:06] Hellowlol commented on #267
Yeah, it's a copy paste error from the hp module

[2015-07-24 19:41] Hellowlol commented on #266
Hi! This isnt something i would have use for so i will not add it, but i can see that i can be uselfull so if any is up for the task ill help the best i can. You can use the new iframe option to integrate plexwatch front end it htpc manager. Or you can try https://bitbucket.org/raphaelmutschler/plexivity or https://github.com/drzoidberg33/plexpy

[2015-07-24 20:38] Hellowlol commented on #267
Fixed in the latest commit

[2015-07-24 20:38] #267 closed, assigned to nobody

[2015-07-24 20:39] Hellowlol commented on #264
Should be fixed in the latest commit

[2015-07-24 20:39] #264 closed, assigned to nobody

[2015-07-30 23:48] l-t-k commented on #255
Seems to be working now. Tested for a couple of weeks. No problems!

[2015-07-30 23:51] l-t-k commented on #253
![1](https://cloud.githubusercontent.com/assets/3150962/8997851/9ca5dc38-3726-11e5-91f2-5526c1f40cb3.jpg)

Nice! Same should be in place for wanted album and next aired.

[2015-07-31 00:16] l-t-k opened #270 "Missing / in sickrage module? Sickrage with webroot not working"
I run sickrage on localhost, default port and webroot /sickrage. HTPC error log:

2015-07-31 02:11:42 modules.sickrage ERROR Unable to contact sickrage via http://localhost:8081/sickrageapi/*******************************_/?cmd=sb.ping
2015-07-31 02:11:42 modules.sickrage DEBUG Trying to contact sickrage via http://localhost:8081/sickrageapi/**_*****************************/?cmd=sb.ping

If I fill

[2015-07-31 00:40] Hellowlol commented on #270
Thanks!, its fixed now

[2015-07-31 00:40] #270 closed, assigned to nobody

[2015-07-31 01:30] l-t-k opened #271 "Sickrage: Rename search button to 'search' instead of 'add show'"
Sickrage:
![1](https://cloud.githubusercontent.com/assets/3150962/8999002/8d40f620-3734-11e5-8bb8-7854bac83267.jpg)

CP (as it should):
![2](https://cloud.githubusercontent.com/assets/3150962/8999003/8fcdc846-3734-11e5-9ce1-c6fbf3b7b5b0.jpg)

[2015-07-31 01:33] l-t-k opened #272 "Sickrage/HP: Hit enter bar should search"
When using CP, I can search a movie by typing the name in the search field and hit enter. However, for Sickrage and Headphones I have click on the search button with my mouse in order to start the search. Hitting enter is not working. Just a minor bug...

[2015-07-31 07:34] fma965 commented on #253
Yeah i can't test plex... and i thought tv shows already did?

[2015-07-31 11:59] l-t-k commented on #253
Maybe, the SickBeard and NZBDrone do. I use SickRage, it's not working for that one. I will test plex today

[2015-07-31 13:56] Hellowlol commented on #253
@kooimens can you give me the response from http://ip:port/sickrage/GetNextAired in a gist/pastebin?

[2015-07-31 15:00] l-t-k commented on #253
http://pastebin.com/s1FgXQb5

ip and port = HTPC Manager, right? Hmm, you probably need output where there are no next aired shows?

[2015-07-31 15:05] Hellowlol commented on #253
Yes please. Something is always next in this house.. :p

[2015-07-31 17:18] l-t-k commented on #253
Same here... I noticed it when installing new apps.

Hmm, something isn't ok here. I installed new fresh htpc and sickrage. Added two empty series to sickrage, api is enable. Don't know why the hell i'm getting dutch log output?:

http://pastebin.com/ER5Rwnxp

[2015-07-31 17:29] Hellowlol commented on #253
I assume your using Dutch browser settings. This is the console errors that your browser passes. I do nothing except from gabbing what the browser reports. Console errors doesn't really mean anything, some of them are quite normal.

[2015-07-31 17:32] Hellowlol commented on #272
It's not a bug, it's not implemented:p

[2015-07-31 21:48] l-t-k commented on #253
Hmm, working fine now. Dunno, what the problem was. Finally the json output of an empty SR next aired tab:
`{"message": "", "data": {"later": [], "missed": [], "today": [], "soon": []}, "result": "success"}`

[2015-07-31 21:51] l-t-k commented on #253
To be clear, the SR itself is correct:
![1](https://cloud.githubusercontent.com/assets/3150962/9018395/ecd4a58c-37de-11e5-9be5-a3e1137c3048.jpg)

The SR dash module not:
![Uploading 3.jpg…]()

[2015-08-01 10:33] l-t-k opened #273 "'Other apps' delete button not working"
If I click on it, nothing happens.
![1](https://cloud.githubusercontent.com/assets/3150962/9021580/83f6d808-3849-11e5-9718-3dffd8838f54.jpg)

[2015-08-01 10:37] l-t-k commented on #273
Debug logging:
http://pastebin.com/e825dfuz

[2015-08-01 10:53] thatbritguy commented on #273
Just created a PR #274 which fixes the button so that it now deletes as expected.  Sorry, that was my error, I accidentally removed the crucial class.

[2015-08-01 13:19] l-t-k commented on #273
Nice! No problem of course. I'm glad to see people actually committing PR's, where I only notice and report bugs;)

[2015-08-01 13:57] #273 closed, assigned to nobody

[2015-08-01 14:06] l-t-k opened #275 "Plex dash, year unknown = undefined"
![1](https://cloud.githubusercontent.com/assets/3150962/9022100/18bb7ec2-3867-11e5-9433-0c40e3b541c7.jpg)

I have some albums where Plex can't determine the release year. I'll find an ugly (undefined) on my plex music dash. The main plex app (through HTPC) isn't showing the release year at all, so no problems occur in that area.

[2015-08-01 15:42] rudyvarner opened #276 "Sonarr - Next Episode sorting is not correct"
When using the Sonarr module, sorting by next episode is completely wrong.  I would expect it would show by air date and then put the n/a at the end.  Instead it does it in this order.  Tomorrow, Today, N/A, Friday and then 9/1/ 2015  etc.  I have attached 2 screen shots.  One from the top of the sorted list and one from the bottom.

![sonarr_1](https://cloud.githubusercontent.com/assets/5005529/9

[2015-08-01 15:58] fma965 opened #277 "bring back the slate theme."
as the title says, please bring back the slate theme as its the only dark theme i can find.

i mean the screenshot on the readme.md file is even the slate theme.... i like dark themes.

[2015-08-01 16:00] fma965 commented on #277
also this doesn't look normal to me
![image](https://cloud.githubusercontent.com/assets/1707290/9022473/95e25c3e-386e-11e5-8f78-c579c1c100db.png)
![image](https://cloud.githubusercontent.com/assets/1707290/9022476/a7749d68-386e-11e5-9206-324bc547dcef.png)

also the gamer theme doens't even work.

[2015-08-01 16:07] Hellowlol commented on #277
What do you mean by not work?

![image](https://cloud.githubusercontent.com/assets/1214134/9022519/197815ee-3878-11e5-9d50-e50656dcd7b4.png)

[2015-08-01 16:08] Hellowlol commented on #277
onyx is dark btw

[2015-08-01 16:09] fma965 commented on #277
ok after restarting i can select gamer... onyx looks bad compared to slate though, and most of these themes have font issues as can be seen in my screenshot.

[2015-08-01 16:11] Hellowlol commented on #277
What font issues?

[2015-08-01 16:13] fma965 commented on #277
can you not see them in the screenshot? they are all pixelated and look terrible on the colored backgrounds.

[2015-08-01 16:17] Hellowlol commented on #277
Nope, what theme are you talking about specifically?

[2015-08-01 16:18] fma965 commented on #277
amethyst and which ever one is red and black... i'm not sure why you cant see it from the screenshot though

EDIT: Ruby

[2015-08-01 16:59] Hellowlol commented on #277
Slate isnt comming back unless someone sends a pr for it. :)

[2015-08-01 17:00] fma965 commented on #277
i don't really see why you even needed to delete the old themes tbh but ok.

[2015-08-01 17:09] Hellowlol commented on #277
![image](https://cloud.githubusercontent.com/assets/1214134/9022727/d70011c2-3880-11e5-93f8-fd7cadccf180.png)

Thats why

[2015-08-01 17:10] fma965 commented on #277
not sure what thats meant to be showing

[2015-08-01 17:10] Hellowlol commented on #277
Thats slate:)

[2015-08-01 20:20] l-t-k opened #278 "newznab ssl option not working"
If I enable the ssl option in the newznab module and then go back to settings page, the module is set back to non-ssl. Furthermore, if I enter api url https://www.index.com, the api url is changed to www.index.com after saving.

[2015-08-01 20:30] l-t-k opened #279 "Headphones: set default search method: artist / album"
I'm almost always searching for an album instead of artist. However, the default search option is 'artist'. Would be great to have to ability to change the default to `album`.

![1](https://cloud.githubusercontent.com/assets/3150962/9023474/e951fedc-389c-11e5-967a-c05178002c8e.jpg)

[2015-08-01 20:46] l-t-k opened #280 "Problems with sabnzbd module"
I have to keep pressing F5 to get it refreshed, even when I've been waiting a minute of 5. Just stay in the htpc app and browsing through the different modules and then back to the sab module isn't refreshing anything.

I'm on IE right now, but noticed the same on chrome.

[2015-08-01 20:49] Hellowlol commented on #280
Log? works fine here

[2015-08-01 20:52] Hellowlol commented on #278
It work, its just a visual bug after the "sliders" was added. As for the removal of http/https, thats intented. There are some code in htpc manager to fix common user errors.

[2015-08-01 22:24] l-t-k commented on #280
Nothing in there atm. I'll keep an eye on it.

[2015-08-01 22:28] l-t-k opened #281 "Headphones: manual pick a release"
Would be nice to have this feature, just like CP has. According to the API, it's possible.
https://github.com/rembo10/headphones/blob/master/API.md

[2015-08-01 22:51] Hellowlol commented on #280
any console errors (no all of them are logged)?

[2015-08-01 23:34] #271 closed, assigned to nobody

[2015-08-01 23:34] Hellowlol commented on #279
done

[2015-08-01 23:34] #279 closed, assigned to nobody

[2015-08-01 23:34] Hellowlol commented on #278
fixed

[2015-08-01 23:34] #278 closed, assigned to nobody

[2015-08-01 23:35] Hellowlol commented on #275
I dont have hp installed anymore, can you check if this is fixed?

[2015-08-01 23:35] Hellowlol commented on #272
added support for this

[2015-08-01 23:35] #272 closed, assigned to nobody

[2015-08-02 10:51] l-t-k opened #282 "Dashboard broken after last update"
![1](https://cloud.githubusercontent.com/assets/3150962/9025793/1b8b37e2-3915-11e5-9cc5-1aa3c570a092.jpg)

Other apps are working fine.
Tried on IE, Chrome Firefox. All the same.

Log: http://pastebin.com/KT9JpBXW

[2015-08-02 10:54] l-t-k commented on #275
I can't test this atm, because of #282. However, this is not related to HP. My screen is from the PLEX recently added music module;)

[2015-08-02 10:56] l-t-k commented on #271
Thanks!

[2015-08-02 10:58] l-t-k commented on #272
Working like a charm!

[2015-08-02 11:08] Hellowlol commented on #275
Well then i have to fix it later. I just pushed a fix for the dash. It got late yesterday:P

[2015-08-02 11:12] l-t-k commented on #275
The PLEX recently added music module is only showed on dash, so I think you're right about that. I only said that it's got nothing to do with HP;)

[2015-08-02 11:14] l-t-k commented on #282
Can confirm you already fixed this with the latest commit!

[2015-08-02 11:14] #282 closed, assigned to nobody

[2015-08-02 11:14] l-t-k opened #283 "Sickrage 'add show' should be green instead of black"
![1](https://cloud.githubusercontent.com/assets/3150962/9025878/77611ad4-3918-11e5-9cf8-7a55e387d5b6.jpg)

[2015-08-02 11:34] l-t-k opened #284 "Headphones: set albumpage as default artist view"
The `Info` tab is the default landing page for each artist. The info looks cool, but the albums are of more value of course. The `Albums` tab next to it should be the default landing page when viewing an artist.

![5](https://cloud.githubusercontent.com/assets/3150962/9025940/02233768-391b-11e5-9ed6-7ca8352b9892.jpg)

[2015-08-02 11:44] l-t-k opened #285 "Headphones: new action for snatched or processed albums: try new"
![1](https://cloud.githubusercontent.com/assets/3150962/9025971/77b86312-391c-11e5-9a04-3cb0621d1cb1.jpg)

I think it would be easier to implement as #281.

[2015-08-02 11:48] Hellowlol commented on #283
You can fix this yourself. It's a typo in btn-succmess.

[2015-08-02 11:56] l-t-k commented on #283
Ah ok. I will take a look at it.

[2015-08-02 13:04] #283 closed, assigned to nobody

[2015-08-02 13:19] Hellowlol commented on #284
If you want to fix this yourself you can remove the class from #info and add it to #albums. An add active to .nav-tabs li

[2015-08-02 13:21] l-t-k opened #287 "Plex dash, do not show new items if "show on dashboard" is unchecked in PLEX main app"
![1](https://cloud.githubusercontent.com/assets/3150962/9026273/9d3826c4-3929-11e5-83d8-ad677b486255.jpg)

Plex libraries have an option to disable the content of that particular library to show up on dashboard or recently added (All in the main plex app, not HTPC).

If that's the case (if that option is uncheck, see screen) HTPC Manager should no show this items in recently added movies, show or

[2015-08-02 13:21] l-t-k commented on #284
I'll give it a shot!

[2015-08-02 13:47] Hellowlol commented on #287
Tried adding that sections n to ignore section?

[2015-08-02 14:50] l-t-k commented on #287
That did the trick!

[2015-08-02 14:50] #287 closed, assigned to nobody

[2015-08-02 15:10] l-t-k commented on #280
No console errors. What I did noticed is that the problem seems to be related to the history tab. I have to F5 that one to grab recent info.

[2015-08-02 15:15] l-t-k commented on #280
Damn it. And of course, fucked up IE. Did some tests, chrome, firefox and safari, all working great, refreshing auto on around 3-4-5 seconds on average. IE doesn't do any refreshing at all.Even when I switch to, for example my CP module (within HTPC) and switch back to my sab module (within HTPC) I still don't see the nzb I've added a several minutes ago. Same goes for the history tab (as I mentio

[2015-08-02 15:48] Hellowlol commented on #280
What ie version?

[2015-08-02 16:09] l-t-k commented on #280
![default](https://cloud.githubusercontent.com/assets/3150962/9026924/9921a156-3941-11e5-8862-409df5686d67.jpg)

Windows 8.1

[2015-08-02 16:58] #284 closed, assigned to nobody

[2015-08-02 17:42] Hellowlol commented on #277
@raysguy any chance you can make a new theme like slate?

[2015-08-02 17:44] fma965 commented on #277
tbh onyx is ok although the white outline on textboxes makes it looks really dated.

[2015-08-02 17:44] Hellowlol commented on #275
Didn't the ignore section fix the double items?

[2015-08-02 17:45] Fma965 commented on #277
also the menu button on the top right cud prob be 2em rather than 3em.

.navbar .fa-bars {
    font-size: 2em!important;
}

[2015-08-02 17:48] fma965 commented on #277
also the menu button on the top right cud prob be 2em rather than 3em.

.navbar .fa-bars {
font-size: 2em!important;
}

so it looks like this ![new](http://i.imgur.com/NyJ4Xbv.png)

rather than this ![old](http://i.imgur.com/xPJBuok.png)

but this is just a small nitpick

[2015-08-02 17:55] l-t-k commented on #275
Oeps, you're correct. Changed it.

[2015-08-02 18:27] thatbritguy commented on #277
3em was a deliberate design choice :)

[2015-08-02 18:28] fma965 commented on #277
a bad one in my opinion, the button is way too big like that.

EDIT: to be fair it's not a major issue and onyx is growing on me but those white lines look terrible on textboxes, the 1990's used to have them on everything :D

[2015-08-02 20:30] Hellowlol commented on #275
Should have fixed it now.

[2015-08-02 20:30] #275 closed, assigned to nobody

[2015-08-02 23:19] Hellowlol commented on #277
@Fma965 Feel free to send a pr without them, tried to add one based on onyx with a smaller icon and remove the shit. But im just awefull at css. And i dont have the patience to check every browser and every viewport... @raysguy The themes must have been a lot of work. :) Thanks again!

[2015-08-02 23:53] thatbritguy commented on #277
@Hellowlol yes they sure were!  Especially trying to cover such a wide variety of styles and color schemes.  One little change to one thing would look fine until I went to a different page and realised it had screwed something else up! Hahaha.  Must have been a lot easier than all the work you put into coding though!  Half the time I'm looking at python or js files I may as well be reading greek f

[2015-08-02 23:56] thatbritguy commented on #277
Btw @Hellowlol I think you need to update the screenshot in the readme page! ;)

[2015-08-03 00:05] Hellowlol commented on #277
Yeah, thanks for reminding me. I should probably redo the entire readme, I like headphones readme. I don't like any markdown :(.

[2015-08-03 00:07] Hellowlol opened #289 "Remove files/folder that isn't included in the tar"
Sourcedownloader

[2015-08-03 00:08] thatbritguy opened #290 "Request - Sonarr view default to season 1"
Have a request similar to #288 but couldn't work out how to implement myself.  Basically on sonar_view could you make it so that the Season tab defaults to Season 1 instead of Specials?  In my experience Specials listings cover loads of random stuff I'd never download and hate defaulting to a page full of "Missing" labels!

[2015-08-03 00:19] thatbritguy commented on #277
Yeah that readme does look good.  I hate markdown too.  When I get some time I was going to look at putting together a lightweight site using html with github pages.  My next project I think will be to put together a bespoke icon font set with a small footprint using the Fonticons service.

[2015-08-03 00:26] Hellowlol opened #291 "Theme issues: onyx"
I have only notice this on onyx but it might be related to more themes.
- navbar menu button is misalign compared to the htpc manager icon (iPhone 5s)
- season buttons is sonarr is impossibleto see.

[2015-08-03 00:28] Hellowlol commented on #290
Ok. Can you take a look as https://github.com/Hellowlol/HTPC-Manager/issues/291 ?

[2015-08-03 00:51] thatbritguy commented on #291
What do you mean by not responsive?  Tested on my iPhone 6 Plus and it is responsive in both landscape and portrait mode.  Btw is the login screen cached by HTPC?  No matter which theme I switch to the login screen is always showing as sublime (on any browser/device) which i know is impossible from the CSS files.  Clearing browser cache doesn't fix it.

Yeah I knew about the misaligned icons on mo

[2015-08-03 06:15] Hellowlol commented on #291
No it's not cached. I forgot to change the key used by the db. Should be app_theme_mig. I'll try to fix the icon by using max width :)

[2015-08-03 08:10] fma965 commented on #277
Hmm i didn't know there was that many dark themes, i went through the themes but half weren't working (i restarted htpc manager then they started working but couldn't be assed to go through them all again :D) i will try the other dark themes and see if they suit me better :)

Don't get me wrong though you have done a great job @raysguy i'm ok at PHP/HTML/JS but i'm not very good with CSS as i can'

[2015-08-03 08:20] Hellowlol commented on #291
Bah, i really need to fix my proxy so i can access htpc-manager from work :/

[2015-08-03 08:20] Hellowlol commented on #290
Would it be better if it open the last season instead?

[2015-08-03 08:24] Hellowlol commented on #291
Did you ever got around to fix the font to vnstat?

[2015-08-03 09:22] thatbritguy commented on #277
Yeah, 22 themes and a variety of styles - tried to create something for everyone. Yeah if the update hadn’t completed correctly they wouldn’t have loaded properly at all.  Saw someone else post about it but screenshot was just of one of the old themes but broken! :)

I’m learning CSS as I go along really.  Did start the theming project over at one point as it was driving me mad, so second time I u

[2015-08-03 09:24] thatbritguy commented on #290
How about latest season if show is flagged as “continuing” and season 1 for shows that are flagged as “ended”.  Is that possible to implement?  If not then yeah just go with latest season.

[2015-08-03 09:25] thatbritguy commented on #291
I tried using the example you gave but after trying quite a few things I never managed to affect the font, so I gave up so it didn’t delay me getting the themes finished.

[2015-08-03 09:32] Hellowlol commented on #290
Hmm, ill try.

[2015-08-03 09:44] Hellowlol commented on #277
Its broken in the source updater as it currently doesnt removes old files/folders. it just overwrite the ones that already exist. So in short old themes are not removed.

[2015-08-03 09:59] Hellowlol commented on #291
Ok

[2015-08-03 20:29] #290 closed, assigned to nobody

[2015-08-03 20:32] Hellowlol commented on #291
@raysguy Login screen is after the _mig fix.

[2015-08-03 21:08] Hellowlol commented on #291
@raysguy have you tried something like this `@media screen and (max-width: 979px) {
  .navbar .rg-htpc {
    padding: 7px 0 5px 12px!important;
    margin-top: 5px!important;
  }
  .navbar .btn {
    margin-top: 0px !important;
  }`
Its far from perfect but i think its a little better atleast. Bah, the brand button gets to far from the edge, but you get the idea at least.

[2015-08-03 22:10] bughatti commented on #170
I would like to see this also, are there any open possibilities Hellowlol that can convince you to build this?

[2015-08-03 22:33] Hellowlol commented on #291
The progress bar sees to be to high
![image](https://cloud.githubusercontent.com/assets/1214134/9049264/630af69e-3a40-11e5-8ff7-c93aa59fcf19.png)

set .progress margin-bottom 0px; module css

[2015-08-03 22:36] Hellowlol commented on #291
![image](https://cloud.githubusercontent.com/assets/1214134/9049303/d4725bd8-3a40-11e5-924e-28bfcfa18df1.png)
nzbget image seems chopped

[2015-08-04 04:16] thatbritguy commented on #290
Awesome thanks, works like a charm! :)

[2015-08-04 04:24] thatbritguy commented on #291
Cool I'll play around with those values and try to get them aligned on mobile view.

Thanks for figuring out the progress bar issue - you've no idea how many hours I wasted trying to figure that out!

Weird about the download button image, I thought I'd sorted that whilst I was on them.  I don't think the icon is chopped, I think it's actually mis-aligned.  I probably tweaked something on the rg-i

[2015-08-04 04:27] thatbritguy commented on #291
Btw what browser are you using?  How do you manage to have all your form dropdowns, eg the category and indexer selectors perfectly square with no border-radius?!  I really want it to look like that for me but both chrome and safari impose rounded ones.

[2015-08-04 04:33] thatbritguy opened #292 "Fix - Sonarr download status for unaired series"
In the show list of the Sonarr module if a show hasn't yet aired, i.e. Sonar has no episode info, under the download column that item will have an empty progress bar with the label saying "undefined / undefined".  Looks odd.  Is there any way you could set it so that if Sonarr doesn't return any episode info it shows a "full" progress bar with the 'warning' class and the label reading "Unaired ser

[2015-08-04 04:35] thatbritguy commented on #292
<img width="1280" alt="sonarr unaired" src="https://cloud.githubusercontent.com/assets/10825337/9053257/91fc0392-3a6a-11e5-9b1f-142129f3a818.png">

[2015-08-04 04:45] thatbritguy commented on #292
Actually whilst I'm thinking about it, would there be a way to make all the labels/badges a fixed width on a certain module?  Always looks odd to me with the "continuing" / "ended" ones being different sizes.  Same with the quality labels to.  Be great if they were all a fixed width like the download bar with the text label centered.

[2015-08-04 05:07] Hellowlol commented on #291
Im using chrome, ill find the version number later. Btw chromes
Box model is awesome for figuring out stuff like that as the margin etc get colored around a object.

[2015-08-04 06:06] Hellowlol commented on #292
Hmm, i thought i already have a warning of that. Do you have a screenshot of it? And just to be clear im sure i can remove the undefined's atleast. I remember i thought the progress bars where a pain. What show has does this?

Edit: I just noticed that i check for unaired episodes, but not for missing info. I can fix that, just give me name of a show that is messed up :P

Regarding the labels i ha

[2015-08-04 06:25] Hellowlol commented on #291
Btw the season buttons was much easier to see after the last update, as the season that was open wasnt toggled as open. (no active class)

[2015-08-04 06:40] Hellowlol commented on #292
Labels: http://jsfiddle.net/4yq8xL6z/

[2015-08-04 06:51] thatbritguy commented on #291
Yeah that looks much better.  Couldn’t understand why it wasn’t behaving the same as other tabs.

[2015-08-04 06:58] thatbritguy commented on #292
On the screenshot above the two unaired shows are "The Guide To Surviving Life" and "Hot & Bothered".  That's how they appear in the Sonarr module.

[2015-08-04 06:59] thatbritguy commented on #292
Awesome i'll play around with the labels.  Looks like it will be much simpler than I thought!

[2015-08-04 07:06] Hellowlol commented on #292
Oh, lol, i cant believe i missed it. It looks awefull.

[2015-08-04 07:14] thatbritguy commented on #292
This is the page view for an unaired show btw.  Maybe for shows that aren't scheduled the "Airs" section could display "TBC" instead of being blank.

<img width="1279" alt="sonarr_view unaired" src="https://cloud.githubusercontent.com/assets/10825337/9055069/30fcaa78-3a7f-11e5-9272-03fa2727cda9.png">

Don't know if it's a viable solution but I'm thinking maybe when Sonarr returns no episode info f

[2015-08-04 07:15] thatbritguy commented on #292
Lol yeah although to be fair it stands out a lot more on dark themes (probably why I never noticed it before as I've always used light ones.

[2015-08-04 07:21] thatbritguy opened #293 "Request - Localisation option for Sonarr!"
Any chance of some localization settings to select date format etc please?

This is what I see on Sonarr page.  Was trying to figure out why the hell Arrow was airing next week, until I realised it's the American date format and it's 8 October not 10 August!!!!!   So confusing as a Brit seeing those dates!  A global option to change the format would be so useful - not asking for a list of countrie

[2015-08-04 07:27] Hellowlol commented on #292
What does TBC short for wouldnt "TBA" To Be Announced be better? I can simply remove the airs field if there is not airdate.

[2015-08-04 07:30] Hellowlol commented on #293
Im not really sure if i can add this. It gonna be major pain as the date format isnt the same. Sonar has a format that is easy to parse. Others have has dd/mm/yyyy, some has time since epoch etc.

[2015-08-04 07:33] Hellowlol commented on #293
In Norway we write dates as dd.mm.yyyy so im used to wrapping my head around dates :P

[2015-08-04 07:41] thatbritguy commented on #292
To Be Confirmed, but yeah TBA is better anyway I think.

[2015-08-04 07:43] Hellowlol commented on #292
Ok, TBA it is then. =)

[2015-08-04 07:44] thatbritguy commented on #293
Actually, now you mention it the only place I really see the date in HTPC is Sonarr, so I'm officially changing my request (even changed the title :P) to just have localisation settings for Sonarr if that's okay!

[2015-08-04 07:46] thatbritguy commented on #293
Lol yeah we use the same format as you. I can just about get my head around see things as yyyy/mm/dd but mm/dd/yyyy is just mind boggling!

[2015-08-04 08:10] Hellowlol commented on #293
Seems just as simple to set a locale, as it is to choose between date formats. What do you want? Locale or time format?

[2015-08-04 08:11] Hellowlol commented on #293
Making themes "buys" alot for goodwill :P

[2015-08-04 11:02] Hellowlol commented on #292
Btw, your missing the from second screenshot since your using auth on sonarr(?)

[2015-08-04 11:10] thatbritguy commented on #292
What's missing in the second screenshot?  I have the "(Forms) Login page" option set in Sonarr.

[2015-08-04 11:22] Hellowlol commented on #292
There should be a banner image there. But you cant see it because of the login form. It only works without auth. Disable auth in sonarr and you will see what i mean.

[2015-08-04 11:28] thatbritguy commented on #293
Hahaha thanks, that's good to know! :D

I think having a choice of date formats would be best with these as the options if possible please:

Date:
Fri, 31 Jul 2015
31 Jul 2015
31/07/2015
31-07-2015
Fri, Jul 31 2015
Jul 31 2015
07/31/2015
07-31-2015
2015-07-31

Time:
8pm/8.30pm
20:00/20:30

[2015-08-04 11:31] thatbritguy commented on #292
I've always wondered why there isn't an image there!!!! Is it the banner image?

Unfortunately I have to have the auth active as my server is available outside of my home network.  Is there a workaround at all? Used to use an iPhone app when I was jailbroken called NZBUnity and that had banner image for each show.  Maybe it was grabbing them externally.  Would it be possible to say grab the tvdbid

[2015-08-04 11:45] Hellowlol commented on #292
Disable auth remove sonarr from www and use htpc manager? It is what htpc manager is meant for :P Any features thats missing preventing you from using it?

Hmm, maybe i havnt look into that. Im sure its possible. I have commented on a issue at sonarr and i hope they allows to access that endpoint if apikey exist.  If not we have some options, add username and password to sonarr settings so it can

[2015-08-04 13:33] thatbritguy commented on #292
The problem is it's installed on my headless server which is internet accessible for remote access, so I have all software secured (I bought my own SSL certificates to make it more secure but I've never been able to figure out how to get that to work on anything!!!).  I use HTPC for the day to day stuff but for admin tasks like updating the software, toggling monitored status, changing folder path

[2015-08-04 13:47] Hellowlol commented on #292
Yeah, its just the function that isnt used. Its called directly from the other functions. see https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/js/sonarr_view.js#L43 for a example.

I can do that but i still need to support both basic auth and form login as its not done the same way. Its no biggie, but it would be better if this was supported in sonarr. https://github.com/S

[2015-08-04 17:13] thatbritguy commented on #292
Yeah it's crazy that they don't allow that access.

[2015-08-04 17:27] thatbritguy opened #294 "Bug - Searching fails for various newznab indexers"
I have five newznab indexers set up in HTPC for searching and realised today I only ever get results for two of them (dognzb and althub).  Ran some tests and PFMonkey, oznzb and nzb.su fail.  Two of them give errors in the logs one doesn't appear to.

Pulled the logs from the tests:  http://pastebin.com/9abfbKV9

[2015-08-04 17:53] Hellowlol commented on #294
Oznzb will not work. It's not the same api, use the search URL of each for the providers (you can see it in the log directly in your browser and copy to content to a pastebin (one for each provider) also is this the debug log? Can you wipe the log search again and give me the entire thing?

[2015-08-04 18:21] thatbritguy commented on #294
Well nzb.su is easy - that returns a page that says "403 Forbidden nginx".  Here's the link for PFMonkey: http://pastebin.com/YWnPRFTG

[2015-08-04 18:26] thatbritguy commented on #294
nzb.su - full clean log - http://pastebin.com/i0rWxxRX

PFMonkey - full clean log - http://pastebin.com/WzG1SGdc

[2015-08-04 18:56] Hellowlol commented on #294
And the responses when you try the same URLs in your browser?

[2015-08-04 18:58] thatbritguy commented on #294
That's the first of my last two comments.  When I try the nzb.su one I get the 403 Forbidden nginx message and with PFMonkey I get this http://pastebin.com/YWnPRFTG

[2015-08-04 18:59] Hellowlol commented on #294
Ah okei.

[2015-08-04 19:11] Hellowlol opened #296 ""Issues" theme moonlight"
The issues regarding this readability.

The font are to slim, i have a hard time reading alot of the text.

![image](https://cloud.githubusercontent.com/assets/1214134/9069880/49933a9e-3aec-11e5-8021-d6eb46044af9.png)
(We could change the color on the error, but still)

Da fuk?
![image](https://cloud.githubusercontent.com/assets/1214134/9069886/5d2b48b2-3aec-11e5-8d67-1a7a9b44ebd5.png)

The next i

[2015-08-04 19:31] thatbritguy commented on #296
Hahaha, wtf?!  What have you done to my baby?! Hahaha.  I have no idea why it looks like that - I don't see any of that at all on mine.  Where are the solid red bars coming from?  Table rows should alternate between the two shades of grey.  And I have a username and password in the settings too but the text box background is gray just like the Port and Webdir etc.

Can you try a different browser?

[2015-08-04 19:34] Hellowlol commented on #294
Well they are not really giving us much to work with here :P

Regarding nzb su your sure its the correct api url and that the apikey is correct?

pfmonkey doesnt return anything usefull :( Can yoy try searching on something you know exist like game of thrones or something? just wanna check the response from pf again.

[2015-08-04 19:36] Hellowlol commented on #296
As for the trs, thats because the "episodes" are missing. Ill try with the git version. This was via the source updater, but there "might be issues". Ill check the git version

[2015-08-04 19:38] thatbritguy commented on #294
Yeah the nzb.su details are correct.  Exactly same ones as in Sonarr and that is  working okay at the moment.

Retried the PFMonkey test on Game of Thrones but the result was identical to the last one.

[2015-08-04 19:43] thatbritguy commented on #296
Oh crap I don't use SickRage, do all the themes look like that?  I thought other modules would behave same as Sonarr with labels for episode status.  Are the whole trs supposed to be red?

Cool, let me know what you find.  I've just tried a test environment of HTPC on my laptop which I use when working on it, and also the production version on the server.  Both working okay on latest commit.

[2015-08-04 19:44] Hellowlol commented on #296
Ok, so i tried the git version. The white input field was fixed.

This is firefox
![image](https://cloud.githubusercontent.com/assets/1214134/9070799/eeefe190-3af1-11e5-8a9a-b76029e488ef.png)

[2015-08-04 19:46] Hellowlol commented on #296
The red stuff is okei. I wanted to get smacked in the face if something isnt downloaded. But the issue is still with the font. Can you make a ss on how this looks on your computer with moonlight?

[2015-08-04 19:59] Hellowlol commented on #296
I think its just a useragent thing regarding nzb.su, As for pfmonkey i have no idea.

[2015-08-04 20:27] Hellowlol commented on #294
@raysguy Is nzb.su invite only?

[2015-08-04 20:34] Hellowlol commented on #294
@raysguy you pf url is wrong, you need to use ssl or you will get that response. Write https://www.pfmonkey.com

![image](https://cloud.githubusercontent.com/assets/1214134/9072134/b8d0b5dc-3af9-11e5-8667-d9efb79d57e1.png)

[2015-08-04 20:44] thatbritguy commented on #296
Okay I just installed and set up SickRage so I could see what was happening here.  Can you add the following to sickrage.css and confirm that fixes it for you?

`.table tbody tr.error td {
    color: inherit !important;
}`

[2015-08-04 20:49] thatbritguy commented on #294
Ah crap, not sure how that happened as I copied and pasted from sonarr settings and it's correct in there.  That cleared that up!

Yeah nzb.su is invite only

[2015-08-04 20:49] Hellowlol commented on #296
Hm fix what? the red stuff?
![image](https://cloud.githubusercontent.com/assets/1214134/9072370/0d852684-3afb-11e5-9019-543ff6d5ee90.png)

[2015-08-04 20:53] Hellowlol commented on #294
Ok, Ill try to add another header. It that doesnt work it will be broken until i have nzb.su account  :)

[2015-08-04 20:54] thatbritguy commented on #296
Yeah, why are your fonts showing so thin though?  Here's screenshot of it on my chrome:

<img width="1272" alt="srtest" src="https://cloud.githubusercontent.com/assets/10825337/9072489/64aa4e2e-3af3-11e5-8514-1300af8d49a7.png">

[2015-08-04 20:57] thatbritguy commented on #296
And this is same page on safari:

<img width="1275" alt="srtestsafari" src="https://cloud.githubusercontent.com/assets/10825337/9072561/d7740a6c-3af3-11e5-820f-c1685440ee75.png">

[2015-08-04 20:59] thatbritguy commented on #294
Well if you need an invite for testing purposes just let me know :)

[2015-08-04 20:59] Hellowlol commented on #296
I have no idea... :P Prob the same reason as my dropdowns are so square xD

[2015-08-04 21:05] Hellowlol commented on #294
Can you update and try nzb.su again?

[2015-08-04 21:05] Hellowlol commented on #294
Yeah, i might take you up on that if this doesnt work.

[2015-08-04 21:12] thatbritguy commented on #296
Okay I'm pretty sure this is a Windows issue.  Just set up a Windows 10 VM and tried on Microsoft Edge and Google Chrome on there and it looked like yours.  No clue why Windows should display things differently though...

EDIT - actually it still isn't as thin as yours but definitely thinner than mine.  Maybe a ClearType issue?

[2015-08-04 21:29] Hellowlol commented on #296
Dunno, i just picked the "best" options in the cleartype settings. Can you post a pic how it looks on windows?

[2015-08-04 21:32] Hellowlol commented on #296
@Fma965 Are you using windows as well? Can you post a ss of the moonlight theme?

[2015-08-04 21:43] fma965 commented on #296
I cant get a screenshot currently but yeah mine look like yours @hellowlol and I run Windows 10 and chrome, I did mention that this when I said my fonts look un readable on the other issue.

[2015-08-04 21:45] Hellowlol commented on #296
Ok, so we need to find a better font. Not being able to use it on a entire platform is unacceptable.

[2015-08-04 21:46] Hellowlol commented on #296
Bars, dropdown and text is not aligned
![image](https://cloud.githubusercontent.com/assets/1214134/9073634/f6b83a74-3b02-11e5-99bb-fd1f5a41f556.png)

[2015-08-04 21:49] fma965 commented on #296
My guess would be somesort of font compatibility issue or clear type issue

[2015-08-04 22:03] madclicker commented on #296
IMO most of your themes are un-readable because of the font issues.
Slate is the best after I tweaked it quite a bit. Also I'm not a big fan
of altering the original bootstrap code. You can do everything you need
by overriding in another script.

On 08/04/2015 05:49 PM, Scott wrote:

[2015-08-04 22:10] Hellowlol commented on #296
This is how it looks on
![image](https://cloud.githubusercontent.com/assets/1214134/9074036/51ee5d8a-3b06-11e5-9991-31298a7a3083.png) after i replace the font url: //fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext

[2015-08-04 22:25] thatbritguy commented on #296
Yeah that's because the theme can no longer find the font weight it's looking for :P
There are three themes I specifically used really light fonts (Moonlight, Plexibility and Sublime) for variety as some people prefer really light ones _cough_ _me_ _cough_! Hahaha

I found a fix for the issues Windows has with fonts which can be applied without messing up the fonts.  Add the following to base.css:

[2015-08-04 22:27] fma965 commented on #296
Except webkit prefixed css is only going to work for chrome, what bout Firefox, ie, edge?

[2015-08-04 22:27] thatbritguy commented on #296
@madclicker - Slate was one of the old themes that has been removed and isn't part of the re-bootstrap themes.

[2015-08-04 22:31] fma965 commented on #296
Are you altering bootstrap code? That's really bad for future proofing, isn't using important in css bad practice unless absolutely necessary?

[2015-08-04 22:35] Hellowlol commented on #296
I dont really see that as a issue. You more free to choose yourself. Im just happy im not doing it :P

[2015-08-04 22:41] thatbritguy commented on #296
@Fma965 the issue is supposedly one which primarily affects webkit browsers on Windows and that's the fix people seem to have found the best. IE and their Trident engine is a whole different story and I have no plans to support those.

As for altering bootstrap code - I used the same method and techniques to compile the themes as is used by bootswatch themes (using the LESS variable and scaffoldin

[2015-08-04 22:42] fma965 commented on #296
It's not and issue till you try to change stuff or want to update bootstrap version.

[2015-08-04 22:43] fma965 commented on #296
OK ignore my previous comment since you just gave me the answers, seems I mis understood  great work. It's late here so that's my excuse

[2015-08-04 22:48] Hellowlol commented on #294
@raysguy did it work?

[2015-08-04 22:49] thatbritguy commented on #296
We had a whole discussion about updating to bootstrap 3 before I started doing the themes (otherwise I would have held off) but I believe @Hellowlol came to the same conclusion as me which is basically that the amount of work and problems involved in trying to update to bootstrap 3 far outweighed any potential benefits of doing so.

That's okay, I've learned a lot as I've gone through the process

[2015-08-04 22:57] thatbritguy commented on #294
Oops sorry, got distracted playing around with the font stuff on my test build :D

Just tried it on latest commit but still returning same error as before.

[2015-08-04 23:03] Hellowlol commented on #294
Ok can you send me a inv to hellowlol1@gmail.com?

[2015-08-04 23:06] thatbritguy commented on #294
Sent :)

[2015-08-04 23:11] Hellowlol commented on #294
Thanks, I'll see if I can't fix this tomorrow.

[2015-08-04 23:13] thatbritguy commented on #294
Awesome, thanks

[2015-08-05 11:18] Hellowlol commented on #296
@raysguy Are you planning on sending a pr to correct the errors?

[2015-08-05 11:20] fma965 commented on #296
@raysguy if you need any help with the css or html let me know.

[2015-08-05 13:29] Hellowlol commented on #296
@Fma965 Feel free to pick a theme and go thru every module for errors :P

[2015-08-05 13:51] thatbritguy commented on #296
I've just implemented something which should work for everyone. Just need to figure out why the settings page is error in our on me! :P

[2015-08-05 13:52] Hellowlol commented on #296
do you get a traceback?

[2015-08-05 13:53] thatbritguy commented on #296
Thanks @Fma965. I don't have access to every module in HTPC so just let me know if you come across anything funky. :)

[2015-08-05 13:54] thatbritguy commented on #296
I get a whole bunch of cherry py errors.

[2015-08-05 13:55] fma965 commented on #296
Actually i got a feature request... add multiple fonts in a dropdown or by entering a google fonts URL :) i think this would be cool

[2015-08-05 13:59] thatbritguy commented on #296
It would be cool but also a major headache to implement and maintain. Had to be really careful about fonts I chose as some have weird spacing and break everything.

What I've been adding today though is a second variant of each theme with heavier font-weight which can be toggled on or off via a switch on the theme settings page :)

[2015-08-05 14:04] Hellowlol commented on #296
@raysguy You can use https://github.com/Hellowlol/HTPC-Manager/blob/master2/htpc/helpers.py#L237 to return the template instead of https://github.com/Hellowlol/HTPC-Manager/blob/master2/htpc/settings.py#L40 (i wrote that helper as mako without debugging is pain.)

[2015-08-05 15:51] fma965 commented on #296
@raysguy it wouldn't be hard to implement but yeah it would be hard to maintain, maybe.. .depends on if we just told them no support with custom fonts though, loving the new option thats coming anyway :)

[2015-08-05 16:53] thatbritguy commented on #296
Toggleable option added in PR #297 which increases font weight in all themes that weren't using heavier font weights to begin with.  Let me know how you get on with it.

[2015-08-05 17:43] Hellowlol commented on #296
It was a lot better on mobiles at least!

[2015-08-05 17:46] fma965 commented on #296
looking much better on chrome :)

With Heavy
![GitHub Logo](http://i.imgur.com/C6ELq2m.png)

Without Heavy
![GitHub Logo](http://i.imgur.com/NpPgIPr.png)

[2015-08-05 17:48] #277 closed, assigned to nobody

[2015-08-05 18:09] bakman2 commented on #296
I have customised the onyx theme, I have a hard time with the default exotic fonts and their sizes and the colors. Bootstrap is a bit over the top. (I usually work with skeleton together with an icon font).

I have stripped colors from buttons and reduces font-sizes,line-heights and paddings and added the roboto font.

![screen shot 2015-08-05 at 19 12 51](https://cloud.githubusercontent.com/asset

[2015-08-05 18:16] Hellowlol commented on #296
@bakman2 looks good. send me a pr if you want to not deal with that no every update  (give it a new name and remember to add support for extra large font weight)

[2015-08-05 18:21] bakman2 commented on #296
Thanks I have to optimise it a bit.
Btw would it be possible to add an active state to the nav-bar ? (to highlight whatever was clicked)

[2015-08-05 18:39] DylanGore opened #298 "rTorrent Support"
The only thing that this is missing for me is support for the rTorrent client, any chance that support might be added in the future?

[2015-08-05 18:43] Hellowlol commented on #296
Is that really needed? Every module has a module name in the upper left corner.

[2015-08-05 18:49] Hellowlol commented on #298
Only if someone sends a pr. :)

https://github.com/cjlucas/rtorrent-python

[2015-08-05 19:07] fma965 commented on #296
it's not needed but would look better and shouldn't be hard to implement although i don't know python i know how to do it in php, also i really love that new "onyx based theme"

[2015-08-05 20:25] bakman2 commented on #296
just add to default.js (somewhere near the end of $(document).ready())

[code]

and in css

[code]

[2015-08-05 20:58] Hellowlol commented on #292
Can you update to the latest and see if thats good enogh?

[2015-08-05 21:48] Hellowlol commented on #294
It works when i test now. I was missing a - from the header..

[2015-08-05 21:48] #294 closed, assigned to nobody

[2015-08-05 22:21] Hellowlol opened #299 "Newznab"
Add a option for auto set category based on current tr main category

[2015-08-05 22:41] fma965 commented on #296
He's likely to accept that if you send it as a PR (pull request)

[2015-08-05 22:46] Hellowlol commented on #296
Yeah I will. Just make sure use use use the same color as the current theme hover or something. Some off the dark themes has that on the navbar

[2015-08-05 22:47] thatbritguy commented on #296
Does that code force text in the page-header to lower case?  Don't think that should be imposed on people.

[2015-08-05 22:48] Hellowlol commented on #296
No only the Ids that is used for navigation (they are hardcoded anyway)

[2015-08-05 22:59] #280 closed, assigned to nobody

[2015-08-05 23:00] #291 closed, assigned to nobody

[2015-08-06 07:14] bakman2 commented on #266
I use plexivity - i would like to have it on the dashboard, but there is no api. (or instead: would actually be great to see if someone is watching plex - on the dashboard)

[2015-08-06 07:19] thatbritguy opened #302 "Request - option to toggle off active navbar item"
Could a switch option be added into the theme settings to disable the active navbar items please?  It only works on a few items for me and I'm not a fan of how it looks on most of the themes.

[2015-08-06 07:22] Hellowlol commented on #266
@bakman2 That should be simple to add. You obviously know your stuff so i reckon you can do this your self?

[2015-08-06 07:23] thatbritguy commented on #292
Yeah that looks much better than before :)

[2015-08-06 07:24] Hellowlol commented on #302
Can do.

[2015-08-06 07:25] bakman2 commented on #302
is this caused by my action ?

[2015-08-06 07:27] #292 closed, assigned to nobody

[2015-08-06 07:28] Hellowlol commented on #302
Haha, yeah. No biggie, we can make both happy :P

[2015-08-06 07:31] thatbritguy commented on #302
@Hellowlol Awesome, thanks.

@bakman2 I'm not sure but the only item that actually highlight when active for me is Plex.  The other items I have it doesn't work on are Sys Info, vnStat, Samsung Remote, Sonarr, Newznab, Torrents or CouchPotato.

[2015-08-06 07:33] Hellowlol commented on #302
I havnt tested this myself, i just checked for syntax errors. I think it would be very nice if it used the same color as when you "hover" over them.

[2015-08-06 07:37] bakman2 commented on #302
I see it :( didn't fail for me as the menu items matched the id's. But I see that my "stats" has the ID of vnstat. Have to figure out a different way.

~~@Hellowlol I see an array of the menu items being generated is that coming from python somewhere ?~~ found it, not an option to modify this with the current active?

[2015-08-06 07:55] Hellowlol commented on #302
Its coming from the db as the menus can be reordered.

Edit: I dont know, im not that good with js/jquery so ill have to check (the reorder dash and navbar was a pr) But im sure we can fix this :)

[2015-08-06 08:19] bakman2 commented on #302
Is it possible to determine the requested page ?

then it should be possible to build the array with an additional class in this part ?

[code]

[2015-08-06 08:22] bakman2 commented on #266
lol I know some javascript/jquery but python is a little different for me. I will take a look though.

[2015-08-06 08:26] thatbritguy opened #303 ""Issues" theme sable"
Just a few random bugs I've noticed from an initial glance:
- On a mobile device the menu button doesn't work so you can't access anything.
- You need to add in files for the heavier theme variant as if the heavy option is enabled when someone selects sable the page doesn't load as it's looking for a theme file that doesn't exist.
- Login page - the login button is shorter than the input fields so

[2015-08-06 08:28] Hellowlol commented on #302
I dont think so, i think we have to solve this with js.

[2015-08-06 08:36] bakman2 commented on #303
Good debug thanks. I will look into all the issues.
For Plex - where is a "wake button" ? i don't see it ?

[2015-08-06 08:37] Hellowlol commented on #266
No python is required. (Since that the plex module already supports this)

See how the plex modules does it here:
https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/js/plex.js#L581

[2015-08-06 08:39] Hellowlol commented on #303
You need to enter the mac :)

https://github.com/Hellowlol/HTPC-Manager/blob/master2/interfaces/default/html/plex.html#L24

[2015-08-06 08:59] fma965 commented on #303
![image](https://cloud.githubusercontent.com/assets/1707290/9107770/d97c2ee6-3c21-11e5-9924-a4386961fce9.png)
Is the menus and title background meant to look like this?

[2015-08-06 09:04] fma965 commented on #303
2015-08-06 10:03:37 webui.console.errors    ERROR   {'message': u'Uncaught Error: Syntax error, unrecognized expression: #nav-couchpotato (movies)', 'line': u'34', 'file': u'http://remote.cyanlabs.net/htpc/js/libs/jquery.min.js', 'page': u'http://remote.cyanlabs.net/htpc/couchpotato/'}

[2015-08-06 09:06] bakman2 commented on #303
it can't find the ID. Will either remove the "active" or think of another solution.

[2015-08-06 09:08] bakman2 commented on #303
I don't see this happening ? (in plex on iphone)

[2015-08-06 09:10] Hellowlol commented on #303
That is related to https://github.com/Hellowlol/HTPC-Manager/issues/302#issuecomment-128278558.

[2015-08-06 09:12] fma965 opened #304 "Revert back to e85be0b"
Everything breaks after this commit, the active nav was clearly not tested very well and results in sonarr/couchpotato and everything not working.

[2015-08-06 09:13] fma965 commented on #304
#303

[2015-08-06 09:14] Hellowlol commented on #304
Done

[2015-08-06 09:14] #304 closed, assigned to nobody

[2015-08-06 09:15] fma965 commented on #304
Great, thanks :)

[2015-08-06 09:15] thatbritguy commented on #303
I can't access Plex on iPhone due to the menu button issue, but it happens when viewing on a computer.

[2015-08-06 09:18] fma965 commented on #302
i got an idea on the navbar thingy

[2015-08-06 09:19] bakman2 commented on #304
What didnt work in sonarr ?

[2015-08-06 09:20] fma965 commented on #304
everything... it wouldn't load cuz js error

[2015-08-06 09:20] bakman2 commented on #302
@Hellowlol in default.js i see

[code]

~~this doesn't appear to work, not sure why, maybe move to the bottom ?~~
this works when moved to the bottom (after the menus have been created)

[2015-08-06 09:23] bakman2 commented on #304
Ah ok. I have a fix.

[2015-08-06 09:25] Hellowlol commented on #302
Hmm, i cant remember what that was used for, i tought it was for the tabs or something :P You can try :D

[2015-08-06 09:28] fma965 commented on #302
haha it's funny you posted that code as that was my plan, i was gonna get the last part of the url and then use that as the class just like this code does. that said i don't think this would work for me, as i have remote.cyanlabs.net/htpc/NAME so it wouldn't be the second /

[2015-08-06 09:29] fma965 commented on #302
path = window.location.href.substring(window.location.href.lastIndexOf( '/' ));
$('#nav-'+path).addClass('active')

would work on all cases.

[2015-08-06 09:31] fma965 commented on #302
or

path = window.location.href.split("/").pop();
$('#nav-'+path).addClass('active')

[2015-08-06 09:39] bakman2 commented on #302
strip of the last /

[code]

[2015-08-06 09:40] bakman2 commented on #303
Yes the menu icon is a problem, working on it.

[2015-08-06 09:40] fma965 commented on #302
yep noticed that :D

[2015-08-06 09:49] fma965 commented on #302
making PR to fix nav active

[2015-08-06 10:13] fma965 commented on #303
if we have the nav active working wouldn't this theme look better with
`.page-header {
    display: none;
}`

EDIT: this would break the upload/download speed counters in deluge and other torrent/downloaders though so lets ignore this :)

[2015-08-06 10:28] thatbritguy commented on #303
Also all the header buttons would be inaccessible :P

[2015-08-06 10:35] bakman2 commented on #303
it is unfortunate that the pulldown menu lives in the h1 tag, makes it a bit more difficult to customize.

[code]

would work, but if there is no indicator it would hide the black bar (and if there is a menu it would "float")

[2015-08-06 11:12] bakman2 commented on #303
Is it possible to move the inline css of the refresh icons to the theme css ? (currently hardcoded in dash.js)

[2015-08-06 11:15] fma965 commented on #303
isn't it also bad code to have the menu insde a h1 tag?

[2015-08-06 11:39] Hellowlol commented on #303
@Fma965 I think it was done to simply alignment. I have no idea about best pratice for that. I dont care aslong as it works :D

@bakman2 Yes, we can just use the ids and or classes that are added, just remember that you have to do it for them all...

[2015-08-06 11:40] fma965 commented on #303
yeah i care to some extent but some of it is just too annoying to sort :)

[2015-08-06 11:47] Hellowlol commented on #303
Hehe, i know the feeling. HTPC-Manager has been a collective effort and clear when reading the code. There is alot of different way to do stuff :D

[2015-08-06 12:45] DylanGore commented on #298
I'd do it myself but I wouldn't know where to begin

[2015-08-06 12:50] Hellowlol commented on #298
You can start here: https://github.com/Hellowlol/HTPC-Manager/wiki/How-to-make-your-own-module
Its not done. But it should get you started. Feel free ask for help

[2015-08-06 12:51] Hellowlol commented on #298
Ill finished the guide if you want to.

[2015-08-06 13:04] DylanGore commented on #298
Thanks, I'll defiantly give it a go!

[2015-08-06 13:08] Hellowlol commented on #298
You should. A guide like that was how i got started (the guide was much better then the mine :P)

[2015-08-06 14:00] bakman2 commented on #303
@raysguy see #306 most should be fixed (i have recreated the theme)

[2015-08-06 15:05] bakman2 commented on #14
I see the content of my local library, is it supposed to work with shared libraries as well ?

[2015-08-06 15:14] Hellowlol commented on #14
I don't know, I have never tested it (no one shares there library with me)

[2015-08-06 15:21] Hellowlol commented on #14
Is shared lib listed in /sections ?

[2015-08-06 18:22] Hellowlol commented on #303
This is the modal from sickrage if you search for something
![image](https://cloud.githubusercontent.com/assets/1214134/9119778/d9daae74-3c78-11e5-8eef-0befb1d3fab3.png)

Progressbar text needs to a bit lower because of the line height.
![image](https://cloud.githubusercontent.com/assets/1214134/9119835/2869b0e4-3c79-11e5-8479-a56a6ac88178.png)

[2015-08-06 19:57] #299 closed, assigned to nobody

[2015-08-06 20:42] maxcore opened #308 "How use System info on Synology"
No info in the wiki section ! anyone can help me ?

[2015-08-06 21:17] Hellowlol commented on #308
Its not possible as psutil isn't included in synology python spk. See https://github.com/SynoCommunity/spksrc/issues/1441#issuecomment-109720942 I hope they decide to add it

[2015-08-06 21:17] #308 closed, assigned to nobody

[2015-08-06 22:22] Hellowlol commented on #298
@DylanGore I have updated the guide so it works.

[2015-08-07 09:21] thatbritguy commented on #294
Still getting identical error message to before for nzb.su.

[2015-08-07 09:53] Hellowlol commented on #294
Hmm, strange. Can you try the url manually in your browser, check the reponse. Then login to the site. Use htpc manager to search, it that doesnt work try the url manually again. Do it in that order plx.

[2015-08-07 12:53] rudyvarner opened #309 "No titles in Mylar history"
Looks like the Title field in the Mylar - History tab is not populating.  Using the Sable theme if it is relevant.

![image](https://cloud.githubusercontent.com/assets/5005529/9136054/5e7c8478-3ce1-11e5-951f-217d56af7001.png)

Log:

2015-08-07 08:52:34 modules.mylar   DEBUG   calling api @ http://localhost:8087/mylar/api?apikey=*******************************_&cmd=getIndex
2015-08-07 08:52:34 modu

[2015-08-07 13:16] Hellowlol commented on #309
Can you call http://ip:port/mylar/GetHistoryList and give me the response? (i dont have mylar installed anymore)

[2015-08-07 13:22] rudyvarner commented on #309
Here is a portion of it.  Was way too long to past the whole thing.

[{"Status": "Downloaded", "ComicName": "Detective Comics", "IssueID": "496857", "FolderName": null, "Issue_Number": "43", "Provider": null, "Size": null, "DateAdded": "2015-08-07 08:44:59", "ComicID": "42594"}, {"Status": "Snatched", "ComicName": "Detective Comics", "IssueID": "496857", "FolderName": null, "Issue_Number": "43", "

[2015-08-07 13:25] Hellowlol commented on #309
Did it work before? If it did they have changed the api and its easy fix.

[2015-08-07 13:34] rudyvarner commented on #309
Actually I don't recall if it ever worked.  I just noticed it now.

[2015-08-07 13:51] Hellowlol commented on #309
OK, ill fix it later today.

[2015-08-07 19:33] #309 closed, assigned to nobody

[2015-08-09 00:33] madclicker opened #310 "Update kodi after torrent or nzb download?"

[2015-08-09 06:13] Hellowlol commented on #310
I think that should be handled by the client.  Nzb search does add a category so if you using a post progress script it can update your media center.

[2015-08-09 06:25] Hellowlol commented on #303
@bakman2 the bugs I mentioned was not fixed when you redid your skin.

[2015-08-09 06:29] bakman2 commented on #303
The modal looks the same in the onyx theme ?
the bar should look like this:
![screen shot 2015-08-09 at 08 28 17](https://cloud.githubusercontent.com/assets/333960/9153804/a5456876-3e70-11e5-9de5-2035cdc383da.jpg)

[2015-08-09 07:44] Hellowlol commented on #303
I hadn't check that, but a lot of the dark themes has issues with modals. Especially modules that rays guy does not use.

[2015-08-09 10:03] #310 closed, assigned to nobody

[2015-08-09 16:19] #245 closed, assigned to nobody

[2015-08-10 12:04] Hellowlol commented on #302
@raysguy Is this still needed? I havnt seen any themes that are affect by this (only checked some.)

[2015-08-10 12:14] Hellowlol commented on #254
Closing this as i havnt notice this for while. If it pops up ill solve this in the template. Thanks anyway!

[2015-08-10 12:14] #254 closed, assigned to nobody

[2015-08-10 12:14] #296 closed, assigned to nobody

[2015-08-10 12:23] #239 closed, assigned to nobody

[2015-08-10 12:28] Hellowlol commented on #238
Im gonna close this as you can make the folder when/if you send a pr regarding the init script.

[2015-08-10 12:28] #238 closed, assigned to nobody

[2015-08-10 12:29] #206 closed, assigned to nobody

[2015-08-10 12:33] #196 closed, assigned to nobody

[2015-08-10 12:34] Hellowlol commented on #158
Nope, not gonna do this.

[2015-08-10 12:34] #158 closed

[2015-08-10 12:56] #147 closed

[2015-08-10 12:59] #143 closed

[2015-08-10 18:40] thatbritguy commented on #302
The ones it doesn't look good on are moonlight, plexibility and sublime as the text color when highlighted doesn't match the text color when hovering.

[2015-08-10 18:50] Hellowlol commented on #302
Hmm, any reason why we cant change that?

[2015-08-10 19:21] thatbritguy commented on #302
Lol I have no idea :P I'll have a look if the feature is updated to see how it looks on those.

[2015-08-10 19:40] Hellowlol commented on #302
Well make it look like hover? I think that looks nice.

[2015-08-10 19:43] Hellowlol commented on #302
Hmm, i cant remember how that looks on tabs / pills

[2015-08-12 09:32] l-t-k commented on #253
![1](https://cloud.githubusercontent.com/assets/3150962/9220846/c34d9be6-40e5-11e5-98ee-7cc9c544b0e6.jpg)

After the last updates I got this. It's almost there I think:D

[2015-08-12 10:02] l-t-k commented on #253
![foto](https://cloud.githubusercontent.com/assets/3150962/9221369/1982f426-40ea-11e5-82cd-7ffda989ef45.PNG)

Mobile view. Too much white space to be honest. One row of 'no wanted albums' is enough.

[2015-08-12 10:05] Hellowlol commented on #253
Hmm i was sure i had fixed this. Dunno why the h3 is missing from your first example but it works on your cell. Was the first ss from IE?

[2015-08-12 10:19] l-t-k commented on #253
Indeed IE problem. Fucked up. Chrome and Firefox are fine.

Offtopic, any idea how to specify the webroot in the init.d file as a deamon_opts? tried webroot=/htpc, but that's not working. I'm asking because I want to run two instances of htpc with the same database. I can change one to my own needs (and serve it to my users) and use the other as 'management' htpc.

[2015-08-12 10:24] Hellowlol commented on #253
Nope, know nothing about that stuff. Just out of queriosity why do you need two? The hole idea behind the "Manager users" is just use one (in addition to keep the bad guy away)

[2015-08-12 10:30] l-t-k commented on #253
I'm using an ldap backend for my users/passwords. All my apps, apache front page login, owncloud, mail etc. are connected to the ldap. Every user can login everywhere with one username and one password. In apache I can authorise users to use the manage htpc and/or the home htpc. So in my environment I can't use the 'users' thing since there is no ability for ldap.

And I know it's just to much ove

[2015-08-12 10:32] l-t-k commented on #253
However, I manage to solve the problem. Now running two instances of htpc. One with port 8085 and webdir = /manage and one with port 8086 and webdir = /home. Both are using the same .db file so changes in /manage are directly implemented to /home. The /home is from my own github page where I will disable the settings and other options and implement a logout button that redirects to my apache logou

[2015-08-12 10:33] Hellowlol commented on #253
Slightly overkill... :D, haha, cool.

[2015-08-12 10:39] Hellowlol commented on #253
Okei, im gonna close this, the function i wrote it generic but i to lazy to fix it for other module. If you see any other issued you can fix it you self by calling it the same way that the hp modole does. Ill remove the extra blank lines.

[2015-08-12 10:39] #253 closed, assigned to nobody

[2015-08-12 11:07] Hellowlol commented on #302
@raysguy I have finally found a solution that im happy with regarding the cache. I have never used so much time on such a small change. It was to slow, or fast enough and ate all my memory. I did a small test on 18500 images and it took 160ish sec and only used 90MB memory.. Ill start on this request after its merged.

[2015-08-12 11:26] Hellowlol commented on #253
@kooimens You should consider making a kiosk mode as i did for pytunes. It must be much easier then what your doing now :P See https://github.com/Hellowlol/PyTunes/commit/a8f4e054cd8821cb5c0f5a2d4f02f007825e9a2a#diff-98bc9d7319bb5d2c43d9ed101d5eb87b

[2015-08-12 11:29] thatbritguy commented on #302
Awesome that sounds great! :)

[2015-08-12 14:07] l-t-k opened #313 "iframe not working behind apache reverse proxy"
I'm using 'other apps' like this:
![1](https://cloud.githubusercontent.com/assets/3150962/9225645/e39bb106-410a-11e5-90ab-eb36c3a22647.jpg)

Working fine, if I hit the link I'm redirected to www.example.com/autosub. However, if I enable the iframe, it's not working:
![2](https://cloud.githubusercontent.com/assets/3150962/9225877/1aa3fab8-410c-11e5-8a79-2f066454bc76.jpg)

If i'm using the full url

[2015-08-12 14:16] Hellowlol commented on #313
And if you remove extra / ? Use the full URL

[2015-08-12 16:32] l-t-k commented on #313
Without slash, (autosub):
![4](https://cloud.githubusercontent.com/assets/3150962/9230043/6c45f09c-4120-11e5-8f8c-4b29c756aecd.jpg)

I already tried full url, see above

[2015-08-12 16:33] l-t-k commented on #313
Without slash htpc goes to www.example.com/home/iframe/autosub. /home is my webdir for htpc.

[2015-08-12 17:11] Hellowlol commented on #313
Ok. Can to manually test the URL /iframe?link=someurl.com

[2015-08-12 17:28] l-t-k commented on #313
`https://www.mydomain.com/home/iframe?link=https://www.mydomain.com/autosub`

Is working!

[2015-08-12 17:53] Hellowlol commented on #313
I expected that. Im i little busy so if you can send a pr about this ill merge it right away. If not ill do do it later. Just add ?link= to the js in default.js

[2015-08-12 18:12] rudyvarner commented on #256
Looks like this is broken again.  I haven't changed any config items whatsoever.

[code]

[2015-08-12 23:33] Hellowlol commented on #256
Can you update and check again?

[2015-08-12 23:36] #313 closed, assigned to nobody

[2015-08-13 10:30] l-t-k opened #315 "Problems with CP suggestions / charts artwork"
For some movies the artwork isn't loaded, but if I click on it, the larger art does show up. It's also correctly loaded in CP. I haven't installed PIL atm, because everything else work fine without it. Can you confirm this is PIL related?

Example 1:
![1](https://cloud.githubusercontent.com/assets/3150962/9247860/0222ad62-41b7-11e5-9ddd-14bb78a58b08.jpg)
![2](https://cloud.githubusercontent.com/as

[2015-08-13 12:06] Hellowlol commented on #315
And if you right click the missing image and manually paste the url htpc manager returns the image correctly? (and you browser isnt ie?). I dont think this is related to pil :/

[2015-08-13 12:08] rudyvarner commented on #256
Updated.  Still not showing anything.

[2015-08-13 12:22] rudyvarner commented on #256
I just had something strange happen.  I shutdown HTPC Manager and restarted it.  It complained that python modules PYASN1 and WORKERPOOL were not installed.  I installed them and it started correctly.  Are they new PreReqs for HTPC Manager?  Still no Wanted Albums.  Below is my lates log file.

[code]

[2015-08-13 12:28] Hellowlol commented on #256
ffs. thats right...

[2015-08-13 12:45] l-t-k opened #316 "Can't start HTPC-Manager anymore"
After a new and clean git clone and started with `python Htpc.py`:

`/opt/htpcmanage/libs/ndg/httpsclient/subj_alt_name.py:22: UserWarning: Error imp      orting pyasn1, subjectAltName check for SSL peer verification will be disabled.        Import error is: No module named pyasn1.type
  warnings.warn(import_error_msg)
/opt/htpcmanage/libs/ndg/httpsclient/ssl_peer_verification.py:25: UserWarning:

[2015-08-13 12:46] Hellowlol commented on #316
update again, i just reverted the commit. I forgot some libs

[2015-08-13 12:46] #316 closed, assigned to nobody

[2015-08-13 12:46] l-t-k commented on #316
Lol, too damn fast:D

[2015-08-13 13:20] l-t-k commented on #315
I can't click the missing image. This is the only link i get:
http://192.168.0.120:8086/webdir/couchpotato/#

Problem is not IE related this time;). Same happens on Firefox, Chrome or Safari (mobile)

[2015-08-13 13:22] Hellowlol commented on #315
Sorry, my bad. Can you try the image source manually?

[2015-08-13 13:24] Hellowlol commented on #316
Damn untracked folders I just checked in explorer. But they was there as I have added them in another branch

[2015-08-13 13:28] l-t-k commented on #315
I'm not sure what you mean. Some links that work in CP, but NOT in htpc:
http://ia.media-imdb.com/images/M/MV5BMTUwODUyNDM3NV5BMl5BanBnXkFtZTgwNzk0MzA2NTE@._V1_SX300.jpg
http://ia.media-imdb.com/images/M/MV5BMTkxMjgwMDM4Ml5BMl5BanBnXkFtZTgwMTk3NTIwNDE@._V1_.jpg

A link that work in both:
https://image.tmdb.org/t/p/w154/kJjXTVQ0yP6Ns5pd7YiyCYCdS3X.jpg
And HTPC link for same image:
https://mydomain.

[2015-08-13 13:30] l-t-k commented on #315
Ohh wait. In HTPC they do show up in the large view, but not in the small (poster view). Example link in HTPC (large view link):
https://mydomain.com/home/couchpotato/GetImage?w=154&h=231&url=http://ia.media-imdb.com/images/M/MV5BMTkxMjgwMDM4Ml5BMl5BanBnXkFtZTgwMTk3NTIwNDE@._V1_.jpg

[2015-08-13 13:31] l-t-k commented on #315
That last one is the Kingsman movie example

[2015-08-13 13:43] l-t-k opened #317 "Optimize iFrame"
I'm using the Iframe for some days now and I really like it. However, to my view some things can be better.
1. Scroll bar should be outlined to the right, just like HTPC does with his own apps.
   Iframe example:
   ![1](https://cloud.githubusercontent.com/assets/3150962/9250940/cc481744-41d0-11e5-8ecd-c4e4b747aec3.jpg)

HTPC app example (correct one):
![2](https://cloud.githubusercontent.com/asse

[2015-08-13 13:44] l-t-k commented on #317
If you can support me a little, like where to look, I will give a try to fix some things myself

[2015-08-13 13:52] Hellowlol commented on #317
Your on your own regarding this. Maybe @raysguy can help you out. Iframes are pita. I'm not good with css, I don't know where to start.

[2015-08-13 13:59] Hellowlol commented on #315
Ok. Find the small thumb images scr (the one that does not work) copy it. Delete the all the images in the cache folder, clear the log. Then paste the URL in your browser. Check if that image is ok by opening it in a image program and dump the log here.

[2015-08-13 14:03] Hellowlol commented on #315
What was the suggestion you mention n in the title? :)

[2015-08-13 14:15] Hellowlol commented on #256
No they will be included in htpc manager.